<div>
    <zf-sub-header>
        <zf-sub-header-title>
            {{ activeTab.name }}
            <small id="itemsCount" data-ng-if="activeTab.countFunc">({{ activeTab.countFunc.call() }})</small>
        </zf-sub-header-title>
    </zf-sub-header>
    <div class="page user-view-page">
        <div class="row ui-section">
            <div layout="row" layout-xs="column" class="col-lg-12 p-users__header-actions">
                <app-users-controls on-search="search()" on-reset="reset()" class="control-buttons" ng-if="activeTab.name === 'Users'"></app-users-controls>
            </div>
            <md-fab-speed-dial  id="main-fab" ng-if="activeTab.fabControlsCount > 1" md-direction="up" class="md-scale md-fab-bottom-right" has-any-permission="['MODIFY_USERS', 'MODIFY_USER_GROUPS']">
                <md-fab-trigger>
                    <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                        <span class="fa fa-bars"></span>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                </md-fab-actions>
            </md-fab-speed-dial>
            <div class="lonely-fab" ng-if="activeTab.fabControlsCount == 1">
                    <app-users-fabs ng-if="activeTab.name === 'Users'" create-user="showCreateUserDialog()"></app-users-fabs>
                    <app-group-fabs ng-if="activeTab.name === 'Groups'"></app-group-fabs>
                    <app-invites-fabs ng-if="activeTab.name ==='Invitations'" tools="tools"></app-invites-fabs>
            </div>
            <div ng-cloak class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-tabs md-no-ink md-stretch-tabs="never" md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
                            <md-tab ng-if="tab.show();" ng-repeat="tab in tabs" label="{{ tab.name }}" md-on-select="switchTab(tab, $index);">
                                    <app-users ng-if="tab.name === 'Users'" tabs="tabs" source="sr" search-value="sc" on-search="search()"></app-users>
                                    <app-group ng-if="tab.name === 'Groups'" tabs="tabs" groups="groups"></app-group>
                                    <app-invites ng-if="tab.name === 'Invitations'" tabs="tabs" invitations="invitations" groups="groups"></app-invites>
                            </md-tab>
                        </md-tabs>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>

