body {
    background: $main_container_bg;
    /*overflow: hidden;
    max-width:100%;
    max-height:100%;*/
}
/*

body > div {
    overflow: auto;
    display: block;
    max-height: 100%;
}
*/

#vnc {
    div {
        background-color: inherit !important;
        canvas {
            cursor: crosshair !important;
        }
    }
}

.video-container {
    margin: auto;
    height: 50%;
    video {
        margin: 0 auto;
    }
}

#main-fab button.md-fab.md-fab-sm {
    background-color: lightgray;
    margin-bottom: 8px;
}

#main-fab md-fab-trigger button {
    animation: slide 400ms ease;
}

@keyframes slide {
    from {opacity: 0}
    to {opacity: 1}
}

#main-fab {
    position: fixed;
    right: 90px;
    bottom: 70px;
}

.result {
  border-left: 8px solid #777777 !important;
  height: 55px;
}

.result.PASSED {
  border-left-color: #8BC34A !important;
}

.result.FAILED {
  border-left-color: #F44336 !important;
}

.result.IN_PROGRESS {
  border-left-color: #00BCD4 !important;
}

.test_logs {
    padding: 8px;
    margin: 5px 0;
    background: #ffffff;
}

.result_error {
    padding: 8px;
    margin: 5px 0;
}

.result_error.FAILED {
    background: #ffb3b3;
}

.result_error.FAILED.dark {
    background: #bd6f6f;
}

.result_error.ABORTED {
    background: #d6d6d6;
}

.result_error.SKIPPED {
    background: #ffe680;
}

.result_error.SKIPPED.dark {
    background: #b9a969;
}

.searchable {
  margin-bottom: 0px !important;
  font-size: 12px !important;
}

.searchable.select {
    margin-top: 0px;
    margin-left: 8px;
    padding-top: 0px;
    padding-bottom: 6px;
    font-size: 12px;
    width: 144px;
}

.md-datepicker-input {
  font-size: 12px !important;
}

.text-center {
  text-align: center !important;
}

.sql-widget-width {
    min-width: 900px;
    max-width: fit-content;
}

.widget-icon {
    font-size: 22px;
    padding: 1px;
    color: #474a5b;
}
.expand-button {
    position: absolute;
    z-index: 1;
    left: 50%;
    min-height: 16px !important;
    height: 16px !important;
    width: 16px !important;
    font-size: 16px;
    vertical-align: bottom !important;
}

tr.result .expand-button {
  display: none;
}

tr.result:hover .expand-button {
  display: block;
}

.show-icon-on-hover {
    display: none !important;
}

md-chip:hover .show-icon-on-hover,
.show-on-hover:hover .show-icon-on-hover{
    display: inline-block !important;
}

.tests-loading-spinner {
    margin: 3px auto;
}

.task-label-bg {
    background-color: #337ab7;
}

.bug-label-bg {
    background-color: #d9534f;
}

.fixed-search-column {
    min-width: 360px;
    min-height: 52px;
    padding: 8px 20px;
}

.fixed-testrun-name-header {
    min-width: 385px;
}

.testrun-appversion-icon {
    font-size:12px;
    display: inline;
}

.expand-icon {
    color: rgba(0,0,0,0.4);
}

.comments-area {
    color: #00BCD4
}

.startedat-column {
    padding-right: 0px !important;
    min-width: 90px;
}

.fixed-testcount-column {
    min-width: 260px;
}

.fixed-md-menu-content {
    max-height: 600px;
}

.artifact-button {
    display: flex !important;
}

.close-expand-icon {
    margin-top: 0 !important;
}
.body-auth,
.body-err {
    &.app > .main-container:before {
        background: none;
    }

    // when it's normal nav
    @media (min-width: $screen-sm) {
        .page-signin,
        .page-signup,
        .page-forgot,
        .page-err {
            margin-right: 220px;
        }
    }
    // when it's collapsed nav
    &.nav-collapsed-min {
        @media (min-width: $screen-sm) {
            .page-signin,
            .page-signup,
            .page-forgot,
            .page-err {
                margin-right: 60px;
            }
        }
    }
    // when it's horizontal nav
    .nav-horizontal + .content-container {
        @media (min-width: $screen-sm) {
            .page-signin,
            .page-signup,
            .page-forgot,
            .page-err {
                margin-right: 0;
            }
        }
    }
}

// fullscreen, hide header and sidebar
.body-wide {

    #header,
    #nav-container {
        display: none;
    }

    > .main-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    #content {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // bottom: 0;
        // margin: 0;
        padding-bottom: 0;
        // padding-bottom: 50px;
    }

    //
    &.on-canvas .main-container #content {
        margin-left: 0;
        margin-right: 0;
    }


}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

button.red {
    color: #d9534f;
    border-color: #d9534f;
    background: white;
    outline: none;
}

.scrollable {
    overflow-y: scroll;
    height: 500px;
    border: 1px solid #cccccc
}

.md-dialog-container ~ .md-select-menu-container.md-active,
.md-dialog-container ~ .md-virtual-repeat-container.md-autocomplete-suggestions-container {
    z-index: 10000;
}

.platform-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../assets/images/platforms.png) no-repeat;
    background-position: 150px 0;
}

.jira-icon {
    background: url(../../assets/images/jira.png) no-repeat;
}

.slack-icon {
    background: url(../../assets/images/slack.png) no-repeat;
}

.platform-icon.api {
	background-position: -24px -177px;
}

.platform-icon.safari {
    background-position: -2px -24px;
}

.platform-icon.chrome {
    background-position: -2px -114px;
}

.platform-icon.firefox {
    background-position: -2px -68px;
}
.platform-icon.edge {
    background-position: -2px -91px;
}

.platform-icon.xbox, .platform-icon.Xbox, .platform-icon.XBox  {
    background-position: -24px -202px;
}

.platform-icon.ps, .platform-icon.PS, .platform-icon.playstation {
    background-position: -24px -300px;
}

.platform-icon.appletv {
    background-position: -24px -248px;
}

.platform-icon.androidtv {
    background-position: -24px -225px;
}

.platform-icon.iexplorer, .platform-icon.ie {
    background-position: -2px -3px;
}

.platform-icon.android, .platform-icon.Android, .platform-icon.ANDROID {
    background-position: -2px -207px;
}

.platform-icon.ios, .platform-icon.IOS, .platform-icon.iOS {
    background-position: -1px -248px;
}

.platform-icon.unknown {
    background-position: -24px -275px;
}

.label-success-border {
	border: 1px solid #5cb85c;
}

.label-success-empty {
	color: #5cb85c;
}

.label-danger-border {
	border: 1px solid #d9534f;
}

.label-danger-empty {
	color: #d9534f;
}

.label-warning-border {
	border: 1px solid #f0ad4e;
}

.label-warning-empty {
	color: #f0ad4e;
}

.label-info-border {
	border: 1px solid #00BCD4;
}

.label-info-empty {
	color: #00BCD4;
}

.label-aborted-border {
    border: 1px solid #AAAAAA;
}

.label-aborted-empty {
    color: #AAAAAA;
}

.label-aborted-bg {
    background-color: #AAAAAA;
}

.aborted-test-bg {
    background-color: #eaeaea;
}

.label-default-border {
    border: 1px solid #afafaf;
}

.label-default-empty {
    color: #afafaf;
}

span.light_text, div.light_text {
	color: #aaa !important;
}

.graph-box {
	height: 350px;
	padding-bottom: 35px;
}

.pie-chart {
	height: 320px;
	width: 320px;
}

.light-grey-bg {
  background: #f9f9f9;
}

.highlight_green {
  color: green !important;
}

.highlight_red {
  color: red !important;
}

#dashboard_content {
    padding-bottom: 0;
}

.widget-block {
    padding-top: 0;
}

.dialog-bottom-alert {
    min-height: 40px;
    animation-name: bottomAlertAnimation;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes bottomAlertAnimation {
    from {opacity: 0}
    to {opacity: 1}
}
@-webkit-keyframes bottomAlertAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

.dialog-bottom-alert.dialog-success-alert {
    background-color: #d9ffcf;
}

.dialog-bottom-alert.dialog-error-alert {
    background-color: #dbc9c2;
}

.highlight_gray {
    color: lightgrey !important;
}

.grey_font {
    color: #afafaf !important;
}

.black_font {
    color: rgba(0,0,0,0.87) !important;
}

/*Page backgrounds*/
.bg-page-light-grey > div.page {
    background-color: #E3E3E3 !important;
}

.bg-page-grey > div.page {
    background-color: #EFEDF0 !important;
}

/*Sections color*/
section.zaf-dark .section-header,
section.zaf-dark .article-title {
    color: $brand-primary;
    margin: 8px 0;
}

section.zaf-light .section-header,
section.zaf-light .article-title {
    color: $brand-primary;
    margin: 10px 0;
}

/*Element backgrounds*/
.background-white {
    background-color: #f6f6f6 !important;
}

.background-clear-white {
    background-color: #ffffff !important;
}

.background-gray {
    background-color: #EFEDF0 !important;
}

.teal-dark {
    background-color: #00695C !important;
}

.gray-container, #app.dark-container md-menu-content {
    background-color: #d4d5d6 !important;
}

#app.dark-container, .dark-container>div.page {
    background-color: #282d35 !important;
}
#app.dark-container .search-filter-body {
    md-select, #searchCalendar {
        background-color: white;
    }
}

.info.dark {
    background-color: #4e7388;
}

tr.dark > td {
    background-color: inherit !important;
}

.success.dark {
    background-color: #4d735f;
}

.danger.dark {
    background-color: #904944;
}

.warning.dark {
    background-color: #a77942;
}

.progress-circular_align {
    top: 40%;
}

.browser-version_column {
    width: 120px;
}

body md-select-menu, body md-content{
    max-height: 672px;
}

.zoom_img img:hover{
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	-o-transform:scale(2);
}

.white-space-pre-line {
    white-space: pre-line;
}

.jira-status {
    text-transform: uppercase;
    margin-bottom: 0;
}

.modal-narrow-row {
    margin: 5px 0;
}

.rebuild-modal-row {
    padding: 8px 0;
}

.no-top-padding {
    padding-top: 0 !important;
}

.no-horiz-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.modal-header-font {
    font-size: 20px;
}

.modal-header-font-toolbar {
    font-size: 22px !important;
}

.comment-modal-textarea-padding {
    padding: 15px;
}

.material-icons.material-icon-16px {
    font-size: 16px;
}

pre.code {
    border: 0 !important;
    background-color: white !important;
    padding: 0 !important;
}

pre.code:after{
    content:"";
    display:table;
    clear:both
}

.large-card-content {
    min-height: 500px !important;
}

div.code {
    white-space: pre-line;
}

#httpMethods md-radio-button .md-label {
    margin-left: 8px !important;
    padding-right: 40px;
}

#httpMethods md-radio-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.switch-view div.card.bg-white {
    animation-name: switchView;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes switchView {
    /*from { height: 0; }
    to { height: 800px; }*/
    from {top: -1000px}
    to {top: 0}
}
@-webkit-keyframes switchView {
    /*from { height: 0; }
    to { height: 800px; }*/
    from {top: -1000px}
    to {top: 0}
}

div.md-open-menu-container {
    position: absolute !important;
}

.text-capitalize {
    text-transform: lowercase;
}
.text-capitalize:first-letter {
    text-transform: capitalize !important;
}

.perm-block-label {
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-bottom: 20px !important;
}
.checkbox-clear-inline md-checkbox.main-checkbox {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.checkbox-clear-inline md-checkbox {
    width: 0;
    margin-right: 10px;
}

md-checkbox.main-checkbox div.md-icon {
    border-color: #009688 !important;
}

.black-header {
    color: black;
    text-transform: capitalize;
}

/* Drop zone */
input[type="file"].content-input{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="file"].content-input.not-empty{
    z-index: -1;
}

.page-profile .container {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    display: block;
    position: relative;
    width: 800px;
    border: 2px dashed #80CBC4 !important;
    transition: opacity  0.1s linear;
    border-top: 0; }

.page-profile .bottom-block {
    display: block;
    position: relative;
    height: 400px;
    width: 100%; }

.upload-zone-label {
    position: absolute;
    top: 50%;
    left: 35%;
    text-transform: uppercase;
    font-size: 24px;
    color: grey !important;
}

/* Profile info block */
.page-profile .profile-header {
    max-height: 180px !important;
    padding-top: 30px;
    padding-bottom: 30px;
    //background-image: url(../assets/images/signin_bg.jpg);
}

ul.profile-image-actions {
    position: absolute !important;
    top: 0;
    left: 20px;
}

.profile-personal-info {
    display: inline-block !important;
    color: white !important;
    font-size: 36px !important;
}

/* Profile photo mask logic */
.profile-img-content {
    display: none;
    position: absolute;
    top: 40%;
    font-size: 26px;
    left: 40%;
    color: white;
}

.profile-img-content span {
    cursor: pointer;
}

.profile-img {
    position: relative;
}

.profile-img:hover .profile-hovered {
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    opacity: 0.5;
}

.profile-img:hover .profile-img-content {
    display: block;
    opacity: 1;
}

/*Chips*/
.photo-chip md-chip {
    padding-left: 0;
    height: 40px;
    border-radius: 20px;
}

.photo-chip md-chip md-icon {
    margin-top: 10%;
}

.grey-icon i {
    color: lightgrey !important;
}


/*Compare table*/
.compare-table {
    table-layout: fixed;
    .no-content {
        text-align: center;
        color: #F44336;
    }
    th {
        padding-left: 56px !important;
        width: 400px;
    }
    th.crossed {
        background-image: linear-gradient(to bottom left,  transparent calc(50% - 1px), rgb(221, 221, 221), transparent calc(50% + 1px));
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    td {
        border-left-width: 4px !important;
        word-wrap: break-word;
        .outside-row-element {
            position: absolute;
            left: -12px;
        }
    }
    td.md-cell {
        vertical-align: top !important;
    }
    md-checkbox .md-label {
        width: 100px;
    }
}

.imageRotateHorizontal{
    -moz-animation: spinHorizontal 1.8s infinite linear;
    -o-animation: spinHorizontal 1.8s infinite linear;
    -webkit-animation: spinHorizontal 1.8s infinite linear;
    animation: spinHorizontal 1.8s infinite linear;
}

@-moz-keyframes spinHorizontal {
    0% {
        -moz-transform: rotateY(0deg);
    }

    100% {
        -moz-transform: rotateY(360deg);
    }
}

@keyframes spinHorizontal {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


@-ms-keyframes spinHorizontal {
    0% {
        -ms-transform: rotateY(0deg);
    }
    100% {
        -ms-transform: rotateY(360deg);
    }
}

@-o-keyframes spinHorizontal {
    0% {
        -o-transform: rotateY(0deg);
    }
    100% {
        -o-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinHorizontal {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }


}

/* Test details modal */

.test-details-dialog {
    min-height: 710px !important;
}

.label-font-size {
    font-size: 14px;
}

.icons-font-size {
    font-size: 12px;
}

.comments-font-size {
    font-size: 12px;
}

.table-frame {
    border: 1px rgba(0, 0, 0, 0.12) solid;
}

.auto-width {
    width: auto !important;
}

.auto-width.width-icon a {
    padding-right: 15px !important;
}

.tickets-font {
    font-weight: normal
}

.comments-table-header {
    margin-top: 2px;
}
.comments-table-body {
    border-top: none !important;
}

.issues-select-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}
.issue-element-container {
    width: -webkit-fill-available !important;
}

.elment-with-label {
    float : left;
    clear: left;
}

.input-like-label {
    color: rgba(0,0,0,0.54);
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 11px;
}

.edit-label {
    color: rgba(0,0,0,0.54);
    font-weight: bold;
    font-size: 11px;
}
.tab-row {
    margin: 10px 0;
    padding: 10px 0;
}

.upper-tab-row {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.edit-elements {
    display: flex;
    justify-content: space-between;
}

.issue-trace-area {
    height: 100%;
    background: ghostwhite;
    margin: 0 15px;
}

.issue-trace-label {
    margin: 0 15px;
}

.ticket-list {
    &-row {
        margin: 13px 0;
    }
    &-text {
        white-space: normal;
        overflow-wrap: break-word;
        text-align: left;
    }
}

.ticket-list-button {
    width: 100%;
}

.align-middle {
    display: flex;
    align-items: center;
}

.align-right {
    justify-content: flex-end;
}

.scrollable-tab {
    max-height: 175px;
    overflow-y: auto;
}

.scrollable-comments {
    max-height: 270px;
    overflow-y: auto;
}

.test-name {
    font-weight: bold;
}

.outer-border {
    border: 1px solid #ddd;
}

.info-width {
    min-width: 200px;
}

.modal-min-width {
    min-width: 920px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.default-gray {
    background-color: $gray-light !important;
    color: white;
}

.testrun_table_section{
  padding: 0 20px !important;
}

.fixed-search-column button {
    margin: 8px 0 8px 8px;
}

button#reset {
    color: #fff;
    background-color: $dark;

    &:hover {
        background-color: $coal;
    }
}

button#deleteFilter {
    color: $faded-red !important;
    background-color: $fog-gray;

    &:hover {
      background-color: #fcfcfc;
    }
}

button#resetFilter {
    color: $coal;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(4, 0, 0, 0.12), 0px 2px 2px 0 rgba(0, 0, 0, 0.24);

    &:hover {
      background-color: $gray-lighter;
    }
}

/*Filters*/
#filter, #filter-editor, #search {
  position: relative;

    md-input-container {
        height: 36px !important;
        margin: 0;
        padding: 0;
        font-size: 14.5px;
    }
    md-radio-button {
        display: inline-block;
        padding-right: 10px;
    }
    .filter-criteria {
        padding-right: 0;
    }
    .filter-option {
        padding-left: 0;
        md-select {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
    .filter-value {
        padding-left: 0;
    }
    i.material-icons {
        color: rgba(0, 0, 0, 0.8);
    }
    md-chips-wrap {
        display: inline-block;
        box-shadow: 0 0 !important;
        padding: 0 !important;
        .md-chip-input-container {
            display: none;
        }
        i.custom-chip-action {
            color: rgb(97,97,97) !important;
            font-size: 18px !important;
        }
        md-chip {
            margin-top: 0;
            margin-bottom: 8px;
        }
    }
    .right-switch {
        position: absolute;
        right: 0;
        padding-right: 20px;
        padding-top: 15px;
    }
    md-date-range {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        .md-select-value {
            border-bottom-style: none;
            min-width: 36px !important;
            width: 100%;
            height: 100%;
        }
        .md-select-icon {
            display: none;
        }
    }
    i.date-picker-icon {
        font-size: 17px;
        position: absolute;
        top: 9px;
        right: 5px;
    }
    span.label {
        //font-size: 100%;
    }
}

#filter .panel-body{
  padding-bottom: 8px !important;
}

#filter {
    md-chips-wrap {
        md-chip {
            cursor: pointer;
        }

    i.custom-chip-action{
      color: #fff !important;
      font-size: 16px !important;
      padding-right: 0;
      padding-left: 6px;
    }
  }
}

.filter-chip {
    button {
        border-radius: 50%;
        height: 31px;
        width: 31px;
        position: relative;
        i {
            position: absolute;
            bottom: 40%;
            right: 40%;
            margin: auto;
            height: 50%;
            width: 50%;
        }
    }
    md-chip {
        margin-left: 8px;
        margin-right: 0;
        font-size: 13.5px;
        background-color: $fog-gray !important;
        color: $gray-light !important;

        &:hover{
          background-color: $gray-light !important;
          color: #fff !important;
          .filter-slice-chip-button {
              background-color: #fff;
              md-icon {
                color: $gray-light;
              }
          }
        }
        span {
            text-transform: capitalize;
            line-height: 2.3;
            font-weight: 500;
        }
        .filter-slice-chip-button {
            background-color: $gray-light;
            border: 0;
            width: 16px;
            height: 16px;
            top: 6px;
            right: 6px;
            font-size: 16px;
            md-icon {
                position: absolute;
                top: 1px;
                left: -4px;
                font-size: 14px;
                color: white;
            }
        }
    }
}

div.manage-chip {
    position: relative;

    div {
        background: #fff;
        position: absolute;
        top: 8px;
        right: 9px;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        cursor: pointer;
        md-icon {
            position: absolute;
            top: 2px;
            left: 2px;
            font-size: 12px;
        }
    }
    & md-chip {
        width: 118px;
        margin: 0 2px 0 0;
        background-color: $dark !important;
        color: #fff !important;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2.3;
        &:hover{
            background-color: $coal !important;
        }
    }
    md-icon {
        color: rgba(0,0,0,0.87);
    }
}

.manage-filter-button {
    float: right;
    padding: 10px;
    i {
        color: #009688;
    }
}

.filter-option .md-text, .filter-input-container md-select-value .md-text {
    text-transform: capitalize;
}

md-chip md-chip-template.bg-primary {
    background-color: $brand-primary;
}

.nav .material-icons {
    font-size: 18px;
}

.menu-btn {
    width: 100%;
}

.fixed-search-column .md-button {
    font-size: 13px;
    height: 32px;
}

.search-filter-body{
  width: 100%;

    & md-card, & form{
    width: 100%;
    }
    & md-card{
      margin-top: 0;
      margin-bottom: 8px;
    }
    & .panel-body{
      padding: 16px;
      width: inherit;

      & h5{
        height: 100%;
        vertical-align: middle;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    & .form-control {
        height: 36px;
        border-color: $custom-gray !important;
    }

    & md-select {
        height: 36px;
        border: 1px solid $custom-gray;
        border-radius: 2px;
        padding: 0 0 0 12px !important;
    }
    & md-select.md-default-theme[disabled] .md-select-value,
    & md-select[disabled] .md-select-value {
      border: none;
      background-image: none;
    }

    & md-select.md-default-theme:not([disabled]):focus .md-select-value,
    & md-select:not([disabled]):focus .md-select-value,
    & .md-select-value {
        border-bottom-color: $input-border;
        border-bottom: 1px;
        border-radius: 2px;
        font-family: Roboto;
        font-size: 14.5px;
    }
}

#filter-editor {
    background-color: $fog-gray;
    min-height: 120px;
    &.ng-hide{
      opacity: 0;
    }
    &.ng-hide-remove{
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }

    .panel-body{
      padding-bottom: 10px;
    }

    & div > div{
      float: left;
    }

    & md-select, & .form-control {
        background-color: #fff;
        border: none;
        color: $coal !important;
    }
    & .filter-name {
        width: 344px;
        margin-right: 8px;
    }

    & .filter-input-container {
        width: 168px;
        float: left;
        margin-right: 8px !important;
        border: none;
    }

    & .filter-select{
      max-width: 548px;
      margin-right: 16px;
    }

    .filter-text {
        vertical-align: top;
        padding-bottom: 16px;
        md-switch {
            padding-left: 9px;
            margin: 0;
        }
    }

    & .value-input {
        width: 152px !important;

        & input, & md-input-container, & md-select{
          float: left;
          border: none;
        }
        & div, & md-select {
          width: 100%;
        }
    }

    & .filter-date{
      width: 100%;
      background: #fff;
    }

    & md-chip{
      min-width: 148px;
      margin: 2px 8px 6px 0 !important;
      border: solid 1px $medium-gray;
      background-color: $fog-gray;
      color: $gray-light;
      font-weight: bold;

      &:hover{
        background-color: $gray-light;
        color: #fff !important;

        & span{
          color: #fff !important;
        }
      }

      & md-chip-template{
        padding-right: 4px;
      }

      & .chip-operator{
        //color: $gray-light;
        color: #009688 !important;
        font-weight: bold;
      }
    }
}

div[aria-selected='true'] span.ng-binding {
    color: white;
}

.btn-check {
    position: absolute;
    right: 13px;

    & button {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: $fog-gray;
        border-radius: 2px;
        height: 28px;
        padding: 6px 8px !important;
        transition: all .2s;
        font-size: 13px;
        margin: 4px 2px;

        &:hover {
          background-color: $gray-light !important;
          color: #fff !important;
          cursor: pointer;
        }
        &.active{
          background-color: $brand-primary !important;
          color: #fff !important;
          box-shadow: none;
        }
      }
}

#search .searchable.select, .date-picker-container:not(.no-padding){
  margin-left: 8px !important;
}

.date-picker-container {
    position: relative;
    border: 1px solid $custom-gray;
    border-radius: 2px;
    width: 152px;
    & span{
        line-height: 2.6;
        height: 100%;
    }
    & span:first-child{
      padding-left: 12px;
    }
    & button {
      position: absolute;
      top: 0;
      right: 0;
      height: 36px;
      width: 100%;
      &:hover {
        background: none !important;
        -webkit-transform: none !important;
        transform: none !important;
      }
  }

    & i {
        float: right;
        font-size: 17px;
        color: $gray-light !important;
    }
}

#search-container, .filter-input-container {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

#search-container .form-control{
    padding-right: 236px;
    margin-right: 8px;
}

.quadro-btn {
    width: 36px !important;
    height: 36px !important;
    margin: 0;
    border-color: $custom-gray;
    border-radius: 2px;
    color: $coal;
    font-size: 14.5px;
    font-weight: 500;

    &:hover{
      cursor: pointer;
    }
}

.quadro-btn.default-gray, .quadro-btn.label-primary {
    color: white;
}

button#add-button{
  background-color: $dark;
  color: #fff;

  &:hover{
    background-color: $coal;
  }
}

.form-control{
  font-size: 14.5px !important;
}

.disable-layer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  background: rgba(210, 210, 210, 0.2);
}

.md-select-value .md-select-icon {
    margin: 0 8px 0 4px;
}

.log-demo {
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 1;
    background: white;
    opacity: 0.9;
    overflow-y: scroll;
    .log {
        padding-left: 20px;
        position: relative;
    }
}

.modal-spinner {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.md-head th.md-column{
  font-size: 14px !important;
  color: $coal !important;
  line-height: 1.2;
}

#search-filter-body md-select.md-default-theme .md-select-icon, #search-filter-body md-select .md-select-icon{
    color: $gray-light !important;
}

#filter-editor .md-select-icon:after, #search .md-select-icon:after {
    font-size: 9px;
}

#search {
    & .md-select-value, & .md-select-value.md-select-placeholder, & .date-picker-container span{
      color: $coal !important;
      font-weight: 500;
    }

    & .form-control,
    & .reviewed,
    & md-select,
    & .date-picker-container{
      &:hover{
        border-color: #000 !important;
      }
    }
}

md-input-container:not([md-no-float]) .md-select-placeholder span:first-child {
  -webkit-transition: none !important;
  transition: none !important;
}
md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
  -webkit-transform: none !important;
  transform: none !important;
}

.toast-width {
    width: 260px;
    padding-bottom: 8px;
}

.toast-linear-padding {
    padding-top: 6px !important;
}

.toast-text-padding {
    padding: 8px;
}
