body {
    background: $main_container_bg;
}

#main-fab button.md-fab.md-fab-sm {
    background-color: lightgray;
    margin-bottom: 8px;
}

#main-fab {
    position: fixed;
    right: 90px;
    bottom: 70px;
}

.result {
  border-left: 8px solid #777777;
  height: 55px;
}

.result.PASSED {
  border-color: #8BC34A;
}

.result.FAILED {
  border-color: #F44336;
}

.result.IN_PROGRESS {
  border-color: #00BCD4;
}

.result_error {
    padding: 8px;
    margin: 5px 0;
}

.result_error.FAILED {
    background: #ffb3b3;
}

.result_error.FAILED.dark {
    background: #bd6f6f;
}

.result_error.SKIPPED {
    background: #ffe680;
}

.result_error.SKIPPED.dark {
    background: #b9a969;
}

.searchable {
  margin-bottom: 0px !important;
  font-size: 12px !important;
}

.searchable.select {
    margin-top: 0px !important;
    margin-right: 8px;
    padding-top: 0px;
    padding-bottom: 6px;
    font-size: 12px;
}

.md-datepicker-input {
  font-size: 12px !important;
}

.text-center {
  text-align: center !important;
}

.sql-widget-width {
    min-width: 900px;
    max-width: fit-content;
}

.body-auth,
.body-err {
    &.app > .main-container:before {
        background: none;
    }

    // when it's normal nav
    @media (min-width: $screen-sm) {
        .page-signin,
        .page-signup,
        .page-forgot,
        .page-err {
            margin-right: 220px;
        }
    }
    // when it's collapsed nav
    &.nav-collapsed-min {
        @media (min-width: $screen-sm) {
            .page-signin,
            .page-signup,
            .page-forgot,
            .page-err {
                margin-right: 60px;
            }
        }
    }
    // when it's horizontal nav
    .nav-horizontal + .content-container {
        @media (min-width: $screen-sm) {
            .page-signin,
            .page-signup,
            .page-forgot,
            .page-err {
                margin-right: 0;
            }
        }
    }
}

// fullscreen, hide header and sidebar
.body-wide {

    #header,
    #nav-container {
        display: none;
    }

    > .main-container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    #content {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // bottom: 0;
        // margin: 0;
        padding-bottom: 0;
        // padding-bottom: 50px;
    }

    //
    &.on-canvas .main-container #content {
        margin-left: 0;
        margin-right: 0;
    }


}

.btn-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

button.red {
    color: #d9534f;
    border-color: #d9534f;
    background: white;
    outline: none;
}

.scrollable {
    overflow-y: scroll;
    height: 500px;
    border: 1px solid #cccccc
}

.md-dialog-container ~ .md-select-menu-container.md-active,
.md-dialog-container ~ .md-virtual-repeat-container.md-autocomplete-suggestions-container {
    z-index: 10000;
}

.platform-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../assets/images/platforms.png) no-repeat;
    background-position: 150px 0;
}

.jira-icon {
    background: url(../../assets/images/jira.png) no-repeat;
}

.slack-icon {
    background: url(../../assets/images/slack.png) no-repeat;
}

.platform-icon.API {
	background-position: -24px -177px;
}

.platform-icon.safari {
    background-position: -2px -24px;
}

.platform-icon.chrome {
    background-position: -2px -114px;
}

.platform-icon.firefox {
    background-position: -2px -68px;
}
.platform-icon.edge {
    background-position: -2px -91px;
}

.platform-icon.xbox, .platform-icon.Xbox, .platform-icon.XBox  {
    background-position: -24px -202px;
}

.platform-icon.ps, .platform-icon.PS, .platform-icon.playstation {
    background-position: -24px -300px;
}

.platform-icon.appletv {
    background-position: -24px -249px;
}

.platform-icon.androidtv {
    background-position: -24px -225px;
}

.platform-icon.iexplorer, .platform-icon.ie {
    background-position: -2px -3px;
}

.platform-icon.android, .platform-icon.Android, .platform-icon.ANDROID {
    background-position: -2px -207px;
}

.platform-icon.ios, .platform-icon.IOS, .platform-icon.iOS {
    background-position: -1px -249px;
}

.platform-icon.unknown {
    background-position: -24px -275px;
}

.label-success-border {
	border: 1px solid #5cb85c;
}

.label-success-empty {
	color: #5cb85c;
}

.label-danger-border {
	border: 1px solid #d9534f;
}

.label-danger-empty {
	color: #d9534f;
}

.label-warning-border {
	border: 1px solid #f0ad4e;
}

.label-warning-empty {
	color: #f0ad4e;
}

span.light_text, div.light_text {
	color: #aaa !important;
}

.graph-box {
	height: 350px;
	padding-bottom: 35px;
}

.pie-chart {
	height: 320px;
	width: 320px;
}

.light-grey-bg {
  background: #f9f9f9;
}

.highlight_green {
  color: green !important;
}

.highlight_red {
  color: red !important;
}

.highlight_gray {
    color: lightgrey !important;
}

/*Page backgrounds*/
.bg-page-light-grey > div.page {
    background-color: #E3E3E3 !important;
}

.bg-page-grey > div.page {
    background-color: #EFEDF0 !important;
}

/*Sections color*/
section.zaf-dark .section-header,
section.zaf-dark .article-title {
    color: $brand-primary;
}

section.zaf-light .section-header,
section.zaf-light .article-title {
    color: $brand-primary;
}

/*Element backgrounds*/
.background-white {
    background-color: #f6f6f6 !important;
}

.background-clear-white {
    background-color: #ffffff !important;
}

.background-gray {
    background-color: #EFEDF0 !important;
}

.teal-dark {
    background-color: #00695C !important;
}

.gray-container {
    background-color: #d4d5d6 !important;
}

#app.dark-container, .dark-container>div.page {
    background-color: #282d35 !important;
}

.info.dark {
    background-color: #7a97a7;
}

tr.dark > td {
    background-color: inherit !important;
}

.success.dark {
    background-color: #517160;
}

.danger.dark {
    background-color: #7d2838;
}

.warning.dark {
    background-color: #af895b;
}

.progress-circular_align {
    top: 40%;
}

.browser-version_column {
    width: 120px;
}

body md-select-menu, body md-content{
    max-height: 672px;
}

.zoom_img img:hover{
	-moz-transform:scale(2);
	-webkit-transform:scale(2);
	-o-transform:scale(2);
}

.white-space-pre-line {
    white-space: pre-line;
}

.jira-status {
    text-transform: uppercase;
    margin-bottom: 0;
}

.modal-narrow-row {
    margin: 5px 0;
}

.material-icons.material-icon-16px {
    font-size: 16px;
}

pre.code {
    border: 0 !important;
    background-color: white !important;
    padding: 0 !important;
}

pre.code:after{
    content:"";
    display:table;
    clear:both
}

.large-card-content {
    min-height: 500px !important;
}

div.code {
    white-space: pre-line;
}

#httpMethods md-radio-button .md-label {
    margin-left: 8px !important;
    padding-right: 40px;
}

#httpMethods md-radio-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.switch-view div.card.bg-white {
    animation-name: switchView;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes switchView {
    /*from { height: 0; }
    to { height: 800px; }*/
    from {top: -1000px}
    to {top: 0}
}
@-webkit-keyframes switchView {
    /*from { height: 0; }
    to { height: 800px; }*/
    from {top: -1000px}
    to {top: 0}
}

div.md-open-menu-container {
    position: absolute !important;
}

.text-capitalize {
    text-transform: lowercase;
}
.text-capitalize:first-letter {
    text-transform: capitalize !important;
}

.perm-block-label {
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-bottom: 20px !important;
}
.checkbox-clear-inline md-checkbox.main-checkbox {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.checkbox-clear-inline md-checkbox {
    width: 0;
    margin-right: 10px;
}

md-checkbox.main-checkbox div.md-icon {
    border-color: #009688 !important;
}
