@import "../global/var";

.p-tests-run-details {
    .page {
        padding: 0;
    }
    .content-container {
        overflow: visible !important;
    }
    md-table-container {
        background-color: $gray-bg-light-new;
        .table {
            margin-bottom: 5px;
            .sort-new.test-run-group-column.md-column.ng-isolate-scope {
                padding: 0 24px !important;
                background-color: white;
                @media(max-width: $breakpoint-mobile) {
                    padding: 0 10px !important;
                }
                .test-run-group {
                    display: flex;
                    align-items: center;
                    &_wrapper {
                        display: flex;
                        align-items: center;
                        &._left {
                            flex-grow: 1;
                            @media(max-width: $breakpoint-mobile) {
                                overflow-x: scroll;
                            }
                        }
                        &._right {
                            justify-content: flex-end;
                            @media (max-width: 956px) {
                                flex-grow: 1;
                            }
                        }
                        @media (max-width: 956px) {
                            margin: 10px 0;
                        }
                    }
                    @media (max-width: 956px) {
                        flex-wrap: wrap;
                    }
                    &_controls-buttons {
                        width: 160px;
                        max-width: 160px;
                        min-width: 160px;
                        margin-right: 40px;
                        @media (max-width: 998px) {
                            margin-right: 10px;
                        }
                        @media(max-width: $breakpoint-mobile) {
                            display: none;
                        }
                        button {
                            box-shadow: none;
                            background-color: $dark-coal-light-new-op01;
                            &.md-primary {
                                background-color: $medium-teal-light-new;
                            }
                        }
                    }
                    &_sorts {
                        @extend %detailsItems;
                        background-color: $dark-coal-light-new-op01;
                        padding: 3px 15px;
                        min-width: 90px;
                        margin-left: 17px;
                        @media(max-width: $breakpoint-mobile) {
                            padding: 3px 0;
                            min-width: auto;
                            & .pointer {
                                padding-right: 0;
                                & span {
                                    display: none;
                                }
                            }
                        }
                    }
                    &_group-items {
                        min-width: auto;
                        width: auto;
                        &_item {
                            opacity: 1;
                            margin: 3px;
                            &.FAILED {
                                background-color: $red-new;
                                border: 2px solid $red-new;
                            }
                            &.SKIPPED {
                                background-color: $yellow-light-new;
                                border: 2px solid $yellow-light-new;
                            } 
                            &.PASSED {
                                background-color: rgba($green-light-new, .5);
                                border: 2px solid rgba($green-light-new, .1);
                            }
                            &.ABORTED {
                                background-color: rgba($gray-light-new, .5);
                                border: 2px solid rgba($gray-light-new, .1);
                            }
                            &.QUEUED {
                                background-color: white;
                                border: 2px solid rgba($gray-light-new, .5);
                            }
                            &.IN_PROGRESS {
                                background-color: rgba($blue-light-new, .5);
                                border: 2px solid rgba($blue-light-new, .1);
                            }
                        }
                    }
                    &_tags {
                        min-width: 260px;
                        width: auto;
                        @media(max-width: $breakpoint-mobile) {
                            display: flex;
                            max-width: calc(100vw - 20px);
                        }
                        md-chips {
                            md-chips-wrap.md-chips {
                                @media(max-width: $breakpoint-mobile) {
                                    display: flex;
                                }
                                md-chip {
                                    @extend %detailsItems;
                                    background-color: $dark-coal-light-new-op01 !important;
                                    line-height: 24px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        button {
                            top: 0;
                        }
                    }
                    &_other-buttons {
                        min-width: auto !important;
                        width: auto !important;
                        margin-left: 40px;
                        @media (max-width: $breakpoint-mid-tablet) {
                            margin-left: 10px;
                        }
                        & #resetAllToggle {
                            background-color: $dark-coal-light-new-op01;
                            color: $dark-coal-light-new;
                            &:hover,
                            &:active {
                                background-color: $dark-coal-light-new-op02;
                            }
                        }
                    }
                }
            }
        
            .test {
                display: flex;
                @media(max-width: $breakpoint-mobile) {
                    flex-wrap: wrap;
                    padding: 4px 0 0;
                    width: calc(100vw - 60px);
                }
                @media (max-width: 480px) {
                    width: 100vw;
                }
                &.success {
                    & .test-info,
                    & .test-label,
                    & .test-settings {
                        background-color: $green-bg-light-new;
                    }
                }
                &.danger {
                    & .test-info,
                    & .test-label,
                    & .test-settings {
                        background-color: $pink-bg-light-new;
                    }
                }
                &-info {
                    width: 50vw;
                    @media (max-width: 730px) {
                        width: 40vw;
                    }
                    @media(max-width: $breakpoint-mobile) {
                        width: 100%;
                        border-top: 0 !important;
                        padding-bottom: 0 !important;
                    }
                    &__wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        @media(max-width: $breakpoint-mobile) {
                            display: block;
                            margin-top: 5px;
                        }
                        .light_text {
                            margin-right: 4px;
                        }
                    }
                    & .result_error.FAILED {
                        background-color: $pink-bg-new;
                        & .test-error {
                            word-wrap: break-word;
                        }
                    }
                    &_tags {
                        background-color: transparent;
                        padding-left: 0;
                        margin-left: 0;
                        min-height: 25px;
                        @media(max-width: $breakpoint-mobile) {
                            margin-top: 10px;
                            margin-left: 0 !important;
                        }
                        &_tag {
                            @extend %detailsItems;
                            background-color: #00000026 !important;
                            margin: 0 4px 0 0;
                            padding: 4px 8px;
                        }
                    }
                }
                & .test-label {
                    flex-grow: 1;
                    text-align: center;
                    @extend %noBorderPadding;
                    @media (max-width: $breakpoint-mobile) {
                        padding-bottom: 5px;
                        width: auto;
                        text-align: left;
                        & .work-items .badge {
                            margin-top: 7px;
                        }
                    }
                }
                &-settings {
                    @media(max-width: $breakpoint-mobile) {
                        flex-grow: 1;
                    }
                    @extend %noBorderPadding;
                    &__button {
                        @media(max-width: $breakpoint-mobile) {
                            display: none;
                        }
                    }
                    &__menu {
                        @media(min-width: $breakpoint-mobile + 1) {
                            display: none;
                        }
                        button.md-icon-button.md-button.md-ink-ripple {
                            padding: 0;
                            margin: 0 -15px 0 0;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: $breakpoint-mobile + 1) {
        .ui-section {
            padding: 0 20px;
        }
    }
    .test-settings__menu-content {
        md-menu-item, md-menu {
            display: flex;
            align-items: center;
            padding: 0;
            .md-button {
                width: 100%;
                display: flex;
                span {
                    padding-left: 16px;
                    color: rgba(0,0,0,0.87);
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }   
    }
}

%detailsItems {
    max-height: 28px;
    border-radius: 14px !important;
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: $dark-coal-light-new !important;
    &:hover {
        background-color: rgba(0, 0, 0, .35) !important;
    }

    &.md-focused,
    &.active {
        background-color: $dark-coal-light-new !important;
        color: #ffffff !important;
    }
}

%noBorderPadding {
    @media(max-width: $breakpoint-mobile) {
        border-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}