@import "../global/var";

.p-tests-runs__section {
    &._filters {
        @media screen and (max-width: 599px) {
            button#reset, 
            button#applySearch,
            button#createFilter,
            button#updateFilter,
            button#resetFilter,
            button#deleteFilter {
                border-radius: 4px;
                box-shadow: none;
                margin-right: 16px;
                margin-left: 0;
                font-size: 14px;
                z-index: 4;
            }
            button#reset {
                background-color: $fog-gray;
                color: $dark-coal-new;
            }
            button#applySearch {
                background-color: $medium-teal-bright-new;
                color: #ffffff;
            }
        }
        #filter .panel-body {   
            padding-bottom: 16px !important;
            position: relative;   
            @extend %chips-scrolling;
            .manage-chip {
                & md-chips.filter-chip md-chips-wrap.md-chips md-chip {
                    font-size: 13px;
                    color: black !important;
                    background-color: transparent !important;
                    border: 1px solid black !important;
                    margin: 0 5px 0 0 !important;
                    max-width: 104px;
                    padding: 0 2px 0 30px !important;
                    & div {
                        right: auto;  
                        background-color: transparent;
                        left: 13px !important;
                        top: 5px;
                        & md-icon {
                            font-size: 15px;
                        }
                    }
                } 
            }
        }
        #search {
            .panel-body {
                padding: 18px 20px 14px 20px;
                @media screen and (max-width: 599px) {
                    padding: 0 !important;
                }
                @extend %chips-scrolling;
            }
            &-header {
                &.filters-search-panel {
                    margin-bottom: 0 !important;
                }
                .search {
                    &-wrapper {
                        @media screen and (max-width: 599px) {
                            max-width: 48px;
                            max-height: 48px;
                            box-shadow: 9px 0px 20px -1px rgb(255, 255, 255);
                            z-index: 3;
                            & i {
                                background-color: white;
                                display: block;
                                padding: 15px;
                                color: rgba(0, 0, 0, 0.5) !important;
                                font-size: 18px;
                            }
                        }
                        &-row {
                            @media screen and (max-width: 599px) {
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid rgba(0,0,0,0.12);
                            }
                            @media screen and (max-width: 599px) {
                                #search-input {
                                    border-color: transparent !important;
                                    padding-left: 0;
                                    &::-webkit-input-placeholder {
                                        font-style: italic;
                                    }
                                }
                            }
                            #filter {
                                @media screen and (max-width: 599px) {
                                    max-width: calc(100vw - 48px);
                                    min-width: 80vw;
                                    background-color: white;
                                    width: 100%;
                                    padding: 10px 0;
                                }
                                @media screen and (min-width: $breakpoint-mobile) {
                                    min-width: 100%;
                                }
                                
                            }
                        }
                    }
                }
            }
            &-select {
                width: 100%;
                @media screen and (max-width: 599px) {
                    position: absolute;
                    z-index: 4;
                    background-color: #fff;
                    left: 0;
                    top: 48px;
                    border-top: 1px rgba(0, 0, 0, 0.10) solid;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
                }
                & .row-wrapper {
                    @media screen and (min-width: 960px) {
                        align-items: center
                    }
                }
                .reviewed {
                    background-color: rgba(31, 36, 42, .1);
                    color: #35393f ;
                    min-width: 36px;
                    border: none;
                    @media (max-width: 599px) {
                        margin-right: 16px;
                    }
                    &:hover {
                        background-color: rgba(31, 36, 42, .2);
                    }
                    &.label-primary{
                        background-color: $green-new;
                        color: #fff;
                    }
                }
                & #search-input {
                    @extend %select;
                    @media screen and (min-width: $breakpoint-mobile) {
                        padding-right: 300px;
                    }
                }
                & .search {
                    &-fields {
                        md-select {
                            @extend %select;
                        }
                        padding: 0 16px;
                        @media screen and (min-width: $breakpoint-mobile) {
                            padding: 0;
                        }
                        & .searchable.select {
                            @media screen and (max-width: 599px) {
                                margin-bottom: 16px !important;
                            }
                        }
                        &._main {
                            @media screen and (max-width: 599px) {
                                padding-top: 20px;
                            }
                        }
                        &._additional {
                            margin-bottom: 20px;
                            @media screen and (min-width: $breakpoint-mobile) {
                                margin-bottom: 0;
                                padding: 0;
                            }
                            & md-input-container {
                                @extend %select;
                            }
                            & .date-picker-container i {
                                font-size: 20px;
                                color: #000 !important;
                            }
                        }
                    }
                }
                & .btn-check {
                    @media screen and (max-width: 599px) {
                        margin: 0;
                        padding: 2px 16px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px rgba(0, 0, 0, 0.10) solid;
                    }
                    & button.btn {
                        font-size: 10px;
                        font-weight: bold;
                        max-height: 28px;
                        border-radius: 14px;
                        background-color: transparent;
                        border: 1px solid rgba(0,0,0, .25);
                        box-shadow: none ;
                        &:hover, &.active {
                            background-color: transparent !important;
                            color: #000 !important;
                        }
                        &.active {
                            border: 1px solid #26a69a;
                        }
                        @media (max-width: 599px) {
                            width: 104px;
                        }
                    }
                }
            }
        }
    }
}

%select {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    &:hover {
        border-color: rgba(0, 0, 0, 0.35) !important;
    }
}

%chips-scrolling {
    md-chips.filter-chip.custom-filter {
        @media screen and (min-width: $breakpoint-mobile) {
            min-width: auto;
        }
        @media screen and (max-width: 599px) {
            overflow-x: scroll;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            &::-webkit-scrollbar { 
                display: none;
            }
        }
        md-chips-wrap.md-chips{
            display: flex !important;
            md-chip {
                background-color: rgba(31, 36, 42, .4) !important;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.1px;
                border-radius: 16px;
                color: #ffffff !important;
                margin-bottom: 0;
                max-height: 32px;
                &.md-focused {
                    background-color: rgba(31, 36, 42, 1) !important;
                }
                &:hover {
                    background-color: rgba(31, 36, 42, .7) !important;
                }
                @media screen and (max-width: 599px) {
                    font-size: 11px;
                    max-height: 28px;
                    &.md-focused {
                        & i ,
                        &:hover i {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}
.background-dark {
    @media screen and (max-width: 599px) {
        position: absolute;
        top: 220px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
