@import "../global/var";

.p-tests-run-details {
    &__sticky-header {
        position: sticky;
        top: 48px;
        z-index: 4;
        box-shadow: 0 4px 8px 0 rgba(4, 0, 0, 0.2);
        .test-run-group-row {
            height: auto !important;
            border-top: 1px solid #edeff1;
            background-color: white;
            .sort-new.test-run-group-column {
                padding: 12px 24px !important;
                @media(max-width: $breakpoint-mobile) {
                    padding: 0 10px !important;
                }
                .test-run-group {
                    display: flex;
                    align-items: center;
                    &_wrapper {
                        display: flex;
                        align-items: center;
                        &._left {
                            flex-grow: 1;
                            @media(max-width: $breakpoint-mobile) {
                                overflow-x: scroll;
                            }
                        }
                        &._right {
                            justify-content: flex-end;
                            @media (max-width: 956px) {
                                flex-grow: 1;
                            }
                        }
                        @media (max-width: 956px) {
                            margin: 10px 0;
                        }
                    }
                    @media (max-width: 956px) {
                        flex-wrap: wrap;
                    }
                    &_controls-buttons {
                        width: 160px;
                        max-width: 160px;
                        min-width: 160px;
                        margin-right: 40px;
                        @media (max-width: 998px) {
                            margin-right: 10px;
                        }
                        @media(max-width: $breakpoint-mobile) {
                            display: none;
                        }
                        button {
                            box-shadow: none;
                            background-color: $dark-coal-light-new-op01;
                            &.md-primary {
                                background-color: $medium-teal-light-new;
                            }
                        }
                    }
                    &_sorts {
                        @extend %detailsItems;
                        background-color: $dark-coal-light-new-op01;
                        padding: 3px 15px;
                        min-width: 90px;
                        margin-left: 17px;
                        & .pointer {
                            display: flex;
                            md-icon.md-sort-icon.md-asc {
                                -webkit-transform: rotate(0deg);
                                transform: rotate(0deg);
                            }
                            md-icon.md-sort-icon.md-desc {
                                -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                            }
                        }

                        @media(max-width: $breakpoint-mobile) {
                            padding: 3px 0;
                            min-width: auto;
                            & .pointer {
                                padding-right: 0;
                                & span {
                                    display: none;
                                }
                            }
                        }
                    }
                    &_group-items {
                        min-width: auto;
                        width: auto;
                        &_item {
                            opacity: 1;
                            margin: 3px;
                            height: 14px;
                            width: 14px;
                            &.FAILED {
                                background-color: $red-new;
                                border: 2px solid $red-new;
                            }
                            &.SKIPPED {
                                background-color: $yellow-light-new;
                                border: 2px solid $yellow-light-new;
                            } 
                            &.PASSED {
                                background-color: rgba($green-light-new, .5);
                                border: 2px solid rgba($green-light-new, .1);
                            }
                            &.ABORTED {
                                background-color: rgba($gray-light-new, .5);
                                border: 2px solid rgba($gray-light-new, .1);
                            }
                            &.QUEUED {
                                background-color: white;
                                border: 2px solid rgba($gray-light-new, .5);
                            }
                            &.IN_PROGRESS {
                                background-color: rgba($blue-light-new, .5);
                                border: 2px solid rgba($blue-light-new, .1);
                            }
                        }
                    }
                    &_tags {
                        min-width: 260px;
                        width: auto;
                        @media(max-width: $breakpoint-mobile) {
                            display: flex;
                            max-width: calc(100vw - 20px);
                        }
                        md-chips {
                            md-chips-wrap.md-chips {
                                @media(max-width: $breakpoint-mobile) {
                                    display: flex;
                                }
                                md-chip {
                                    @extend %detailsItems;
                                    background-color: $dark-coal-light-new-op01 !important;
                                    line-height: 24px;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                        button {
                            top: 0;
                        }
                    }
                    &_other-buttons {
                        min-width: auto !important;
                        width: auto !important;
                        margin-left: 40px;
                        @media (max-width: $breakpoint-mid-tablet) {
                            margin-left: 10px;
                        }
                        & #resetAllToggle {
                            background-color: $dark-coal-light-new-op01;
                            color: $dark-coal-light-new;
                            &:hover,
                            &:active {
                                background-color: $dark-coal-light-new-op02;
                            }
                        }
                    }
                }
            }
        }
    }
    .page {
        padding: 0;
    }
    .content-container {
        overflow: visible !important;
    }
    md-table-container {
        background-color: $gray-bg-light-new;
        .table {
            margin-bottom: 0;
            .test {
                position: relative;
                display: flex;
                @media(max-width: $breakpoint-mobile) {
                    flex-wrap: wrap;
                    width: calc(100vw - 60px);
                }
                @media (max-width: 480px) {
                    width: 100vw;
                }
                &-empty,
                &-loading {
                    padding: 20px !important;
                    text-align: center;
                }
                &:not(:nth-last-child(2)){
                    border-bottom: 2px solid white;
                }
                &__clickable-wrapper {
                    @media(min-width: $breakpoint-mobile + 1) {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(0,0,0,.05);
                        }
                    }
                }
                &.success {
                    & .test-info,
                    & .test-label,
                    & .test-settings {
                        background-color: $green-bg-light-new;
                    }
                }
                &.danger {
                    & .test-info,
                    & .test-label,
                    & .test-settings {
                        background-color: $pink-bg-light-new;
                    }
                }
                &-info {
                    width: 50vw;
                    flex-grow: 1;
                    @media (max-width:670px) {
                        width: 45vw;
                    }
                    @media(max-width: $breakpoint-mobile) {
                        width: 100%;
                        border-top: 0 !important;
                        padding-bottom: 0 !important;
                    }
                    &__name {
                        margin-bottom: 0;
                        font-weight: 500;
                    }
                    &__wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 12px;
                        @media(max-width: $breakpoint-mobile) {
                            margin-top: 5px;
                        }
                        .material-icons {
                            font-size: 12px;
                            margin-right: 3px;
                        }
                        .fa {
                            margin-right: 3px;
                        }
                        .light_text {
                            display: flex;
                            align-items: center;
                            margin-right: 4px;
                        }
                    }
                    & .result_error {
                        [id^="more"], [id^="less"] {
                            z-index: 3;
                            position: relative;
                        }
                        &.FAILED {
                            background-color: $pink-bg-new;
                            & .test-error {
                                word-wrap: break-word;
                            }
                        }
                    }

                    &_tags {
                        z-index: 3;
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        background-color: transparent;
                        padding-left: 0;
                        margin-left: 0;
                        min-height: 25px;
                        @media(max-width: $breakpoint-mobile) {
                            margin-top: 10px;
                            margin-left: 0 !important;
                        }
                        &_tag {
                            @extend %detailsItems;
                            background-color: #00000026 !important;
                            margin: 2px 4px 2px 0;
                            padding: 4px 8px;
                            display: inherit;
                        }
                    }
                }
                & .test-label {
                    max-width: 110px;
                    width: 110px;
                    padding: 15px 5px;
                    @extend %noBorderPadding;
                    @media (max-width: $breakpoint-mobile) {
                        padding: 15px;
                        width: 100%;
                        max-width: 100%;
                        text-align: left;
                        & .work-items .badge {
                            margin-top: 7px;
                        }
                    }
                    & .work-items .badge {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100px;
                    }
                }
                &-settings {
                    .divider {
                        width: 28px;
                        height: 2px;
                        background-color: #c9d6ca;
                        transform: rotate(-90deg);
                        @media(max-width: $breakpoint-mobile) {
                            display: none;
                        }
                    }
                    @media(max-width: $breakpoint-mobile) {
                        flex-grow: 1;
                    }
                    @extend %noBorderPadding;
                    &__attachment {
                        display: flex;
                        align-items: flex-end;
                        color: rgba(0,0,0,0.54);
                        margin: 5px 0;
                        md-icon {
                            min-height: 12px;
                            height: 12px;
                        }
                        p {
                            font-size: 12px;
                            margin: 0 15px 0 5px;
                            max-width: 100px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    &__wrapper {
                        position: relative;
                        z-index: 3;
                        display: flex;
                        flex-wrap: wrap;
                    }
                    &__button {
                        @media(max-width: $breakpoint-mobile) {
                            display: none;
                        }
                    }
                    &__menu {
                        @media (min-width: $breakpoint-mobile + 1) {
                            display: none;
                        }
                        button.md-icon-button.md-button.md-ink-ripple {
                            padding: 0;
                            margin: 0 -15px 0 0;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: $breakpoint-mobile + 1) {
        .ui-section {
            padding: 0 20px;
        }
    }
    .test-settings__menu-content,
    .test-settings__submenu-content,
    .test-settings__descmenu-content {
        @media (min-width: $breakpoint-mobile + 1) {
            .overview {
                display: none;
            }
        }
        md-menu-item, md-menu {
            display: flex;
            align-items: center;
            padding: 0;
            .md-button {
                min-width: 40px;
                width: 100%;
                display: flex;
                text-transform: none;
                font-weight: 400;
                md-icon {
                    margin-right: 16px;
                }
                .point-icon {
                    font-size: 14px;
                    min-height: 14px;
                    max-height: 14px;
                    min-width: 14px;
                    max-width: 14px;
                    margin-left: 5px;
                    margin-right: 20px;
                    &._red {
                        color: $red-new;
                    }
                    &._green {
                        color: $green-new;
                    }
                }
                .assignment {
                    transform: scale(-1, 1);
                }
                span {
                    padding-left: 16px;
                    color: rgba(0,0,0,0.87);
                    font-weight: normal;
                    text-transform: none;
                }
            }
        }   
    }
}

%detailsItems {
    max-height: 28px;
    border-radius: 14px !important;
    letter-spacing: 0.2px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: $dark-coal-light-new !important;
    &:hover {
        background-color: rgba(0, 0, 0, .35) !important;
    }

    &.md-focused,
    &.active {
        background-color: $dark-coal-light-new !important;
        color: #ffffff !important;
    }
}

%noBorderPadding {
    @media(max-width: $breakpoint-mobile) {
        border-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
