#loading-bar {
    .bar {
        background: #effff4;
    }

    &-spinner {
        bottom: 7px;
        right: 7px;

        .spinner-icon {
            width: 16px;
            height: 16px;
            border-top-color:  #009688;
            border-left-color: #009688;
        }
    }
}
