
// Shared variables and mixins
@import 
    "global/var"                        // global variables
,   "global/var-extra"                  // extra global variables
,   "bootstrap/bootstrap/mixins"        // Bootstrap mixins
;


@import 
    "global/shared"
    
// overrides 3rd party libs' style
,   "libs/angular-material"
,   "libs/angular-material-data-table"
,   "libs/angular-wizard"

// Pages
,   "global/var-pages"
,   "pages/dashboard"
,   "pages/pages"
,   "pages/error"
,   "pages/auth"
,   "pages/profile"
,   "pages/invoice"
,   "pages/features"
,   "pages/demo"
,   "pages/demo-material"
,   "pages/test-details"

// sections
,   "layout/layouts"
,   "layout/nav"
,   "layout/nav-off-canvas"
,   "layout/nav-horizontal"
,   "layout/nav-min"
,   "layout/nav-color"
,   "layout/header"
,   "layout/body"
,   "layout/commons/commons"
,   "layout/quickview"
,   "layout/quickview-customizer"
,   "theme/customzier-options"
;
