@media (max-width: 768px) {
    #search-container, .filter-input-container, .filter-name, .filter-select-container, .filter-text input, md-input-container.searchable {
        width: 100% !important;
    }
    #search-container, .filter-text div, .filter-name, .filter-input-container, .filter-select-container, md-input-container.searchable, .date-picker-container {
        margin: 0 0 8px 0 !important;
    }
    .filter-text {
        padding-bottom: 0;
    }
    #search-container .form-control {
        width: 100% !important;
        padding-right: 12px;
    }
    .value-input, .filter-date {
        width:100%;
        margin-right: 8px !important;
    }
    button#add-button{
      float: right;
    }
    .btn-check {
        position: relative;
        right: 0;
        margin: 6px 0;
        width: 100%;
    }
    .btn-check button {
        display: flex;
        float: right !important;
    }
    .reviewed {
        margin-right: 8px;
    }
    .searchable.select, .date-picker-container {
        padding: 0 !important;
    }
}
