// Shared variables and mixins
@import
    "global/var"                        // global variables
,   "global/var-extra"                  // extra global variables
;

#loader-container {
    background: #EDF0F1;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

#loader-container.company-init:not(.company-logo) {
    background: #EDF0F1 url('#{$image_path}/audio.svg') no-repeat center center fixed;
}

#loader-container.company-logo #loader-container-image {
    display: block !important;
}

#loader-container:not(.company-logo) #loader-container-image {
    display: none !important;
}

#loader-container-image {
    position: absolute !important;
    overflow: hidden;
    height: 50px;
    width: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100000;
    margin: auto;
    top: 0;
    border-radius: 50%;
}

#loader-container-image img {
    height: 50px;
    width: 50px;
}

#loader-container-image.login-page-logo {
    top: -5px !important;
    height: 70px !important;
    width: 70px !important;
    bottom: auto;
}

#loader-container-image.login-page-logo img {
    height: 70px !important;
    width: 70px !important;
}
