<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ldap="http://www.springframework.org/schema/ldap"
	   xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">

	<bean id="userAuthService" class="com.qaprosoft.zafira.ws.security.UserPassAuthService" />
	
	<bean id="passwordEncoder" class="org.jasypt.springsecurity3.authentication.encoding.PasswordEncoder">
		<property name="passwordEncryptor">
			<ref bean="passwordEncryptor" />
		</property>
	</bean>
	
	<security:authentication-manager alias="authenticationManager">

		<!--<security:ldap-authentication-provider server-ref="getLdapContextSource"/>-->

		<security:authentication-provider user-service-ref="userAuthService">
			<security:password-encoder ref="passwordEncoder" />
		</security:authentication-provider>

		<!--<security:ldap-authentication-provider  server-ref="getLdapContextSource">
			<security:password-compare>
				<security:password-encoder ref="passwordEncoder"/>
			</security:password-compare>
		</security:ldap-authentication-provider>-->
		<security:authentication-provider ref="getLdapAuthenticationProvider" />
		
		<!-- Comment out to use LDAP (make sure LDAP configuration specified in maven profile) -->
		<!-- security:authentication-provider ref="ldapAuthProvider"  / -->
		
	</security:authentication-manager>
	
	<bean id="authenticationTokenProcessingFilter" class="com.qaprosoft.zafira.ws.security.filter.JwtTokenAuthenticationFilter" />
	
	<bean id="unauthorizedEntryPoint" class="com.qaprosoft.zafira.ws.security.filter.SecurityAuthenticationEntryPoint" />
	
	<bean id="accessDeniedHandler" class="com.qaprosoft.zafira.ws.security.filter.RestAccessDeniedHandler" />

	<bean id="userPermissionEvaluator" class="com.qaprosoft.zafira.ws.security.expressions.UserPermissionEvaluator" />

	<bean id="methodSecurityExpressionHandler" class="com.qaprosoft.zafira.ws.security.expressions.RestMethodSecurityExpressionHandler">
		<property name="permissionEvaluator" ref="userPermissionEvaluator" />
	</bean>
	
	<security:http pattern="/api/auth/login" security="none" />
	<security:http pattern="/api/config/**" security="none" />
	<security:http pattern="/api/auth/refresh" security="none" />
	<security:http pattern="/api/status/**" security="none" />
	<security:http pattern="/api/dashboards/email" security="none" />
	<security:http pattern="/api/settings/companyLogo" security="none" />
	<security:http pattern="/websockets/**" security="none" />

	<!-- Protected API end-points -->
	<security:http realm="Protected API" use-expressions="true" auto-config="false" create-session="stateless" entry-point-ref="unauthorizedEntryPoint" >
		
		<security:csrf disabled="true"/>
		
		<security:access-denied-handler ref="accessDeniedHandler" />
		
		<security:custom-filter ref="authenticationTokenProcessingFilter" after="EXCEPTION_TRANSLATION_FILTER" />

		<security:intercept-url pattern="/api/auth/access" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/users/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/profiles/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/tests/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/dashboards/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/widgets/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/projects/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/groups/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/permissions/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/devices/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/settings/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/jobs/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/certification/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/events/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/projects/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/slack/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/views/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/widgets/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/api/widgets/**" access="isAuthenticated()" />

	</security:http>
	
	<!-- ####################### LDAP configuration ####################### -->
	<!--<security:ldap-server id="contextSource" url="${zafira.ldap.protocol}://${zafira.ldap.server}:${zafira.ldap.port}/"  manager-dn="${zafira.ldap.manager.user}" manager-password="${zafira.ldap.manager.password}"/>-->

	<!--<bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<constructor-arg ref="bindAuthenticator" />
		<property name="userDetailsContextMapper" ref="customUserDetailsContextMapper" />
	</bean>

	<bean id="customUserDetailsContextMapper" class="com.qaprosoft.zafira.ws.security.ldap.LDAPUserDetailsContextMapper" />

	<bean id="bindAuthenticator" class="org.springframework.security.ldap.authentication.BindAuthenticator">
		<constructor-arg ref="contextSource" />
		<property name="userSearch" ref="userSearch" />
	</bean>

	<bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
		<constructor-arg index="0" value="${zafira.ldap.dn}" />
		<constructor-arg index="1" value="(${zafira.ldap.search_filter}={0})" />
		<constructor-arg index="2" ref="contextSource" />
		<property name="searchSubtree" value="true" />
	</bean>-->

</beans>