<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.DashboardMapper">
	
	 <insert id="createDashboard" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			INSERT INTO zafira.DASHBOARDS (TITLE, HIDDEN, POSITION)
			VALUES (
				#{title},
				#{hidden},
				#{position}
			)
		]]>
    </insert>
    
    <sql id="getDashboard">
        <![CDATA[
			SELECT
				D.ID AS DASHBOARD_ID,
				D.TITLE AS DASHBOARD_TITLE,
				D.HIDDEN AS DASHBOARD_HIDDEN,
				D.POSITION AS DASHBOARD_POSITION,
				D.MODIFIED_AT AS DASHBOARD_MODIFIED_AT,
				D.CREATED_AT AS DASHBOARD_CREATED_AT,
				W.ID AS WIDGET_ID,
				W.TITLE AS WIDGET_TITLE,
				DW.POSITION AS DASHBOARD_WIDGET_POSITION,
				W.SQL AS WIDGET_SQL,
				W.MODEL AS WIDGET_MODEL,
				DW.SIZE AS DASHBOARD_WIDGET_SIZE,
				W.TYPE AS WIDGET_TYPE,
				W.MODIFIED_AT AS WIDGET_MODIFIED_AT,
				W.CREATED_AT AS WIDGET_CREATED_AT,
				DA.ID AS DASHBOARD_ATTRIBUTE_ID,
				DA.KEY AS DASHBOARD_ATTRIBUTE_KEY,
				DA.VALUE AS DASHBOARD_ATTRIBUTE_VALUE
			FROM
				zafira.DASHBOARDS D
            LEFT JOIN
                zafira.DASHBOARDS_WIDGETS DW
            ON
                D.ID = DW.DASHBOARD_ID
            LEFT JOIN
                zafira.WIDGETS W
            ON
                DW.WIDGET_ID = W.ID
            LEFT JOIN
                zafira.DASHBOARD_ATTRIBUTES DA
            ON
                D.ID = DA.DASHBOARD_ID
		]]>
    </sql>
	
	<select id="getAllDashboards" resultMap="DashboardResultMap">
		<include refid="getDashboard" />
		<![CDATA[
			ORDER BY D.POSITION ASC;
		]]>
	</select>
	
	<select id="getDashboardById" resultMap="DashboardResultMap">
		<include refid="getDashboard" />
		<![CDATA[
			WHERE D.ID = #{id};
		]]>
	</select>

    <select id="getDashboardByTitle" resultMap="DashboardResultMap">
        <include refid="getDashboard" />
        <![CDATA[
			WHERE D.TITLE = #{title};
		]]>
    </select>

    <select id="getDashboardsByHidden" resultMap="DashboardResultMap">
        <include refid="getDashboard" />
        <![CDATA[
			WHERE D.HIDDEN = #{hidden}
			ORDER BY D.POSITION ASC;
		]]>
    </select>
	
	<update id="updateDashboard">
		<![CDATA[
			UPDATE
			    zafira.DASHBOARDS
			SET
				TITLE = #{title},
                HIDDEN = #{hidden},
				POSITION = #{position}
			WHERE
			    ID = #{id}
		]]>
	</update>
	
	<sql id="deleteDashboard">
		<![CDATA[
			DELETE FROM zafira.DASHBOARDS
		]]>
	</sql>

	<delete id="deleteDashboardById">
		<include refid="deleteDashboard" />
		<![CDATA[
			WHERE ID = #{id}
		]]>
	</delete>
	
	<resultMap type="com.qaprosoft.zafira.models.db.Dashboard" id="DashboardResultMap" autoMapping="false">
        <id column="DASHBOARD_ID" property="id" />
        <result column="DASHBOARD_TITLE" property="title" />
        <result column="DASHBOARD_HIDDEN" property="hidden"/>
        <result column="DASHBOARD_POSITION" property="position"/>
        <result column="DASHBOARD_MODIFIED_AT" property="modifiedAt" />
        <result column="DASHBOARD_CREATED_AT" property="createdAt" />
        <collection property="widgets" ofType="com.qaprosoft.zafira.models.db.Widget"
                    resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.WidgetMapper.WidgetResultMap"/>
        <collection property="attributes" ofType="com.qaprosoft.zafira.models.db.Attribute"
                    resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.DashboardMapper.AttributeResultMap"/>
    </resultMap>
    
    <!-- Dashboard widgets -->
    
    <insert id="addDashboardWidget" useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO zafira.DASHBOARDS_WIDGETS (DASHBOARD_ID, WIDGET_ID, POSITION, SIZE)
            VALUES (
                #{dashboardId},
                #{widget.id},
                #{widget.position},
                #{widget.size}
            )
        ]]>
    </insert>

    <delete id="deleteDashboardWidget">
        DELETE 
        FROM 
        	zafira.DASHBOARDS_WIDGETS
       	WHERE 
       		ID = (SELECT ID FROM zafira.DASHBOARDS_WIDGETS WHERE DASHBOARD_ID = #{dashboardId} AND WIDGET_ID = #{widgetId})
    </delete>
    
    <update id="updateDashboardWidget">
        <![CDATA[
            UPDATE
              zafira.DASHBOARDS_WIDGETS
        ]]>
        <set>
            <if test="null != widget.position">
                <![CDATA[
                    POSITION = #{widget.position},
                ]]>
            </if>
            <if test="null != widget.size">
                <![CDATA[
                    SIZE = #{widget.size}
                ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = (SELECT ID FROM zafira.DASHBOARDS_WIDGETS WHERE DASHBOARD_ID = #{dashboardId} AND WIDGET_ID = #{widget.id})
        ]]>
    </update>

    <insert id="createDashboardAttribute" useGeneratedKeys="true" keyProperty="attribute.id">
        <![CDATA[
			INSERT INTO zafira.DASHBOARD_ATTRIBUTES (KEY, VALUE, DASHBOARD_ID)
			VALUES (
				#{attribute.key},
				#{attribute.value},
				#{dashboardId}
			)
		]]>
    </insert>

    <sql id="getAttributes">
        <![CDATA[
			SELECT
				DA.ID AS DASHBOARD_ATTRIBUTE_ID,
				DA.KEY AS DASHBOARD_ATTRIBUTE_KEY,
				DA.VALUE AS DASHBOARD_ATTRIBUTE_VALUE
			FROM
				zafira.DASHBOARD_ATTRIBUTES DA
            LEFT JOIN
                zafira.DASHBOARDS D
            ON
                DA.DASHBOARD_ID = D.ID
		]]>
    </sql>

    <select id="getAttributesByDashboardId" resultMap="AttributeResultMap">
        <include refid="getAttributes" />
        <![CDATA[
			WHERE
			  D.ID = #{dashboardId}
		]]>
    </select>

    <select id="getAttributeById" resultMap="AttributeResultMap">
        <include refid="getAttributes" />
        <![CDATA[
			WHERE
			  DA.ID = #{attributeId}
		]]>
    </select>

    <delete id="deleteDashboardAttributeById">
        DELETE
        FROM
        zafira.DASHBOARD_ATTRIBUTES
        WHERE
        ID = #{id}
    </delete>

    <update id="updateAttribute">
        <![CDATA[
            UPDATE
              zafira.DASHBOARD_ATTRIBUTES
        ]]>
        <set>
            <if test="null != key">
                <![CDATA[
                    KEY = #{key},
                ]]>
            </if>
            <if test="null != value">
                <![CDATA[
                    VALUE = #{value}
                ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <resultMap type="com.qaprosoft.zafira.models.db.Attribute" id="AttributeResultMap" autoMapping="false">
        <id column="DASHBOARD_ATTRIBUTE_ID" property="id" />
        <result column="DASHBOARD_ATTRIBUTE_KEY" property="key" />
        <result column="DASHBOARD_ATTRIBUTE_VALUE" property="value"/>
    </resultMap>

</mapper>