<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.DeviceMapper">

	<insert id="createDevice" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.DEVICES (MODEL, SERIAL, ENABLED, LAST_STATUS, DISCONNECTS)
			VALUES (#{model},
					#{serial},
					#{enabled},
					#{lastStatus},
					#{disconnects})
		]]>
	</insert>

	<sql id="getDevice">
		<![CDATA[
			SELECT
				D.ID AS DEVICE_ID,
				D.MODEL AS DEVICE_MODEL,
				D.SERIAL AS DEVICE_SERIAL,
				D.ENABLED AS DEVICE_ENABLED,
				D.LAST_STATUS AS DEVICE_LAST_STATUS,
				D.DISCONNECTS AS DEVICE_DISCONNECTS,
				D.MODIFIED_AT AS DEVICE_MODIFIED_AT,
				D.CREATED_AT AS DEVICE_CREATED_AT
			FROM
				zafira.DEVICES D
		]]>
	</sql>
	
	<select id="getAllDevices" resultMap="DeviceResultMap">
		<include refid="getDevice" />
		<![CDATA[
			ORDER BY D.MODEL;
		]]>
	</select>
	
	<select id="getDeviceById" resultMap="DeviceResultMap">
		<include refid="getDevice" />
		<![CDATA[
			WHERE D.ID = #{id};
		]]>
	</select>

	<update id="updateDevice">
		<![CDATA[
			UPDATE
			    zafira.DEVICES
			SET
			    MODEL = #{model},
			    SERIAL = #{serial},
			    ENABLED = #{enabled},
			    LAST_STATUS = #{lastStatus},
			    DISCONNECTS = #{disconnects}
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteDevice">
		<![CDATA[
			DELETE FROM zafira.DEVICES
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteDevice">
		<include refid="deleteDevice" />
	</delete>

	<delete id="deleteDeviceById">
		<include refid="deleteDevice" />
	</delete>

	<resultMap type="com.qaprosoft.zafira.models.db.Device" id="DeviceResultMap" autoMapping="false">
		<id column="DEVICE_ID" property="id" />
		<result column="DEVICE_MODEL" property="model" />
		<result column="DEVICE_SERIAL" property="serial" />
		<result column="DEVICE_ENABLED" property="enabled" />
		<result column="DEVICE_LAST_STATUS" property="lastStatus" />
		<result column="DEVICE_DISCONNECTS" property="disconnects" />
		<result column="DEVICE_MODIFIED_AT" property="modifiedAt" />
		<result column="DEVICE_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
