<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.GroupMapper">
    <insert id="createGroup"  useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO zafira.GROUPS(NAME, ROLE)
          VALUES (
            #{name},
            #{role}
          )
        ]]>
    </insert>

    <sql id="getGroup">
        <![CDATA[
			SELECT

				G.ID AS GROUP_ID,
				G.NAME AS GROUP_NAME,
				G.ROLE AS GROUP_ROLE,
				G.MODIFIED_AT AS GROUP_MODIFIED_AT,
				G.CREATED_AT AS GROUP_CREATED_AT,
				U.ID AS USER_ID,
				U.USERNAME AS USER_USERNAME,
				U.PASSWORD AS USER_PASSWORD,
				U.FIRST_NAME AS USER_FIRST_NAME,
				U.LAST_NAME AS USER_LAST_NAME,
				U.EMAIL AS USER_EMAIL,
				U.MODIFIED_AT AS USER_MODIFIED_AT,
				U.CREATED_AT AS USER_CREATED_AT
			FROM
				zafira.GROUPS G
			LEFT JOIN
				zafira.USER_GROUPS UG
			ON
				G.ID = UG.GROUP_ID
			LEFT JOIN
				zafira.USERS U
			ON
				UG.USER_ID = U.ID
		]]>
    </sql>

    <sql id="getCount">
        <![CDATA[
			SELECT
				COUNT(*)
			FROM
				zafira.GROUPS G
		]]>
    </sql>

    <select id="getGroupsCount" resultType="java.lang.Integer">
        <include refid="getCount" />
    </select>

    <select id="getAllGroups" resultMap="GroupResultMap">
        <include refid="getGroup" />
    </select>

    <select id="getGroupById" resultMap="GroupResultMap">
        <include refid="getGroup" />
        <![CDATA[
			WHERE G.ID = #{id};
		]]>
    </select>

    <update id="updateGroup">
        <![CDATA[
			UPDATE
			    zafira.GROUPS
		]]>
        <set>
            <if test="null != name">
                <![CDATA[
		               NAME = #{name},
		            ]]>
            </if>
            <if test="null != role">
                <![CDATA[
		               ROLE = #{role}
		            ]]>
            </if>
        </set>
        <![CDATA[
			WHERE
			    ID = #{id}
		]]>
    </update>

    <sql id="deleteGroup">
        <![CDATA[
			DELETE FROM zafira.GROUPS
		]]>
    </sql>

    <delete id="deleteGroup">
        <include refid="deleteGroup" />
        <![CDATA[
			WHERE ID = #{id}
		]]>
    </delete>


    <resultMap type="com.qaprosoft.zafira.models.db.Group" id="GroupResultMap" autoMapping="false">
        <id column="GROUP_ID" property="id" />
        <result column="GROUP_NAME" property="name" />
        <result column="GROUP_ROLE" property="role" />

        <result column="GROUP_MODIFIED_AT" property="modifiedAt" />
        <result column="GROUP_CREATED_AT" property="createdAt" />
        <collection property="userList" ofType="com.qaprosoft.zafira.models.db.User" resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.GroupMapper.UserResultMap"/>
    </resultMap>

    <resultMap type="com.qaprosoft.zafira.models.db.User" id="UserResultMap" autoMapping="false">
        <id column="USER_ID" property="id" />
        <result column="USER_USERNAME" property="userName" />
        <result column="USER_PASSWORD" property="password" />
        <result column="USER_FIRST_NAME" property="firstName" />
        <result column="USER_LAST_NAME" property="lastName" />
        <result column="USER_EMAIL" property="email" />
        <result column="USER_MODIFIED_AT" property="modifiedAt" />
        <result column="USER_CREATED_AT" property="createdAt" />
    </resultMap>
</mapper>