<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.MonitorMapper">

    <insert id="createMonitor" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[

			INSERT INTO zafira.MONITORS (NAME, URL, HTTP_METHOD, REQUEST_BODY, ENV, COMMENT, NOTIFICATIONS_ENABLED, MONITOR_ENABLED, CRON_EXPRESSION,
			EXPECTED_CODE, RECIPIENTS, TYPE)
			VALUES (
				#{name},
				#{url},
			    #{httpMethod},
				#{requestBody},
				#{environment},
				#{comment},
				#{notificationsEnabled},
				#{monitorEnabled},
				#{cronExpression},
				#{expectedCode},
				#{recipients},
				#{type}
			)

        ]]>
    </insert>

    <insert id="createMonitorStatus" useGeneratedKeys="true" keyProperty="monitorStatus.id">
        <![CDATA[

			INSERT INTO zafira.MONITOR_STATUSES (MONITOR_ID, SUCCESS)
			VALUES (
				#{monitorId},
				#{monitorStatus.success}
			)

        ]]>
    </insert>

    <sql id="deleteMonitor">
        <![CDATA[

			DELETE FROM zafira.MONITORS
			WHERE ID = #{id}

        ]]>
    </sql>

    <delete id="deleteMonitor">
        <include refid="deleteMonitor"/>
    </delete>

    <delete id="deleteMonitorById">
        <include refid="deleteMonitor"/>
    </delete>

    <update id="updateMonitor">
        <![CDATA[

			UPDATE
			    zafira.MONITORS
			SET
                NAME = #{name},
                URL = #{url},
                HTTP_METHOD = #{httpMethod},
                REQUEST_BODY = #{requestBody},
                ENV = #{environment},
                COMMENT = #{comment},
                NOTIFICATIONS_ENABLED = #{notificationsEnabled},
                MONITOR_ENABLED = #{monitorEnabled},
                CRON_EXPRESSION = #{cronExpression},
                EXPECTED_CODE = #{expectedCode},
                SUCCESS = #{success},
                RECIPIENTS = #{recipients},
                TYPE = #{type}
			WHERE
			    ID = #{id}

        ]]>
    </update>


    <sql id="getMonitors">
        <![CDATA[
			SELECT
				M.ID AS MONITOR_ID,
				M.NAME AS MONITOR_NAME,
				M.URL AS MONITOR_URL,
				M.HTTP_METHOD AS MONITOR_HTTP_METHOD,
				M.REQUEST_BODY AS MONITOR_REQUEST_BODY,
				M.ENV AS MONITOR_ENVIRONMENT,
				M.COMMENT AS MONITOR_COMMENT,
				M.NOTIFICATIONS_ENABLED AS MONITOR_NOTIFICATIONS_ENABLED,
				M.MONITOR_ENABLED AS MONITOR_MONITOR_ENABLED,
				M.CRON_EXPRESSION AS MONITOR_CRON_EXPRESSION,
				M.RECIPIENTS AS MONITOR_RECIPIENTS,
				M.EXPECTED_CODE AS MONITOR_EXPECTED_CODE,
				M.SUCCESS AS MONITOR_SUCCESS,
				M.TYPE AS MONITOR_TYPE,
				M.CREATED_AT AS MONITOR_CREATED_AT,
				M.MODIFIED_AT AS MONITOR_MODIFIED_AT
			FROM
				zafira.MONITORS M

        ]]>
    </sql>

    <sql id="getMonitorStatuses">
        <![CDATA[
			SELECT
				MS.ID AS MONITOR_STATUS_ID,
				MS.MONITOR_ID AS MONITOR_STATUS_MONITOR_ID,
				MS.SUCCESS AS MONITOR_STATUS_SUCCESS,
				MS.CREATED_AT AS MONITOR_STATUS_CREATED_AT,
				MS.MODIFIED_AT AS MONITOR_STATUS_MODIFIED_AT
			FROM
				zafira.MONITOR_STATUSES MS

        ]]>
    </sql>

    <select id="searchMonitors" resultMap="MonitorResultMap">
        <include refid="getMonitors"/>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="null != name">
                <![CDATA[
	               AND LOWER(M.NAME) LIKE LOWER(CONCAT('%', #{name}, '%'))
	            ]]>
            </if>
            <if test="null != url">
                <![CDATA[
	               AND LOWER(M.URL) LIKE LOWER(CONCAT('%', #{url}, '%'))
	            ]]>
            </if>
            <if test="null != environment">
                <![CDATA[
	               AND LOWER(M.ENV) = LOWER(#{environment})
	            ]]>
            </if>
            <if test="null != comment">
                <![CDATA[
	               AND LOWER(M.COMMENT) LIKE LOWER(CONCAT('%', #{comment}, '%'))
	            ]]>
            </if>
            <if test="null != enabled">
                <![CDATA[
	               AND M.ENABLED = #{enabled}
	            ]]>
            </if>
        </trim>
        <if test="sortOrder.toString() == 'ASC'">
            <![CDATA[
				ORDER BY M.SUCCESS, M.NAME ASC
			]]>
        </if>
        <if test="sortOrder.toString() == 'DESC'">
            <![CDATA[
				ORDER BY M.SUCCSESS, M.NAME DESC
			]]>
        </if>
        <![CDATA[
			LIMIT #{pageSize} OFFSET #{offset}
		]]>
    </select>

    <select id="getMonitorsSearchCount" resultType="java.lang.Integer">
        <![CDATA[
		SELECT
			COUNT(*)
		FROM
			zafira.MONITORS M
		]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="null != name">
                <![CDATA[
	               AND LOWER(M.NAME) LIKE LOWER(CONCAT('%', #{name}, '%'))
	            ]]>
            </if>
            <if test="null != url">
                <![CDATA[
	               AND LOWER(M.URL) LIKE LOWER(CONCAT('%', #{url}, '%'))
	            ]]>
            </if>
            <if test="null != environment">
                <![CDATA[
	               AND LOWER(M.ENV) = LOWER(#{environment})
	            ]]>
            </if>
            <if test="null != comment">
                <![CDATA[
	               AND LOWER(M.COMMENT) LIKE LOWER(CONCAT('%', #{comment}, '%'))
	            ]]>
            </if>
            <if test="null != enabled">
                <![CDATA[
	               AND M.ENABLED = #{enabled}
	            ]]>
            </if>
        </trim>
    </select>

    <select id="getLastMonitorStatus" resultMap="MonitorStatusResultMap">
        <include refid="getMonitorStatuses"/>
        <![CDATA[
            WHERE MS.MONITOR_ID = #{monitorId}
			ORDER BY MS.CREATED_AT LIMIT 1
		]]>
    </select>

    <select id="getMonitorById" resultMap="MonitorResultMap">
        <include refid="getMonitors"/>
        <![CDATA[
			WHERE M.ID = #{id};
		]]>
    </select>

    <select id="getMonitorByMonitorName" resultMap="MonitorResultMap">
        <include refid="getMonitors"/>
        <![CDATA[
			WHERE M.NAME = #{name};
		]]>
    </select>


    <select id="getAllMonitors" resultMap="MonitorResultMap">
        <include refid="getMonitors"/>
    </select>


    <sql id="getCount">
        <![CDATA[
			SELECT
				COUNT(*)
			FROM
				zafira.MONITORS M
        ]]>
    </sql>

    <select id="getMonitorsCount" resultType="java.lang.Integer">
        <include refid="getCount"/>
    </select>


    <resultMap type="com.qaprosoft.zafira.models.db.Monitor" id="MonitorResultMap" autoMapping="false">
        <id column="MONITOR_ID" property="id"/>
        <result column="MONITOR_NAME" property="name"/>
        <result column="MONITOR_URL" property="url"/>
        <result column="MONITOR_HTTP_METHOD" property="httpMethod"/>
        <result column="MONITOR_REQUEST_BODY" property="requestBody"/>
        <result column="MONITOR_ENVIRONMENT" property="environment"/>
        <result column="MONITOR_COMMENT" property="comment"/>
        <result column="MONITOR_NOTIFICATIONS_ENABLED" property="notificationsEnabled"/>
        <result column="MONITOR_MONITOR_ENABLED" property="monitorEnabled"/>
        <result column="MONITOR_CRON_EXPRESSION" property="cronExpression"/>
        <result column="MONITOR_EXPECTED_CODE" property="expectedCode"/>
        <result column="MONITOR_SUCCESS" property="success"/>
        <result column="MONITOR_RECIPIENTS" property="recipients"/>
        <result column="MONITOR_TYPE" property="type"/>
        <result column="JOB_MODIFIED_AT" property="modifiedAt"/>
        <result column="JOB_CREATED_AT" property="createdAt"/>
    </resultMap>

    <resultMap type="com.qaprosoft.zafira.models.db.MonitorStatus" id="MonitorStatusResultMap" autoMapping="false">
        <id column="MONITOR_STATUS_ID" property="id"/>
        <result column="MONITOR_STATUS_SUCCESS" property="success"/>
        <result column="MONITOR_STATUS_MODIFIED_AT" property="modifiedAt"/>
        <result column="MONITOR_STATUS_CREATED_AT" property="createdAt"/>
    </resultMap>

</mapper>
