<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.MonitorMapper">

    <insert id="createMonitor" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			INSERT INTO zafira.MONITORS (NAME, URL, HTTP_METHOD, REQUEST_BODY, ENABLE_NOTIFICATION, CRON_EXPRESSION,
			EXPECTED_RESPONSE_STATUS)
			VALUES (
				#{name},
				#{url},
			    #{http_method},
				#{request_body},
				#{enable_notification},
				#{cron_expression},
				#{expected_response_status}
			)
		]]>
    </insert>

    <insert id="addUserToGroup">
        <![CDATA[
			INSERT INTO zafira.USER_MONITORS (MONITOR_ID, USER_ID)
			VALUES (
				#{monitorId},
				#{userId}
			)
		]]>
    </insert>
</mapper>
