<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.TestRunMapper">

	<insert id="createTestRun" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO TEST_RUNS (USER_ID, TEST_SUITE_ID, STATUS, SCM_URL, SCM_BRANCH, SCM_REVISION, CONFIG_XML, WORK_ITEM_ID, JOB_ID, UPSTREAM_JOB_ID, UPSTREAM_JOB_BUILD_NUMBER, BUILD_NUMBER, STARTED_BY)
			VALUES (
				#{user.id},
			    #{testSuiteId},
				#{status},
				#{scmURL},
				#{scmBranch},
				#{scmRevision},
				#{configXML},
				#{workItem.id},
				#{job.id},
				#{upstreamJob.id},
				#{upstreamJobBuildNumber},
				#{buildNumber},
				#{startedBy}
			)
		]]>
	</insert>
	
	

	<sql id="getTestRun">
		<![CDATA[
			SELECT
				TR.ID AS TEST_RUN_ID,
				TR.USER_ID AS TEST_RUN_USER_ID,
				TR.TEST_SUITE_ID AS TEST_RUN_TEST_SUITE_ID,
				TR.STATUS AS TEST_RUN_STATUS,
				TR.SCM_URL AS TEST_RUN_SCM_URL,
				TR.SCM_BRANCH AS TEST_RUN_SCM_BRANCH,
				TR.SCM_REVISION AS TEST_RUN_SCM_REVISION,
				TR.CONFIG_XML AS TEST_RUN_CONFIG_XML,
				TR.WORK_ITEM_ID AS TEST_RUN_WORK_ITEM_ID,
				TR.JOB_ID AS TEST_RUN_JOB_ID,
				TR.UPSTREAM_JOB_ID AS TEST_RUN_UPSTREAM_JOB_ID,
				TR.UPSTREAM_JOB_BUILD_NUMBER AS TEST_RUN_UPSTREAM_JOB_BUILD_NUMBER,
				TR.BUILD_NUMBER AS TEST_RUN_BUILD_NUMBER,
				TR.STARTED_BY AS TEST_RUN_STARTED_BY,
				TR.MODIFIED_AT AS TEST_RUN_MODIFIED_AT,
				TR.CREATED_AT AS TEST_RUN_CREATED_AT
			FROM
				TEST_RUNS TR
		]]>
	</sql>
	
	<select id="getTestRunById" resultMap="TestRunResultMap">
		<include refid="getTestRun" />
		<![CDATA[
			WHERE TR.ID = #{id};
		]]>
	</select>

	<update id="updateTestRun">
		<![CDATA[
			UPDATE
			    TEST_RUNS
			SET
				USER_ID = #{user.id},
				TEST_SUITE_ID = #{testSuiteId},
				STATUS = #{status},
			    SCM_URL = #{scmURL},
			    SCM_BRANCH = #{scmBranch},
			    SCM_REVISION = #{scmRevision},
			    SCM_REVISION = #{scmRevision},
			    WORK_ITEM_ID = #{workItem.id},
			    CONFIG_XML = #{configXML},
			    JOB_ID = #{job.id},
			    UPSTREAM_JOB_ID = #{upstreamJob.id},
			    UPSTREAM_JOB_BUILD_NUMBER = #{upstreamJobBuildNumber},
			    BUILD_NUMBER = #{buildNumber},
			    STARTED_BY = #{startedBy}
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteTestRun">
		<![CDATA[
			DELETE FROM TEST_RUNS
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteTestRun">
		<include refid="deleteTestRun" />
	</delete>

	<delete id="deleteTestRunById">
		<include refid="deleteTestRun" />
	</delete>

	<resultMap type="com.qaprosoft.zafira.dbaccess.model.TestRun" id="TestRunResultMap" autoMapping="false">
		<id column="TEST_RUN_ID" property="id" />
		<result column="TEST_RUN_USER_ID" property="user.id" />
		<result column="TEST_RUN_TEST_SUITE_ID" property="testSuiteId" />
		<result column="TEST_RUN_STATUS" property="status" />
		<result column="TEST_RUN_SCM_URL" property="scmURL" />
		<result column="TEST_RUN_SCM_BRANCH" property="scmBranch" />
		<result column="TEST_RUN_SCM_REVISION" property="scmRevision" />
		<result column="TEST_RUN_WORK_ITEM_ID" property="workItem.id" />
		<result column="TEST_RUN_CONFIG_XML" property="configXML" />
		<result column="TEST_RUN_JOB_ID" property="job.id" />
		<result column="TEST_RUN_UPSTREAM_JOB_ID" property="upstreamJob.id" />
		<result column="TEST_RUN_UPSTREAM_JOB_BUILD_NUMBER" property="upstreamJobBuildNumber" />
		<result column="TEST_RUN_BUILD_NUMBER" property="buildNumber" />
		<result column="TEST_RUN_STARTED_BY" property="startedBy" />
		<result column="TEST_RUN_MODIFIED_AT" property="modifiedAt" />
		<result column="TEST_RUN_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
