<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.TestCaseMapper">

	<insert id="createTestCase" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.TEST_CASES (USER_ID, TEST_SUITE_ID, TEST_CLASS, TEST_METHOD, INFO, PROJECT, STATUS)
			VALUES (
				#{user.id},
			    #{testSuiteId},
				#{testClass},
				#{testMethod},
				#{info},
				#{project},
				#{status}
			)
		]]>
	</insert>

	<sql id="getTestCase">
		<![CDATA[
			SELECT
				TC.ID AS TEST_CASE_ID,
				TC.USER_ID AS TEST_CASE_USER_ID,
				TC.TEST_SUITE_ID AS TEST_CASE_TEST_SUITE_ID,
				TC.TEST_CLASS AS TEST_CASE_TEST_CLASS,
				TC.TEST_METHOD AS TEST_CASE_TEST_METHOD,
				TC.INFO AS TEST_CASE_INFO,
				TC.PROJECT AS TEST_CASE_PROJECT,
				TC.STATUS AS TEST_CASE_STATUS,
				TC.MODIFIED_AT AS TEST_CASE_MODIFIED_AT,
				TC.CREATED_AT AS TEST_CASE_CREATED_AT
			FROM
				zafira.TEST_CASES TC
		]]>
	</sql>
	
	<sql id="getTestCaseFull">
		<![CDATA[
			SELECT
				TC.ID AS TEST_CASE_ID,
				TC.USER_ID AS TEST_CASE_USER_ID,
				TC.TEST_SUITE_ID AS TEST_CASE_TEST_SUITE_ID,
				TC.TEST_CLASS AS TEST_CASE_TEST_CLASS,
				TC.TEST_METHOD AS TEST_CASE_TEST_METHOD,
				TC.INFO AS TEST_CASE_INFO,
				TC.PROJECT AS TEST_CASE_PROJECT,
				TC.MODIFIED_AT AS TEST_CASE_MODIFIED_AT,
				TC.CREATED_AT AS TEST_CASE_CREATED_AT,
				TC.STATUS AS TEST_CASE_STATUS,
				
				U.ID AS TEST_CASE_USER_ID,
				U.USERNAME AS TEST_CASE_USER_USERNAME,
				U.FIRST_NAME AS TEST_CASE_USER_FIRST_NAME,
				U.LAST_NAME AS TEST_CASE_USER_LAST_NAME,
				U.EMAIL AS TEST_CASE_USER_EMAIL,
				U.PROJECT AS TEST_CASE_USER_PROJECT,
				U.MODIFIED_AT AS TEST_CASE_USER_MODIFIED_AT,
				U.CREATED_AT AS TEST_CASE_USER_CREATED_AT,
				
				TS.ID AS TEST_CASE_TEST_SUITE_ID,
				TS.USER_ID AS TEST_CASE_TEST_SUITE_USER_ID,
				TS.NAME AS TEST_CASE_TEST_SUITE_NAME,
				TS.FILE_NAME AS TEST_CASE_TEST_SUITE_FILE_NAME,
				TS.DESCRIPTION AS TEST_CASE_TEST_SUITE_DESCRIPTION,
				TS.PROJECT AS TEST_CASE_TEST_SUITE_PROJECT,
				TS.MODIFIED_AT AS TEST_CASE_TEST_SUITE_MODIFIED_AT,
				TS.CREATED_AT AS TEST_CASE_TEST_SUITE_CREATED_AT
			FROM
				zafira.TEST_CASES TC
			LEFT JOIN 
				zafira.USERS U ON U.ID = TC.USER_ID
			LEFT JOIN 
			    zafira.TEST_SUITES TS ON TS.ID = TC.TEST_SUITE_ID
		]]>
	</sql>

	<select id="getTestCaseById" resultMap="TestCaseResultMap">
		<include refid="getTestCase" />
		<![CDATA[
			WHERE TC.ID = #{id};
		]]>
	</select>
	
	<select id="getTestCasesByUsername" resultMap="TestCaseResultMap">
		<include refid="getTestCase" />
		<![CDATA[
			INNER JOIN zafira.USERS U
			ON U.ID = TC.USER_ID
			WHERE U.USERNAME = #{userName};
		]]>
	</select>

	<select id="getTestCaseByClassAndMethod" resultMap="TestCaseResultMap">
		<include refid="getTestCase" />
		<![CDATA[
			WHERE TC.TEST_CLASS = #{testClass} AND TC.TEST_METHOD = #{testMethod};
		]]>
	</select>
	
	<select id="searchTestCases" resultMap="TestCaseResultMap">
		<include refid="getTestCaseFull" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != id">
	            <![CDATA[
	               AND TC.ID = #{id}
	            ]]>
			</if>
			<if test="null != testClass">
	            <![CDATA[
	               AND LOWER(TC.TEST_CLASS) LIKE LOWER(CONCAT('%', #{testClass}, '%'))
	            ]]>
			</if>
			<if test="null != testMethod">
	            <![CDATA[
	               AND LOWER(TC.TEST_METHOD) LIKE LOWER(CONCAT('%', #{testMethod}, '%'))
	            ]]>
			</if>
			<if test="null != testSuiteName">
	            <![CDATA[
	               AND LOWER(TS.NAME) LIKE LOWER(CONCAT('%', #{testSuiteName}, '%'))
	            ]]>
			</if>
			<if test="null != testSuiteFile">
	            <![CDATA[
	               AND LOWER(TS.FILE_NAME) LIKE LOWER(CONCAT('%', #{testSuiteFile}, '%'))
	            ]]>
			</if>
			<if test="null != userName">
	            <![CDATA[
	               AND LOWER(U.USERNAME) LIKE LOWER(CONCAT('%', #{userName}, '%'))
	            ]]>
			</if>
			<if test="null != date">
	            <![CDATA[
	               AND TC.CREATED_AT::date = #{date}::date
	            ]]>
			</if>
			<if test="null != project">
	            <![CDATA[
	          	   AND TC.PROJECT = #{project}
	            ]]>
			</if>
		</trim>
		<![CDATA[
			ORDER BY TS.FILE_NAME ASC
			LIMIT #{pageSize} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getTestCasesSearchCount" resultType="java.lang.Integer">
	    <![CDATA[
            SELECT
                COUNT(*)
            FROM
				zafira.TEST_CASES TC
			LEFT JOIN 
				zafira.USERS U ON U.ID = TC.USER_ID
			LEFT JOIN 
			    zafira.TEST_SUITES TS ON TS.ID = TC.TEST_SUITE_ID
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != id">
	            <![CDATA[
	               AND TC.ID = #{id}
	            ]]>
			</if>
			<if test="null != testClass">
	            <![CDATA[
	               AND LOWER(TC.TEST_CLASS) LIKE LOWER(CONCAT('%', #{testClass}, '%'))
	            ]]>
			</if>
			<if test="null != testMethod">
	            <![CDATA[
	               AND LOWER(TC.TEST_METHOD) LIKE LOWER(CONCAT('%', #{testMethod}, '%'))
	            ]]>
			</if>
			<if test="null != testSuiteName">
	            <![CDATA[
	               AND LOWER(TS.NAME) LIKE LOWER(CONCAT('%', #{testSuiteName}, '%'))
	            ]]>
			</if>
			<if test="null != testSuiteFile">
	            <![CDATA[
	               AND LOWER(TS.FILE_NAME) LIKE LOWER(CONCAT('%', #{testSuiteFile}, '%'))
	            ]]>
			</if>
			<if test="null != userName">
	            <![CDATA[
	               AND LOWER(U.USERNAME) LIKE LOWER(CONCAT('%', #{userName}, '%'))
	            ]]>
			</if>
			<if test="null != date">
	            <![CDATA[
	               AND TC.CREATED_AT::date = #{date}::date
	            ]]>
			</if>
			<if test="null != project">
	            <![CDATA[
	          	   AND TC.PROJECT = #{project}
	            ]]>
			</if>
		</trim>
    </select>
    
    <select id="getTestCaseOwnersStatistics" resultMap="TestCaseOwnersCountResultMap">
		<![CDATA[
			SELECT 
				U.USERNAME AS TEST_CASE_OWNER_COUNT_USERNAME,
				COUNT(*) AS TEST_CASE_OWNER_COUNT_COUNT
			FROM 
				zafira.TEST_CASES TC 
			INNER JOIN 
				zafira.USERS U 
			ON U.ID = TC.USER_ID
		]]>
		<if test="null != project">
            <![CDATA[
          	   WHERE TC.PROJECT = #{project}
            ]]>
		</if>
		<![CDATA[
			GROUP BY U.USERNAME;
		]]>
	</select>
	
	 <select id="getTestCaseImplementationStatistics" resultMap="TestCaseImplementationCountResultMap">
		<![CDATA[
			SELECT 
				CREATED_AT::date AS TEST_CASE_IMPLEMENTATION_COUNT_DATE, 
				COUNT(*) AS TEST_CASE_IMPLEMENTATION_COUNT_COUNT
			FROM 
				zafira.TEST_CASES TC
			WHERE 
				TC.CREATED_AT::date > (current_date - 30)
		]]>
		<if test="null != project">
            <![CDATA[
          	   AND TC.PROJECT = #{project}
            ]]>
		</if>
		<![CDATA[
			GROUP BY CREATED_AT::date
			ORDER BY CREATED_AT::date ASC;
		]]>
	</select>

	<update id="updateTestCase">
		<![CDATA[
			UPDATE
			    zafira.TEST_CASES
		]]>
			<set>
				<if test="0 != user.id">
		            <![CDATA[
		               USER_ID = #{user.id},
		            ]]>
				</if>
				<if test="null != testSuiteId">
		            <![CDATA[
		               TEST_SUITE_ID = #{testSuiteId},
		            ]]>
				</if>
				<if test="null != testClass">
		            <![CDATA[
		               TEST_CLASS = #{testClass},
		            ]]>
				</if>
				<if test="null != testMethod">
		            <![CDATA[
		               TEST_METHOD = #{testMethod},	
		            ]]>
				</if>
				<if test="null != info">
		            <![CDATA[
		               INFO = #{info},
		            ]]>
				</if>
				<if test="null != project">
		            <![CDATA[
		               PROJECT = #{project},
		            ]]>
				</if>
				<if test="null != status">
		            <![CDATA[
		               STATUS = #{status}
		            ]]>
				</if>
			</set>
		<![CDATA[	    
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteTestCase">
		<![CDATA[
			DELETE FROM zafira.TEST_CASES
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteTestCase">
		<include refid="deleteTestCase" />
	</delete>

	<delete id="deleteTestCaseById">
		<include refid="deleteTestCase" />
	</delete>

	<resultMap type="com.qaprosoft.zafira.dbaccess.model.TestCase" id="TestCaseResultMap" autoMapping="false">
		<id column="TEST_CASE_ID" property="id" />
		<result column="TEST_CASE_USER_ID" property="user.id" />
		<result column="TEST_CASE_TEST_SUITE_ID" property="testSuiteId" />
		<result column="TEST_CASE_TEST_CLASS" property="testClass" />
		<result column="TEST_CASE_TEST_METHOD" property="testMethod" />
		<result column="TEST_CASE_INFO" property="info" />
		<result column="TEST_CASE_STATUS" property="status" />
		<result column="TEST_CASE_PROJECT" property="project" />
		<result column="TEST_CASE_MODIFIED_AT" property="modifiedAt" />
		<result column="TEST_CASE_CREATED_AT" property="createdAt" />
		
		<result column="TEST_CASE_TEST_SUITE_ID" property="testSuite.id" />
		<result column="TEST_CASE_TEST_SUITE_NAME" property="testSuite.name" />
		<result column="TEST_CASE_TEST_SUITE_FILE_NAME" property="testSuite.fileName" />
		<result column="TEST_CASE_TEST_SUITE_DESCRIPTION" property="testSuite.description" />
		<result column="TEST_CASE_TEST_SUITE_PROJECT" property="testSuite.project" />
		<result column="TEST_CASE_TEST_SUITE_MODIFIED_AT" property="testSuite.modifiedAt" />
		<result column="TEST_CASE_TEST_SUITE_CREATED_AT" property="testSuite.createdAt" />
		
		<result column="TEST_CASE_USER_ID" property="user.id" />
		<result column="TEST_CASE_USER_USERNAME" property="user.userName" />
		<result column="TEST_CASE_USER_FIRST_NAME" property="user.firstName" />
		<result column="TEST_CASE_USER_LAST_NAME" property="user.lastName" />
		<result column="TEST_CASE_USER_EMAIL" property="user.email" />
		<result column="TEST_CASE_USER_PROJECT" property="user.project" />
		<result column="TEST_CASE_USER_MODIFIED_AT" property="user.modifiedAt" />
		<result column="TEST_CASE_USER_CREATED_AT" property="user.createdAt" />
	</resultMap>
	
	<resultMap type="com.qaprosoft.zafira.dbaccess.dao.mysql.statistics.TestCaseOwnersCount" id="TestCaseOwnersCountResultMap" autoMapping="false">
		<result column="TEST_CASE_OWNER_COUNT_COUNT" property="count" />
		<result column="TEST_CASE_OWNER_COUNT_USERNAME" property="userName" />
	</resultMap>
	
	<resultMap type="com.qaprosoft.zafira.dbaccess.dao.mysql.statistics.TestCaseImplementationCount" id="TestCaseImplementationCountResultMap" autoMapping="false">
		<result column="TEST_CASE_IMPLEMENTATION_COUNT_COUNT" property="count" />
		<result column="TEST_CASE_IMPLEMENTATION_COUNT_DATE" property="date" />
	</resultMap>

</mapper>
