<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.TestMapper">

	<insert id="createTest" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.TESTS (NAME, STATUS, TEST_ARGS, TEST_RUN_ID, TEST_CASE_ID, MESSAGE, START_TIME, FINISH_TIME, DEMO_URL, LOG_URL, RETRY, TEST_CONFIG_ID, PROJECT)
			VALUES (
				#{name},
			    #{status},
			    #{testArgs},
			    #{testRunId},
			    #{testCaseId},
			    #{message},
			    #{startTime},
			    #{finishTime},
			    #{demoURL},
			    #{logURL},
			    #{retry},
			    #{testConfig.id},
			    #{project}
			)
		]]>
	</insert>
	
	<insert id="createTestWorkItem" useGeneratedKeys="true">
		<![CDATA[
			INSERT INTO zafira.TEST_WORK_ITEMS (TEST_ID, WORK_ITEM_ID)
			VALUES (
				#{test.id},
			    #{workItem.id}
			)
		]]>
	</insert>
	
	<delete id="deleteTestWorkItemByTestId">
		<![CDATA[
			DELETE FROM zafira.TEST_WORK_ITEMS
			WHERE TEST_ID = #{testId}
		]]>
	</delete>

	<sql id="getTest">
		<![CDATA[
			SELECT
				T.ID AS TEST_ID,
				T.NAME AS TEST_NAME,
				T.STATUS AS TEST_STATUS,
				T.TEST_ARGS AS TEST_TEST_ARGS,
				T.TEST_RUN_ID AS TEST_TEST_RUN_ID,
				T.TEST_CASE_ID AS TEST_TEST_CASE_ID,
				T.MESSAGE AS TEST_MESSAGE,
				T.START_TIME AS TEST_START_TIME,
				T.FINISH_TIME AS TEST_FINISH_TIME,
				T.DEMO_URL AS TEST_DEMO_URL,
				T.LOG_URL AS TEST_LOG_URL,
				T.RETRY AS TEST_RETRY,
				T.PROJECT AS TEST_PROJECT,
				T.MODIFIED_AT AS TEST_MODIFIED_AT,
				T.CREATED_AT AS TEST_CREATED_AT,
				
				TC.ID AS TEST_TEST_CONFIG_ID,
				TC.URL AS TEST_TEST_CONFIG_URL,
				TC.ENV AS TEST_TEST_CONFIG_ENV,
				TC.PLATFORM AS TEST_TEST_CONFIG_PLATFORM,
				TC.PLATFORM_VERSION AS TEST_TEST_CONFIG_PLATFORM_VERSION,
				TC.BROWSER AS TEST_TEST_CONFIG_BROWSER,
				TC.BROWSER_VERSION AS TEST_TEST_CONFIG_BROWSER_VERSION,
				TC.APP_VERSION AS TEST_TEST_CONFIG_APP_VERSION,
				TC.LOCALE AS TEST_TEST_CONFIG_LOCALE,
				TC.LANGUAGE AS TEST_TEST_CONFIG_LANGUAGE,
				TC.DEVICE AS TEST_TEST_CONFIG_DEVICE,
				TC.MODIFIED_AT AS TEST_TEST_CONFIG_MODIFIED_AT,
				TC.CREATED_AT AS TEST_TEST_CONFIG_CREATED_AT
			FROM
				zafira.TESTS T
			LEFT JOIN zafira.TEST_CONFIGS TC
				ON T.TEST_CONFIG_ID = TC.ID
		]]>
	</sql>

	<select id="getTestById" resultMap="TestResultMap">
		<include refid="getTest" />
		<![CDATA[
			WHERE T.ID = #{id};
		]]>
	</select>

	<select id="getTestByName" resultMap="TestResultMap">
		<include refid="getTest" />
		<![CDATA[
			WHERE T.NAME = #{name};
		]]>
	</select>
	
	<select id="getTestsByTestRunId" resultMap="TestResultMap">
		<include refid="getTest" />
		<![CDATA[
			WHERE T.TEST_RUN_ID = #{testRunId};
		]]>
	</select>
	
	<select id="searchTests" resultMap="TestResultMap">
		<include refid="getTest" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != testRunIds and testRunIds.size > 0">
	            <![CDATA[
	               AND T.TEST_RUN_ID IN
	            ]]>
	            <foreach item="testRunId" index="index" collection="testRunIds" open="(" separator="," close=")">
					#{testRunId}
				</foreach>
			</if>
			<if test="null != testRunId">
				<![CDATA[
					AND T.TEST_RUN_ID = #{testRunId}
				]]>
			</if>
			<if test="null != testCaseId">
				<![CDATA[
					AND T.TEST_CASE_ID = #{testCaseId}
				]]>
			</if>
			<if test="null != project">
	            <![CDATA[
	          	   AND T.PROJECT = #{project}
	            ]]>
			</if>
		</trim>
		<if test="sortOrder.toString() == 'ASC'">
			<![CDATA[
				ORDER BY T.ID ASC
			]]>
		</if>
		<if test="sortOrder.toString() == 'DESC'">
			<![CDATA[
				ORDER BY T.ID DESC
			]]>
		</if>
		<![CDATA[
			LIMIT #{pageSize} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getTestsSearchCount" resultType="java.lang.Integer">
	    <![CDATA[
            SELECT
                COUNT(*)
            FROM
                zafira.TESTS T
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != testRunIds and testRunIds.size > 0">
	            <![CDATA[
	               AND T.TEST_RUN_ID IN
	            ]]>
	            <foreach item="testRunId" index="index" collection="testRunIds" open="(" separator="," close=")">
					#{testRunId}
				</foreach>
			</if>
			<if test="null != testCaseId">
				<![CDATA[
					AND T.TEST_CASE_ID = #{testCaseId}
				]]>
			</if>
			<if test="null != project">
	            <![CDATA[
	          	   AND T.PROJECT = #{project}
	            ]]>
			</if>
		</trim>
    </select>
    
    <select id="getTestStatusesStatistics" resultMap="TestStatusCountResultMap">
		<![CDATA[
			SELECT 
				STATUS AS TEST_STATUS_COUNT_STATUS, 
				COUNT(*) AS TEST_STATUS_COUNT_COUNT, 
				CREATED_AT::date AS TEST_STATUS_COUNT_DATE 
			FROM 
				zafira.TESTS
			WHERE 
				CREATED_AT >= (current_date - 30)
			]]>
			<if test="null != project">
	            <![CDATA[
	          	   AND PROJECT = #{project}
	            ]]>
			</if>
			<![CDATA[
			GROUP BY CREATED_AT::date, STATUS
		]]>
	</select>
	
	<update id="updateTest">
		<![CDATA[
			UPDATE
			    zafira.TESTS
			SET
				NAME = #{name},
				STATUS = #{status},
				TEST_ARGS = #{testArgs},
				TEST_RUN_ID = #{testRunId},
				TEST_CASE_ID = #{testCaseId},
				MESSAGE = #{message},
				START_TIME = #{startTime},
				FINISH_TIME = #{finishTime},
				DEMO_URL = #{demoURL},
				LOG_URL = #{logURL},
		]]>
		<if test="null != testConfig and null != testConfig.id">
            <![CDATA[
               TEST_CONFIG_ID = #{testConfig.id},
            ]]>
		</if>
		<if test="null != project">
            <![CDATA[
               PROJECT = #{project},
            ]]>
		</if>
		<![CDATA[
				RETRY = #{retry}
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteTest">
		<![CDATA[
			DELETE FROM zafira.TESTS
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteTest">
		<include refid="deleteTest" />
	</delete>

	<delete id="deleteTestById">
		<include refid="deleteTest" />
	</delete>
	
	<delete id="deleteTestByTestRunIdAndTestCaseIdAndLogURL">
		<![CDATA[
			DELETE FROM zafira.TESTS
			WHERE TEST_RUN_ID=#{testRunId} AND TEST_CASE_ID=#{testCaseId} AND LOG_URL=#{logURL}
		]]>
	</delete>
	
	<resultMap type="com.qaprosoft.zafira.dbaccess.model.Test" id="TestResultMap" autoMapping="false">
		<id column="TEST_ID" property="id" />
		<result column="TEST_NAME" property="name" />
		<result column="TEST_STATUS" property="status" />
		<result column="TEST_TEST_ARGS" property="testArgs" />
		<result column="TEST_TEST_RUN_ID" property="testRunId" />
		<result column="TEST_TEST_CASE_ID" property="testCaseId" />
		<result column="TEST_MESSAGE" property="message" />
		<result column="TEST_START_TIME" property="startTime" />
		<result column="TEST_FINISH_TIME" property="finishTime" />
		<result column="TEST_DEMO_URL" property="demoURL" />
		<result column="TEST_LOG_URL" property="logURL" />
		<result column="TEST_RETRY" property="retry" />
		<result column="TEST_PROJECT" property="project" />
		<result column="TEST_MODIFIED_AT" property="modifiedAt" />
		<result column="TEST_CREATED_AT" property="createdAt" />
		
		<result column="TEST_TEST_CONFIG_ID" property="testConfig.id" />
		<result column="TEST_TEST_CONFIG_URL" property="testConfig.url" />
		<result column="TEST_TEST_CONFIG_ENV" property="testConfig.env" />
		<result column="TEST_TEST_CONFIG_PLATFORM" property="testConfig.platform" />
		<result column="TEST_TEST_CONFIG_PLATFORM_VERSION" property="testConfig.platformVersion" />
		<result column="TEST_TEST_CONFIG_BROWSER" property="testConfig.browser" />
		<result column="TEST_TEST_CONFIG_BROWSER_VERSION" property="testConfig.browserVersion" />
		<result column="TEST_TEST_CONFIG_APP_VERSION" property="testConfig.appVersion" />
		<result column="TEST_TEST_CONFIG_LOCALE" property="testConfig.locale" />
		<result column="TEST_TEST_CONFIG_LANGUAGE" property="testConfig.language" />
		<result column="TEST_TEST_CONFIG_DEVICE" property="testConfig.device" />
		<result column="TEST_TEST_CONFIG_MODIFIED_AT" property="testConfig.modifiedAt" />
		<result column="TEST_TEST_CONFIG_CREATED_AT" property="testConfig.createdAt" />
	</resultMap>
	
	<resultMap type="com.qaprosoft.zafira.dbaccess.dao.mysql.statistics.TestStatusesCount" id="TestStatusCountResultMap" autoMapping="false">
		<result column="TEST_STATUS_COUNT_COUNT" property="count" />
		<result column="TEST_STATUS_COUNT_STATUS" property="status" />
		<result column="TEST_STATUS_COUNT_DATE" property="date" />
	</resultMap>
	
</mapper>
