<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.UAInspectionMapper">

	<insert id="createUAInspection" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.UA_INSPECTIONS (SYSTEM_ID, SERIAL_NUMBER, FIRMWARE_REV, HARDWARE_REV, BATTERY_LEVEL)
			VALUES (#{systemID},
					#{serialNumber},
					#{firmwareRev},
					#{hardwareRev},
					#{batteryLevel})
		]]>
	</insert>

	<sql id="getUAInspection">
		<![CDATA[
			SELECT
				I.ID AS UI_INSPECTION_ID,
				I.SYSTEM_ID AS UI_INSPECTION_SYSTEM_ID,
				I.SERIAL_NUMBER AS UI_INSPECTION_SERIAL_NUMBER,
				I.FIRMWARE_REV AS UI_INSPECTION_FIRMWARE_REV,
				I.HARDWARE_REV AS UI_INSPECTION_HARDWARE_REV,
				I.BATTERY_LEVEL AS UI_INSPECTION_BATTERY_LEVEL,
				I.MODIFIED_AT AS UI_INSPECTION_MODIFIED_AT,
				I.CREATED_AT AS UI_INSPECTION_CREATED_AT
			FROM
				zafira.UA_INSPECTIONS I
		]]>
	</sql>
	
	<select id="searchUAInspections" resultMap="UAInspectionResultMap">
		<include refid="getUAInspection" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != systemId">
	            <![CDATA[
	               AND I.SYSTEM_ID = #{systemId}
	            ]]>
			</if>
		</trim>
		<![CDATA[
			ORDER BY I.ID DESC
			LIMIT #{pageSize} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getUAInspectionsSearchCount" resultType="java.lang.Integer">
		<![CDATA[
		SELECT 
			COUNT(*) 
		FROM 
			zafira.UA_INSPECTIONS I
		]]>
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != systemId">
	            <![CDATA[
	               AND I.SYSTEM_ID = #{systemId}
	            ]]>
			</if>
		</trim>
	</select>

	<resultMap type="com.qaprosoft.zafira.models.db.ua.UAInspection" id="UAInspectionResultMap" autoMapping="false">
		<id column="UI_INSPECTION_ID" property="id" />
		<result column="UI_INSPECTION_SYSTEM_ID" property="systemID" />
		<result column="UI_INSPECTION_SERIAL_NUMBER" property="serialNumber" />
		<result column="UI_INSPECTION_FIRMWARE_REV" property="firmwareRev" />
		<result column="UI_INSPECTION_HARDWARE_REV" property="hardwareRev" />
		<result column="UI_INSPECTION_BATTERY_LEVEL" property="batteryLevel" />
		<result column="UI_INSPECTION_MODIFIED_AT" property="modifiedAt" />
		<result column="UI_INSPECTION_CREATED_AT" property="createdAt" />
	</resultMap>
	
</mapper>
