<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.UserMapper">

	<insert id="createUser" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.USERS (USERNAME, PASSWORD, FIRST_NAME, LAST_NAME, EMAIL)
			VALUES (
				#{userName},
				#{password},
			    #{firstName},
				#{lastName},
				#{email}
			)
		]]>
	</insert>

	<sql id="getUser">
		<![CDATA[
			SELECT
				U.ID AS USER_ID,
				U.USERNAME AS USER_USERNAME,
				U.PASSWORD AS USER_PASSWORD,
				U.FIRST_NAME AS USER_FIRST_NAME,
				U.LAST_NAME AS USER_LAST_NAME,
				U.EMAIL AS USER_EMAIL,
				G.ID AS GROUP_ID,
				G.NAME AS GROUP_NAME,
				G.ROLE AS GROUP_ROLE,
				G.MODIFIED_AT AS GROUP_MODIFIED_AT,
				G.CREATED_AT AS GROUP_CREATED_AT,
				U.MODIFIED_AT AS USER_MODIFIED_AT,
				U.CREATED_AT AS USER_CREATED_AT
			FROM
				zafira.USERS U
			LEFT JOIN
				zafira.USER_GROUPS UG
			ON
				U.ID = UG.USER_ID
			LEFT JOIN
				zafira.GROUPS G
			ON
				UG.GROUP_ID = G.ID
		]]>
	</sql>

	<select id="getUserById" resultMap="UserResultMap">
		<include refid="getUser" />
		<![CDATA[
			WHERE U.ID = #{id};
		]]>
	</select>

	<select id="getUserByUserName" resultMap="UserResultMap">
		<include refid="getUser" />
		<![CDATA[
			WHERE U.USERNAME = #{username};
		]]>
	</select>
	
	<select id="searchUsers" resultMap="UserResultMap">
		<include refid="getUser" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != id">
	            <![CDATA[
	               AND U.ID = #{id}
	            ]]>
			</if>
			<if test="null != userName">
	            <![CDATA[
	               AND LOWER(U.USERNAME) LIKE LOWER(CONCAT(#{userName}, '%')) 
	            ]]>
			</if>
			<if test="null != email">
	            <![CDATA[
	               AND LOWER(U.EMAIL) LIKE LOWER(CONCAT(#{email}, '%')) 
	            ]]>
			</if>
			<if test="null != firstLastName">
	            <![CDATA[
	               AND LOWER(CONCAT(U.FIRST_NAME, ' ', U.LAST_NAME)) LIKE LOWER(CONCAT('%', #{firstLastName}, '%')) 
	            ]]>
			</if>
			<if test="null != date">
	            <![CDATA[
	               AND U.CREATED_AT::date = #{date}::date
	            ]]>
			</if>
			<if test="null != groupName">
				<![CDATA[
	               AND LOWER(G.NAME) LIKE LOWER(CONCAT(#{groupName}, '%'))
	            ]]>
			</if>
		</trim>
		<![CDATA[
			ORDER BY CASE WHEN U.PASSWORD IS NULL OR U.PASSWORD = '' THEN 0 ELSE 1 END DESC, U.USERNAME
			LIMIT #{pageSize} OFFSET #{offset}
		]]>
	</select>
	
	<select id="getUserSearchCount" resultType="java.lang.Integer">
		<![CDATA[
		SELECT 
			COUNT(*) 
		FROM 
			zafira.USERS U
		]]>
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != id">
	            <![CDATA[
	               AND U.ID = #{id}
	            ]]>
			</if>
			<if test="null != userName">
	            <![CDATA[
	               AND LOWER(U.USERNAME) LIKE LOWER(CONCAT(#{userName}, '%')) 
	            ]]>
			</if>
			<if test="null != firstLastName">
	            <![CDATA[
	               AND LOWER(CONCAT(U.FIRST_NAME, ' ', U.LAST_NAME)) LIKE LOWER(CONCAT('%', #{firstLastName}, '%')) 
	            ]]>
			</if>
			<if test="null != email">
	            <![CDATA[
	               AND LOWER(U.EMAIL) LIKE LOWER(CONCAT(#{email}, '%')) 
	            ]]>
			</if>
			<if test="null != date">
	            <![CDATA[
	               AND U.CREATED_AT::date = #{date}::date
	            ]]>
			</if>
			<if test="null != groupName">
				<![CDATA[
	               AND LOWER(G.NAME) LIKE LOWER(CONCAT(#{groupName}, '%'))
	            ]]>
			</if>
		</trim>
	</select>

	<update id="updateUser">
		<![CDATA[
			UPDATE
			    zafira.USERS
		]]>
			<set>
				<if test="null != firstName">
		            <![CDATA[
		               FIRST_NAME = #{firstName},
		            ]]>
				</if>
				<if test="null != lastName">
		            <![CDATA[
		               LAST_NAME = #{lastName},
		            ]]>
				</if>
				<if test="null != email">
		            <![CDATA[
		               EMAIL = #{email},
		            ]]>
				</if>
				<if test="null != userName">
		            <![CDATA[
		               USERNAME = #{userName},	
		            ]]>
				</if>
				<if test="null != password">
		            <![CDATA[
		               PASSWORD = #{password}	
		            ]]>
				</if>
			</set>
		<![CDATA[
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteUser">
		<![CDATA[
			DELETE FROM zafira.USERS
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteUser">
		<include refid="deleteUser" />
	</delete>

	<delete id="deleteUserById">
		<include refid="deleteUser" />
	</delete>

	<resultMap type="com.qaprosoft.zafira.models.db.User" id="UserResultMap" autoMapping="false">
		<id column="USER_ID" property="id" />
		<result column="USER_USERNAME" property="userName" />
		<result column="USER_PASSWORD" property="password" />
		<result column="USER_FIRST_NAME" property="firstName" />
		<result column="USER_LAST_NAME" property="lastName" />
		<result column="USER_EMAIL" property="email" />
		<result column="USER_MODIFIED_AT" property="modifiedAt" />
		<result column="USER_CREATED_AT" property="createdAt" />
		<collection property="groups" ofType="com.qaprosoft.zafira.models.db.Group" resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.GroupMapper.GroupResultMap"/>
	</resultMap>

	<insert id="addUserToGroup">
		<![CDATA[
			INSERT INTO zafira.USER_GROUPS (USER_ID, GROUP_ID)
			VALUES (
				#{userId},
				#{groupId}
			)
		]]>
	</insert>

	<delete id="deleteUserFromGroup">
		DELETE
		FROM
			zafira.USER_GROUPS
		WHERE
			ID = (SELECT ID FROM zafira.USER_GROUPS WHERE USER_ID = #{userId} AND GROUP_ID = #{groupId})
	</delete>

</mapper>
