<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.UserPreferenceMapper">

	<insert id="createUserPreference" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.USER_PREFERENCES (NAME, VALUE, USER_ID)
			VALUES (
				#{name},
			    #{value},
				#{userId}
			)
		]]>
	</insert>

	<sql id="getUserPreference">
		<![CDATA[
			SELECT
				UP.ID AS USER_PREFERENCE_ID,
				UP.NAME AS USER_PREFERENCE_NAME,
				UP.VALUE AS USER_PREFERENCE_VALUE,
				UP.USER_ID AS USER_PREFERENCE_USER_ID,
				UP.MODIFIED_AT AS USER_PREFERENCE_MODIFIED_AT,
				UP.CREATED_AT AS USER_PREFERENCE_CREATED_AT
			FROM
				zafira.USER_PREFERENCES UP
		]]>
	</sql>
	
	<select id="getUserPreferenceById" resultMap="UserPreferenceResultMap">
		<include refid="getUserPreference" />
		<![CDATA[
			WHERE UP.ID = #{id};
		]]>
	</select>

	<select id="getUserPreferencesByUserId" resultMap="UserPreferenceResultMap">
		<include refid="getUserPreference" />
		<![CDATA[
			WHERE UP.USER_ID = #{userId};
		]]>
	</select>

	<select id="getUserPreferenceByNameAndUserId" resultMap="UserPreferenceResultMap">
		<include refid="getUserPreference" />
		<![CDATA[
			WHERE UP.NAME = #{name} AND UP.USER_ID = #{userId};
		]]>
	</select>

	<update id="updateUserPreference">
		<![CDATA[
			UPDATE
			    zafira.USER_PREFERENCES
		]]>
			<set>
				<if test="null != name">
		            <![CDATA[
		               NAME = #{name},
		            ]]>
				</if>
				<if test="null != value">
		            <![CDATA[
		               VALUE = #{value},
		            ]]>
				</if>
				<if test="null != userId">
		            <![CDATA[
		               USER_ID = #{userId},
		            ]]>
				</if>
			</set>
		<![CDATA[
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteUserPreference">
		<![CDATA[
			DELETE FROM zafira.USER_PREFERENCES
		]]>
	</sql>

	<delete id="deleteUserPreferenceById">
		<include refid="deleteUserPreference" />
		<![CDATA[
			WHERE ID = #{id}
		]]>
	</delete>
	
	<delete id="deleteUserPreferencesByUserId">
		<include refid="deleteUserPreference" />
		<![CDATA[
			WHERE USER_ID = #{userId}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.zafira.models.db.UserPreference" id="UserPreferenceResultMap" autoMapping="false">
		<id column="USER_PREFERENCE_ID" property="id" />
		<result column="USER_PREFERENCE_NAME" property="name" />
		<result column="USER_PREFERENCE_VALUE" property="value" />
		<result column="USER_PREFERENCE_USER_ID" property="userId" />
		<result column="USER_PREFERENCE_MODIFIED_AT" property="modifiedAt" />
		<result column="USER_PREFERENCE_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
