<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.ViewMapper">

    <insert id="createView" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT
          INTO zafira.VIEWS (NAME, PROJECT_ID)
          VALUES (
            #{name},
            #{project.id}
          )
        ]]>
    </insert>

    <sql id="getView">
        <![CDATA[
          SELECT
	          V.ID AS VIEW_ID,
	          V.NAME AS VIEW_NAME,
	          P.ID AS PROJECT_ID,
	          P.NAME AS PROJECT_NAME,
	          P.DESCRIPTION AS PROJECT_DESCRIPTION,
	          P.MODIFIED_AT AS PROJECT_MODIFIED_AT,
	          P.CREATED_AT AS PROJECT_CREATED_AT,
	          V.MODIFIED_AT AS VIEW_MODIFIED_AT,
	          V.CREATED_AT AS VIEW_CREATED_AT
          FROM
	          zafira.VIEWS V
	      LEFT JOIN
	          zafira.PROJECTS P
	      ON
          	V.PROJECT_ID = P.ID
        ]]>
    </sql>

    <select id="getViewById" resultMap="ViewResultMap">
        <include refid="getView"/>
        <![CDATA[
          WHERE
          V.ID = #{id}
        ]]>
    </select>

    <select id="getAllViews" resultMap="ViewResultMap">
        <include refid="getView"/>
        <if test="null != projectId">
            <![CDATA[
               WHERE P.ID = #{projectId}
            ]]>
		</if>
    </select>

    <update id="updateView">
        <![CDATA[
          UPDATE
         	 zafira.VIEWS
          SET
          	 NAME = #{name},
          	 PROJECT_ID = #{project.id}
          WHERE
			 ID = #{id}
        ]]>
    </update>

    <delete id="deleteViewById">
        <![CDATA[
          DELETE
          FROM zafira.VIEWS
          WHERE
          ID = #{id}
        ]]>
    </delete>

    <resultMap id="ViewResultMap" type="com.qaprosoft.zafira.models.db.View" autoMapping="false">
        <id property="id" column="VIEW_ID"/>
        <result property="name" column="VIEW_NAME"/>
        <result column="VIEW_MODIFIED_AT" property="modifiedAt" />
		<result column="VIEW_CREATED_AT" property="createdAt" />
        <association property="project" resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.ProjectMapper.ProjectResultMap"/>
    </resultMap>

</mapper>