<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.WorkItemMapper">

	<insert id="createWorkItem" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO zafira.WORK_ITEMS (JIRA_ID)
			VALUES (
				#{jiraId}
			)
		]]>
	</insert>

	<sql id="getWorkItem">
		<![CDATA[
			SELECT distinct
				J.ID AS WORK_ITEM_ID,
				J.JIRA_ID AS WORK_ITEM_JIRA_ID,
				J.MODIFIED_AT AS WORK_ITEM_MODIFIED_AT,
				J.CREATED_AT AS WORK_ITEM_CREATED_AT
			FROM
				zafira.WORK_ITEMS J
		]]>
	</sql>

	<select id="getWorkItemById" resultMap="WorkItemResultMap">
		<include refid="getWorkItem" />
		<![CDATA[
			WHERE J.ID = #{id};
		]]>
	</select>

	<select id="getWorkItemByJiraId" resultMap="WorkItemResultMap">
		<include refid="getWorkItem" />
		<![CDATA[
			WHERE J.JIRA_ID = #{jiraId};
		]]>
	</select>
	
	<select id="getWorkItemsByUsername" resultMap="WorkItemResultMap">
		<include refid="getWorkItem" />
		<![CDATA[
			INNER JOIN zafira.TEST_WORK_ITEMS TWI
			ON J.ID = TWI.WORK_ITEM_ID
			INNER JOIN zafira.TESTS T
			ON TWI.TEST_ID = T.ID
			INNER JOIN zafira.TEST_CASES TC
			ON T.TEST_CASE_ID = TC.ID
			INNER JOIN zafira.USERS U
			ON U.ID = TC.USER_ID
			WHERE U.USERNAME = #{userName};
		]]>
	</select>

	<update id="updateWorkItem">
		<![CDATA[
			UPDATE
			    zafira.WORK_ITEMS
			SET
				JIRA_ID = #{jiraId}
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteWorkItem">
		<![CDATA[
			DELETE FROM zafira.WORK_ITEMS
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteWorkItem">
		<include refid="deleteWorkItem" />
	</delete>

	<delete id="deleteWorkItemById">
		<include refid="deleteWorkItem" />
	</delete>

	<resultMap type="com.qaprosoft.zafira.dbaccess.model.WorkItem" id="WorkItemResultMap" autoMapping="false">
		<id column="WORK_ITEM_ID" property="id" />
		<result column="WORK_ITEM_JIRA_ID" property="jiraId" />
		<result column="WORK_ITEM_MODIFIED_AT" property="modifiedAt" />
		<result column="WORK_ITEM_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
