<configuration>
    <jmxConfigurator/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %replace([%X{tenant:-}] ){'\[\] ', ''}[%t] %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_LOG_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %replace([%X{tenant:-}] ){'\[\] ', ''}[%t] %logger{36}: %msg%n</pattern>
        </encoder>

        <file>${catalina.home}/logs/zafira-app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/zafira-app-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE_APPENDER" />
        <appender-ref ref="ROLLING_LOG_FILE_APPENDER" />
    </root>

</configuration>
