*.class
.mtj.tmp/
*.jar
*.war
*.ear
.settings
target
.classpath
.project
.idea
*.iml
.springBeans
*/bin
*/test-output
*.bak
hs_err_pid*
/sources/rapid-dbaccess/test-output
/sources/rapid-services/test-output
/sources/zafira-conf/.project
/sources/zafira-conf/.classpath
/sources/zafira-dbaccess/.project
/sources/zafira-dbaccess/test-output
/sources/zafira-dbaccess/.classpath
/sources/zafira-client/com
/sources/zafira-ws/phantomjs*
