### Zebrunner runtime mounts ###
/runtime/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Zebrunner Reporting ###
.disabled
configuration/_common/hosts.env
configuration/_common/secrets.env
configuration/_common/s3.env
configuration/iam-service/variables.env
configuration/iam-db/variables.env
configuration/postgres/variables.env
configuration/db-migration-tool/001_iam.json
configuration/db-migration-tool/002_iam_user_preferences.json
configuration/mail-service/variables.env
configuration/rabbitmq/variables.env
configuration/rabbitmq/definitions/001-general-definition.json
configuration/logstash/logstash.conf
configuration/_common/rabbitmq.env
configuration/redis/redis.conf
configuration/reporting-service/variables.env
configuration/reporting-ui/variables.env
configuration/zebrunner-proxy/nginx.conf
*.bak
*.tar.gz

### Zebrunner Jenkins Integration ###
database/reporting/sql/db-jenkins-integration.sql
database/reporting/sql/db-mcloud-integration.sql
database/reporting/sql/db-selenium-integration.sql
