<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.management.MngPermissionMapper">
    <insert id="createPermission"  useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO PERMISSIONS(NAME, BLOCK)
          VALUES (
            #{name},
            #{block}
          )
        ]]>
    </insert>

    <sql id="getPermissions">
        <![CDATA[
			SELECT
				P.ID AS PERMISSION_ID,
				P.NAME AS PERMISSION_NAME,
				P.BLOCK AS PERMISSION_BLOCK,
				P.MODIFIED_AT AS PERMISSION_MODIFIED_AT,
				P.CREATED_AT AS PERMISSION_CREATED_AT
			FROM
				PERMISSIONS P
		]]>
    </sql>

    <select id="getAllPermissions" resultMap="PermissionResultMap">
        <include refid="getPermissions" />
    </select>

    <select id="getPermissionById" resultMap="PermissionResultMap">
        <include refid="getPermissions" />
        <![CDATA[
			WHERE P.ID = #{id};
		]]>
    </select>

    <select id="getPermissionByName" resultMap="PermissionResultMap">
        <include refid="getPermissions" />
        <![CDATA[
			WHERE P.NAME = #{name};
		]]>
    </select>

    <update id="updatePermission">
        <![CDATA[
			UPDATE
			    PERMISSIONS
		]]>
        <set>
            <if test="null != name">
                <![CDATA[
		               NAME = #{name},
		            ]]>
            </if>
            <if test="null != block">
                <![CDATA[
		               BLOCK = #{block}
		            ]]>
            </if>
        </set>
        <![CDATA[
			WHERE
			    ID = #{id}
		]]>
    </update>

    <sql id="deletePermission">
        <![CDATA[
			DELETE FROM PERMISSIONS
		]]>
    </sql>

    <delete id="deletePermissionById">
        <include refid="deletePermission" />
        <![CDATA[
			WHERE ID = #{id}
		]]>
    </delete>

    <delete id="deletePermissionByName">
        <include refid="deletePermission" />
        <![CDATA[
			WHERE NAME = #{name}
		]]>
    </delete>

    <resultMap type="com.qaprosoft.zafira.models.db.management.Permission" id="PermissionResultMap" autoMapping="false">
        <id column="PERMISSION_ID" property="id" />
        <result column="PERMISSION_NAME" property="name" />
        <result column="PERMISSION_BLOCK" property="block" />
        <result column="PERMISSION_MODIFIED_AT" property="modifiedAt" />
        <result column="PERMISSION_CREATED_AT" property="createdAt" />
    </resultMap>
</mapper>