<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.management.TenancyMapper">

	<sql id="getTenancy">
		<![CDATA[
			SELECT
				T.NAME AS TENANCY_NAME
			FROM
				TENANCIES T
		]]>
	</sql>
	
	<select id="getAllTenancies" resultMap="TenancyResultMap">
		<include refid="getTenancy" />
	</select>

	<resultMap type="com.qaprosoft.zafira.models.db.Tenancy" id="TenancyResultMap" autoMapping="false">
		<result column="TENANCY_NAME" property="name" />
	</resultMap>

</mapper>
