.page-signin,
.page-signup,
.page-forgot,
.page-message,
.page-change {
    @media(min-width: 480px){
        margin-right: 60px;
    }
    margin-top: -65px;
    
    .placeholder-label{
        padding-left: 0px !important;
        color: #888888;
        font-weight: normal !important;
        padding-bottom: 5px;
    }

    .md-block{
        margin: 12px 0;
    }
    
    .main-body {
        max-width: 720px; 
        min-height: 480px;
        margin: 10px auto;
        @media(max-width: 720px){
            max-width: 360px;
        }
        @media (max-width: 360px){
            margin: auto 20px;
        }

        .card{
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 0px;
            @media(max-width: 720px){
                flex-direction: column;
            }
        }

        .card-action{
            padding: 40px 0px 0px;
            margin-bottom: 50px;
            a{
                margin-right: -8px;
            }
        }

        .card-content{
            width: 50%;
            max-width: 360px;
            min-height: 480px;
            @media(max-width: 720px){
               width: 100%;
            }
            .added-small{
                margin-top: -8px;
                font-size: 12px;    
            }
        }
    }
    
    .message{
        margin-top: 48px;
        font-weight: normal;
        text-align: left;
        line-height: 19px;
        letter-spacing: 0.01px;
        font-size: $font-size-h5;
        margin-bottom: 111px;
    }

    #signin, #signup{
        font-weight: normal;
        letter-spacing: 0.02px;
        padding: 5px 0 5px 10px;
        &:hover{
            background-color: $reverse;
            text-decoration: underline;
        }
    }

    #changepwd, #forgotpwd{
        padding: 15px 0 0px 45px;
        font-weight: normal;
        &:hover{
            background-color: $reverse;
            text-decoration: underline;
        }
    }
    
    .additional-info {
        color: #898989;
        line-height: 10px;
        position: absolute;
        padding-bottom: 28px;
        bottom: 0;
        font-size: $font-size-small;
        @media(max-width: 720px){
            bottom: 50%;
        }
    }

    .card {
        @extend .z-depth-2;
        .card-content {
            padding: 30px 19px;
        }
    }
    
    .wrapper {
        margin-top: 70px;
        @media (min-width: $screen-phone) {
            margin-top: 170px;
        }
    }

    .logo-container{
        height: 48px;
        margin-bottom: 40px;
        .logo{
            width: 48px;
            border-radius: 50%;
            height: 48px; 
            background-size: 100%;
            background-image: url('../../assets/images/background/company_logo_plug.svg');
        }
    }
    
    .comment{
        margin-top: -25px;
        margin-bottom: 32px;
    }
    
    .button-container{
        padding: 16px 0px 0px;
        display: flex;
        align-items: center;
        a{ 
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #888888;
            font-weight: normal;
        }
    }
    
    .additional-background{
        @media(max-width: 720px){
            width: 100%;
         }
        padding: 30px 30px 0px;
        width: 50%;
        max-width: 360px;
        min-height: 480px;
        background: #edeff1 url('../../assets/images/background/zafira_logo_background.svg') no-repeat -119px top/cover scroll;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo-container{
            height: 32px;
            margin-bottom: 21px;
            .logo{
                width: 32px;
                height: 32px; 
                background-size: contain;
                border-radius: 0%;
                background:#dddfe1 url('../../assets/images/background/zafira_logo_bw.svg') no-repeat center;
            }
        }

        .robo-background{
            height: 100%;
            min-height: 397px;
            display: flex;
            justify-content: space-between;
            margin-right: 9px;   
            flex-direction: column;
        }

        .text{
            max-width: 228px;
            font-size: 14px;
            p:first-child{
                font-weight: bold;
                line-height: 1.2;
                font-size: 20px;
                margin-bottom: 15px;
            }
            p:nth-child(2){
                line-height: 1.25;
            }
            color: #000000;
        }

        .robot{
            width: 100%;
            height: 140px; 
            background: url('../../assets/images/background/robo.svg') right bottom no-repeat;
            background-size: contain;
        }
    }
}
