.form-validation .ng-valid.ng-dirty{
    border-color:  #CBD5DD;
}
.page-signin,
.page-signup,
.page-forgot,
.page-change {
    .placeholder-label{
        color: #888888;
        font-weight: normal !important;
    }

    md-input-container {
        padding-left: 0;
        padding-right: 0;
    }

    .md-input-container .md-input.ng-invalid.ng-dirty,
    .md-input-focused .md-input {
        border-color: rgb(0,150,136);
    }
    .md-block {
        margin: 12px 0;
    }

    .main-body {
        max-width: 720px;
        width: 720px;
        min-height: 480px;
        margin: 40px auto;

        @media(min-width: 750px) {
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

        @media(max-width: 749px) {
            max-width: 375px;
            width: auto;
            min-height: auto;
        }

        .card {
            display: flex;
            width: 100%;
            height: 100%;
            margin: 0;

            @media(min-width: 750px) {
                font-size: 14px;
                text-align: left;
            }

            @media(max-width: 749px) {
                flex-direction: column;
            }
        }

        .card-action {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 20px 0 0;
            margin-bottom: 20px;
            .md-button {
                background-color: white;
                font-size: 14px;
                font-weight: 500;
                padding: 9px 20px;
                min-width: 88px;
                min-height: 40px;
                border-radius: 4px;
                border: solid 1px rgba(0, 0, 0, 0.15);
                &:not([disabled]){
                    color: #000000;
                    &:hover {
                        border: 1px solid black;
                    }
                }
            }
        }

        .card-content{
            width: 50%;
            max-width: 360px;
            min-height: 480px;
            @media(max-width: 749px){
                width: 100%;
                min-height: auto;
                max-width: 100%;
            }
            .added-small{
                margin-top: -8px;
                font-size: 12px;
            }
        }
    }

    .md-button {
        letter-spacing: 0.02px;
        padding: 5px 10px;
    }

    .additional-info {
        color: rgba(0, 0, 0, 0.25);
        line-height: 1.15;
        position: absolute;
        padding-bottom: 28px;
        padding-right: 5px;
        bottom: 0;
        font-size: 10px;
        @media(max-width: 749px){
            margin-bottom: -12px;
        }
    }

    .card {
        @extend .z-depth-2;
        .card-content {
            padding: 30px;
        }
    }

    .wrapper {
        @media(min-width: 750px)
        {
            height: 100vh;
            font-size: 0;
            text-align: center;
            &::after{
                content: "";
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
        }
    }

    .logo-container{
        margin-bottom: 66px;
        .logo{
            width: 32px;
            height: 18px;
            color: #26a69a;
        }
    }

    .message,
    .comment{
        font-weight: normal;
        text-align: left;
        line-height: 19px;
        letter-spacing: 0.01px;
    }

    .button-container{
        padding: 13px 0 20px;
        display: flex;
        align-items: center;
        @media(max-width: 749px){
            padding-top: 3px;
        }
        .md-button {
            background-color: white;
            font-size: 14px;
            font-weight: 500;
            padding: 9px 20px;
            min-width: 88px;
            min-height: 40px;
            border-radius: 4px;
            border: solid 1px rgba(0, 0, 0, 0.15);
            &:not([disabled]){
                color: #000000;
                &:hover {
                    border: 1px solid black;
                }
            }
        }
    }

    .additional-action {
        letter-spacing: .35px;
        color: black;
        font-size: 12px;
        &__link {
            color: black;
            text-decoration: underline;
            &:hover {
                color: black;
            }
        }
        @media(max-width: 749px){
            font-size: 14px;
        }
    }

    .additional-background{
        background-color: #edeff1;
        @media(max-width: 749px){
            max-width: 100%;
            width: 100%;
            background-color: white;
            padding-bottom: 0;
            min-height: auto;
        }
        padding: 30px;
        width: 50%;
        max-width: 360px;
        min-height: 480px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .version-container{
            line-height: 1;
            span {
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0.2px;
                color: rgba(0, 0, 0, 0.25);
                @media(max-width: 749px){
                    line-height: 1;
                    font-size: 12px;
                    margin-left: 15px;
                }
                @media(max-width: 356px) {
                    margin-left: 0;
                }
            }
            @media(max-width: 749px){
                margin-bottom: 8px;
                margin-top: 13px;
            }
        }

        .man-background{
            position: relative;
            height: 100%;
            min-height: 397px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(max-width: 749px){
                min-height: auto;
            }
            .text{
                z-index: 1;
                @media(max-width: 749px){
                    margin-bottom: 96px;
                }
                p{
                    margin-top: 76px;
                    margin-bottom: 0;
                    max-width: 230px;
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: #000000;
                    @media(max-width: 749px){
                        margin: 0;
                        max-width: 180px;
                        margin-left: 15px;
                        line-height: 1.39;
                    }
                    @media(max-width: 356px) {
                        margin-left: 0;
                    }
                }
            }
            .asset {
                position: absolute;
                width: 100%;
                height: 128px;
                top: 61px;
                left: 33px;
                opacity: .5;
                background: url('../assets/images/background/asset.svg') left bottom no-repeat;
                background-size: contain;
                @media(max-width: 749px){
                    top: -25px;
                    height: 160px;
                    left: 40px;
                    opacity: .25;
                }
                @media(max-width: 356px) {
                    left: 15px;
                }
            }
            .man {
                width: 100%;
                height: 191px;
                margin-bottom: 43px;
                background: url('../assets/images/background/zafira_login_desktop_illustration-01.svg') right bottom no-repeat;
                background-size: contain;
                @media(max-width: 749px){
                    background: url('../assets/images/background/zafira_login_mobile_illustration-01-01.svg') right bottom no-repeat;
                    margin-bottom: -2px;
                    height: 145px;
                    position: absolute;
                    right: 8px;
                    bottom: 0;
                }
                @media(max-width: 356px) {
                    right: -20px;
                }
            }
        }        
    }
}
