
// Old browsers
.lt-ie9-bg {
    z-index: 11111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #999;
    padding: 100px 20px;
    text-align: center;
    font-size: 26px;

    a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff;
        &:hover {
            text-decoration: none;
        }
    }
}


//
.non-display {
    display: none;
}

.page {
    padding: $page-padding-top-bottom $page-padding-right-left;

    > .ui-section:last-child {
        margin-bottom: 0;
    }
}

.page-form-ele {
    h3 {
        margin: 0;
    }
}

.p-users {
    & &__header-actions {
        min-height: 52px;
        .md-button {
            margin: auto 0 auto 16px;
            border-radius: 4px;
            box-shadow: none;
            font-size: 14px;
            &._white {
                color: #1f242a;
                background-color: #fff;
                &:hover {
                    background-color: rgba(#fff, .75);
                }
                &:active {
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
                }
            }
        }
    }
}

.p-integrations {
    .page {
        padding-top: 63px;
    }
}
