<md-dialog class="gallery-modal" aria-label="Demo" zafira-background-theme="modal">
    <md-dialog-content>
        <div ng-if="isLoaded" class="gallery-container">
            <img class="gallery-container_gallery-image" ng-src="{{ image }}"/>
            <div ng-mouseenter="showHideLog($event, true);"  ng-mouseleave="showHideLog($event, false);" class="gallery-container_gallery-image_log">{{ currentLog }}</div>
        </div>
        <div ng-if="! isLoaded" style="display: flex; align-items: center;" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-dialog-content>
</md-dialog>
<md-button id="close" class="md-icon-button gallery-container_close-button" data-ng-click="cancel()">
    <md-icon aria-label="Close dialog">close</md-icon>
</md-button>
