<div id="testrun-info-page" class="page page-profile no-padding no-margin" ng-controller="TestRunInfoController">
  <div class="row ui-section no-margin title-container">
    <h2 id="testrun-info-title">
        {{ test.name }}
        <span class="recording-icon" ng-if="MODE.name == 'live'">
            <div class="red-point" ng-class="{'flash-point': true}"></div>
        </span>
    </h2>
    <!--<span><i class="material-icons" md-ink-ripple>keyboard_backspace</i></span>-->
  </div>
  <div class="row no-margin tests-info-container">
    <div class="test-info-section col-md-12 no-padding">
      <div class="row no-margin" ng-cloak>
        <section class="panel panel-default no-margin">
            <div class="panel-body no-padding">
                <md-tabs ng-init="selectedTab = 0;" md-selected="selectedTab" md-border-bottom md-autoselect>
                    <md-tab ng-disabled="false" label="Overview" ng-click="selectedTab = 0;">
                        <div class="tab0">
                            <div class="tab-content">
                              <div class="history-tab">
                                <div class="video-section col-md-4 col-sm-12 col-md-push-8 no-padding">
                                  <md-chips>
                                    <md-chip ng-repeat="driver in drivers" ng-click="switchDriver($index);" ng-class="{'active': selectedDriver == $index}">Driver {{ $index + 1 }}</md-chip>
                                  </md-chips>
                                    <div>
                                      <div class="video-wrapper">
                                        <video preload="auto" ng-init="videoPlayerPained = true;" id="videoRecord" ng-if="MODE.name == 'record'" ng-attr-width="{{ videoWidth }}" controls>
                                          <source ng-src="{{ drivers[selectedDriver].link }}" src="" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <div ng-init="vncPained = true;" ng-if="MODE.name == 'live';" id="vnc">
                                            <i ng-click="fullScreen();" class="material-icons video-control">fullscreen</i>
                                        </div>
                                      </div>
                                        <div class="test-info-tab">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>Status</td>
                                                    <td><span style="text-transform: capitalize;">{{ test.status.split('_').join(' ').toLowerCase() }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Started</td>
                                                    <td><span>{{ test.startTime | date: 'HH:mm dd MMM yyyy'}}</span></td>
                                                </tr>
                                                <tr ng-if="test.finishTime && test.startTime && (test.finishTime - test.startTime) > 0">
                                                    <td>Duration</td>
                                                    <td>
                                                        <span>
                                                            {{(test.finishTime - test.startTime) / 1000 | number: 0}} seconds
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Platform</td>
                                                    <td>
                                                        <span data-ng-if="testRun.platform != ''" class="platform-icon {{testRun.platform | lowercase}}"/>
                                                        <span data-ng-if="testRun.platform == ''" class="platform-icon unknown"></span>
                                                        <span data-ng-if="testRun.browserVersion">{{ testRun.browserVersion }}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-history table-responsive col-md-8 col-sm-12 no-padding">
                                    <table data-table-loupe="currentLog.id" data-table-loupe-trigger="videoMode.mode == 'PLAYING'" class="table table-striped no-margin">
                                        <thead>
                                            <tr>
                                                <th>Visuals</th>
                                                <th>Start</th>
                                                <th>Action</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="logs">
                                            <tr ng-attr-id="log-{{ $index }}" ng-if="logs.length" ng-click="selectLogRow($event, $index);" ng-repeat="log in logs">
                                                <td>
                                                    <i ng-if="false" class="material-icons">insert_photo</i>
                                                    <span ng-if="log.driver" style="border-radius: 8px" class="label label-default">Driver {{ log.driver.index + 1 }}</span>
                                                </td>
                                                <td>{{ log.timestamp | date: 'HH:mm:ss'}}</td>
                                                <td>[{{ log.threadName }}] [{{ log.level}}]
                                                    <span><show-more class="log_message" name="logMessage" element-id="log.timestamp" text="log.message" limit="255" ></show-more></span>
                                                </td>
                                                <td class="settings-cell" style="padding: 0 !important;" ng-if="selectedLogRow == $index">
                                                    <md-menu class="pull-right">
                                                        <md-button name="logsSetting" aria-label="Logs settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                            <md-icon class="material-icons">more_vert</md-icon>
                                                        </md-button>
                                                        <md-menu-content width="2" class="fixed-md-menu-content">
                                                            <md-menu-item>
                                                                <md-button name="copyLine" ng-click="copyLogLine(log);">
                                                                    Copy line
                                                                </md-button>
                                                            </md-menu-item>
                                                            <md-menu-item>
                                                                <md-button name="copyPermalink" ng-click="copyLogPermalink();">
                                                                    Copy permalink
                                                                </md-button>
                                                            </md-menu-item>
                                                        </md-menu-content>
                                                    </md-menu>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                              </div>
                            </div>
                        </div>
                    </md-tab>
                    <!--<md-tab ng-disabled="false" label="Screenshots" ng-click="selectedTab = 1;">
                        <div class="tab1">
                            <div class="tab-content">
                                <div>

                                </div>
                            </div>
                        </div>
                    </md-tab>-->
                    <!--<md-tab ng-disabled="false" label="Test details" ng-click="selectedTab = 2;">
                        <div class="tab2">
                            <div class="test-info-tab">
                                <ul>
                                    <li>
                                        Status
                                        <span style="text-transform: capitalize;">{{ test.status.split('_').join(' ').toLowerCase() }}</span>
                                    </li>
                                    <li>
                                        Started
                                        <span>{{ test.startTime | date: 'HH:mm Z dd MMM yyyy'}}</span>
                                    </li>
                                    <li ng-if="test.finishTime && test.startTime && (test.finishTime - test.startTime) > 0">
                                        Duration
                                        <span>
                                            {{(test.finishTime - test.startTime) / 1000 | number: 0}} seconds
                                        </span>
                                    </li>
                                    <li>
                                        Platform
                                        <span>Mac OS</span>
                                    </li>
                                    <li>
                                        Browser
                                        <span data-ng-if="testRun.platform != ''" class="platform-icon {{testRun.platform | lowercase}}"/>
                                        <span data-ng-if="testRun.platform == ''" class="platform-icon unknown"></span>
                                        <span data-ng-if="testRun.browserVersion">{{ testRun.browserVersion }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </md-tab>-->
                </md-tabs>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
