<md-dialog flex="50" aria-label="User profile" zafira-background-theme="modal">
    <form class="form-validation" name="password_form" ng-submit="updateUserPassword(changePassword); UtilService.untouchForm(password_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle">Change password</h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container  class="md-block">
                    <label>Password</label>
                    <input password-eye="mousedown - mouseup" id="password" type="password" ng-model="changePassword.password" name="password" required
                           ng-minlength="8" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9_@!]+$/"/>
                    <div ng-messages="password_form.password.$error" ng-if="password_form.password.$dirty">
                        <div ng-repeat="validation in UtilService.validations.password" ng-message="{{validation.name}}">
                            <span ng-if="validation.additional">
                                <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                {{ validation.message }}
                            </span>
                            <span ng-if="! validation.additional">{{ validation.message }}</span>
                        </div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button id="change" type="submit"
                       class="md-raised btn-w-md md-primary" ng-disabled="password_form.$invalid">
                Apply
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
