<div class="row">

    <div class="col-xs-4">
        <label class="color-option-check">
            <input type="radio" name="color" value="11" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-dark item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span>
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="12" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-primary item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="13" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-success item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="14" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-info item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="15" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-warning item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="16" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-danger item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
    </div>

    <div class="col-xs-4">
        <label class="color-option-check">
            <input type="radio" name="color" value="21" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-light item-header"></span>
                <span class="bg-light item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="22" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-primary item-header"></span>
                <span class="bg-primary item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="23" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-success item-header"></span>
                <span class="bg-success item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="24" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-info item-header"></span>
                <span class="bg-info item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="25" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-warning item-header"></span>
                <span class="bg-warning item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="26" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-danger item-header"></span>
                <span class="bg-danger item-header"></span>
                <span class="bg-dark"></span> 
            </span>
        </label>                                 
    </div>
    <div class="col-xs-4">
        <label class="color-option-check">
            <input type="radio" name="color" value="31" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-dark item-header"></span>
                <span class="bg-dark item-header"></span>
                <span class="bg-light"></span> 
            </span>
        </label> 
        <label class="color-option-check">
            <input type="radio" name="color" value="32" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-primary item-header"></span>
                <span class="bg-primary item-header"></span>
                <span class="bg-light"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="33" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-success item-header"></span>
                <span class="bg-success item-header"></span>
                <span class="bg-light"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="34" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-info item-header"></span>
                <span class="bg-info item-header"></span>
                <span class="bg-light"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="35" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-warning item-header"></span>
                <span class="bg-warning item-header"></span>
                <span class="bg-light"></span> 
            </span>
        </label>
        <label class="color-option-check">
            <input type="radio" name="color" value="36" ng-model="main.skin">
            <span class="color-option-item bg-page">
                <span class="overlay"><span class="material-icons">check</span></span>
                <span class="bg-danger item-header"></span>
                <span class="bg-danger item-header"></span>
                <span class="bg-light"></span> 
            </span>
        </label>                                 
    </div>

</div>