<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0 }">
        <a href="#!/">
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>

    <div class="top-nav" ng-controller="SidebarController">
        <ul class="nav-right pull-right list-unstyled">
            <li>
            	<md-menu md-position-mode="left bottom">
                    <md-button class="header-btn" aria-label="menu" ng-click="$mdMenu.open($event); loadProjects();">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <small data-ng-if="project">{{project.name}}</small>
                        <small data-ng-if="!project">Project</small>
                    </md-button>
                    <md-menu-content class="top-header-dropdown" width="3">
                        <md-list class="md-dense" >
                        	<md-list-item class="md-2-line" ng-click="setProject(null)">
                                <md-icon class="material-icons highlight_red">close</md-icon>
                                <div class="md-list-item-text">
                                    <h3 class="highlight_red">Clear</h3>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-click="showProjectDialog()" data-ng-if="isAdmin()"">
                                <md-icon class="material-icons highlight_green">add</md-icon>
                                <div class="md-list-item-text">
                                    <h3 class="highlight_green">Create</h3>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-click="setProject(project)" data-ng-repeat="project in projects | orderBy:'name'">
                                <md-icon class="material-icons">chevron_right</md-icon>
                                <div class="md-list-item-text">
                                    <h3>{{project.name}}</h3>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-menu-content>
                </md-menu>
            </li>
            <li>
                <md-menu md-position-mode="left bottom">
                    <md-button class="header-btn" aria-label="menu" ng-click="$mdMenu.open($event)">
                        <i class="material-icons" style="font-size: 24px;">account_circle</i>
                        <small style="margin-right: 15px;">{{currentUser.username}}</small>
                    </md-button>
                    <md-menu-content class="top-header-dropdown" width="3">
                        <md-menu-item><md-button aria-label="menu" ng-href="#!/users/profile"><md-icon class="material-icons">settings</md-icon><span data-translate="MY_PROFILE"></span></md-button></md-menu-item>
                        <md-menu-item><md-button aria-label="menu" ng-href="#!/dashboards/{{pefrDashboardId}}"><md-icon class="material-icons">timeline</md-icon><span data-translate="PERFORMANCE"></span></md-button></md-menu-item>
                        <md-menu-item data-ng-if="isAdmin()"><md-button aria-label="menu" ng-href="#!/integrations"><md-icon class="material-icons">settings_input_component</md-icon><span data-translate="Intagrations"></span></md-button></md-menu-item>
                        <md-menu-item><md-button aria-label="menu" ng-href="#!/signin"><md-icon class="material-icons">power_settings_new</md-icon><span data-translate="LOG_OUT"></span></md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
            </li>
        </ul>
    </div>
</header>
