<div ng-controller="SidebarController" class="nav-wrapper" xmlns:font-size="http://www.w3.org/1999/xhtml">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
        <li class="sidebar-menu-button bg-dark">
            <a md-button class="menu-btn toggle-min" toggle-nav-bottom aria-label="menu toggle-nul-collapsed-min">
            <i class="material-icons nav-menu-icon">menu</i>
            <i class="material-icons nav-close-icon">close</i>
          </a>
        </li>
        <li toggle-menu>
            <a md-button aria-label="menu" href="#!/dashboards" data-ng-click="loadDashboards();">
              <i class="material-icons">equalizer</i><span data-translate="DASHBOARDS"></span>
            </a>
            <ul class="auto-width width-icon">
                <li class="sub-search nav-search">
                    <md-input-container class="no-margin no-padding">
                        <label>Search</label>
                        <input name="search" ng-model="navSC.title" autocomplete="off"/>
                        <md-icon>search</md-icon>
                    </md-input-container>
                    <md-icon toggle-menu="close" class="search_close-button" ng-click="">close</md-icon>
                </li>
                <li class="sub-search search-menu">
                    <ul>
                        <li data-ng-repeat="dashboard in dashboardList | orderBy:'position' | filter:navSC">
                            <a toggle-menu="close" md-button aria-label="menu" href="#!/dashboards/{{dashboard.id}}">
                              <i data-ng-if="dashboard.hidden == true" style="font-size: 14px;" class="material-icons">visibility_off</i>
                                <show-part limit="27" text="dashboard.title"></show-part>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/tests/runs">
                <i class="material-icons">play_circle_outline</i>
                <span data-translate="TEST_RUNS"></span>
            </a>
        </li>
        <!--li toggle-menu>
            <a md-button aria-label="menu" href="#!/tests/runs/views" data-ng-click="loadViews();">
                <i class="material-icons">remove_red_eye</i><span data-translate="VEIWS"></span>
            </a>
            <ul class="auto-width width-icon">
                <li class="sub-search nav-search">
                    <md-input-container class="no-margin no-padding">
                        <label>Search</label>
                        <input name="search" ng-model="navSCView.name" autocomplete="off"/>
                        <md-icon>search</md-icon>
                    </md-input-container>
                    <md-icon toggle-menu="close" class="search_close-button" ng-click="">close</md-icon>
                </li>
                <li class="sub-search search-menu">
                    <ul>
                        <li>
                            <a class="create-view-button" md-button aria-label="menu" href="" data-ng-click="showViewDialog($event)"></i>New view +</a>
                        </li>
                        <li data-ng-repeat="view in views | orderBy:'name' | filter:navSCView" style="position: relative;" class="show-on-hover">
                            <a toggle-menu="close" md-button aria-label="menu" href="#!/views/{{view.id}}">
                                <show-part limit="27" text="view.name"></show-part>
                            </a>
                            <span style="position: absolute; right: 10px; top: 15px;" class="show-icon-on-hover">
                                <i style="font-size: 14px;" class="material-icons" data-ng-click="showViewDialog($event, view)" has-any-permission="['MODIFY_TEST_RUN_VIEWS']">edit</i>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </a></li-->
        <!--li><a md-button aria-label="menu" href="#!/tests/cases">
          <i class="material-icons">library_books</i>
          <span data-translate="TEST_CASES"></span>
        </a></li-->
        <li><a md-button aria-label="menu" href="#!/users" has-any-permission="['VIEW_USERS']">
          <i class="material-icons">supervisor_account</i>
          <span data-translate="USERS"></span>
        </a></li>
        <!--li><a md-button aria-label="menu" href="#!/monitors" has-any-permission="['VIEW_MONITORS']">
          <i class="material-icons">laptop_chromebook</i><span data-translate="MONITORS"></span>
        </a></li-->
        <li><a md-button aria-label="menu" href="#!/integrations" has-any-permission="['VIEW_INTEGRATIONS']">
          <i class="material-icons">settings_input_component</i>
          <span data-translate="INTEGRATIONS"></span>
        </a></li>
    </ul>
</div>
