<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active
        data-ng-controller="SidebarController">
		<li>
            <a md-button aria-label="menu" href="#!/dashboards" data-ng-mouseover="loadDashboards()"><i class="material-icons">equalizer</i><span data-translate="DASHBOARDS"></span></a>
            <ul>
                <li data-ng-repeat="dashboard in dashboards | orderBy:'position'">
                    <a md-button aria-label="menu" href="#!/dashboards/{{dashboard.id}}">{{dashboard.title}}</a>
                </li>
            </ul>
        </li>
		<li>
            <a md-button aria-label="menu" href="#!/tests/runs" data-ng-mouseover="loadViews()"><i class="material-icons">playlist_add_check</i><span data-translate="TEST_RUNS"></span></a>
            <ul>
                <li>
                    <a md-button aria-label="menu" href="#!/tests/runs"><span data-translate="SHOW_LATEST_RUNS"></span></a>
                </li>
                <md-divider  data-ng-if="views.length > 0"></md-divider>
                <li data-ng-repeat="view in views | orderBy:'name'" style="position: relative;">
                    <a md-button href="#!/views/{{view.id}}">{{view.name}}</a>
                    <i style="position: absolute; right: 10px; top: 15px;" class="fa fa-gear fa-fw" data-ng-click="showViewDialog($event, view)" data-ng-if="isAdmin()"></i>
                </li>
                <md-divider></md-divider>
                <li data-ng-if="isAdmin()">
                    <a md-button aria-label="menu" href="" data-ng-click="showViewDialog($event)">Create view +</a>
                </li>
            </ul>
        </li>
        <li><a md-button aria-label="menu" href="#!/tests/cases"><i class="material-icons">library_books</i><span data-translate="TEST_CASES"></span></a></li>
        <li><a md-button aria-label="menu" href="#!/users" data-ng-show="isAdmin()"><i class="material-icons">supervisor_account</i><span data-translate="USERS"></span></a></li>
        <li><a md-button aria-label="menu" href="#!/settings" data-ng-show="isAdmin()"><i class="material-icons">settings</i><span data-translate="SETTINGS"></span></a></li>
    </ul>
</div>
