<div class="page page-profile" ng-controller="TenancyListController">
    <div class="row ui-section">
        <div layout="row" layout-xs="column" class="col-lg-12">
            <div>
                <h2 id="pageTitle" class="section-header">
                    Tenancies
                    <small id="itemsCount" data-ng-if="">({{ tesnancies.length }})</small>
                </h2>
            </div>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button ng-click="showTenancySettingDialog($event)" id="createTenancy" aria-label="menu" class="md-fab md-raised md-fab-sm">
                    <md-tooltip md-direction="top">Create tenancy</md-tooltip>
                    <span class="fa fa-plus" aria-hidden="true"></span>
                </md-button>
        </md-fab-speed-dial>
        <div class="col-md-12">
            <article class="article">
                <md-card class="no-margin-h">
                    <md-table-container>
                        <form ng-submit="search()" name="search_form">
                            <table md-table zafira-background-theme="table">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>
                                            ID
                                        </th>
                                        <th md-column>
                                            Name
                                        </th>
                                        <th md-column>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr ng-repeat="tenancy in tenancies" md-row>
                                        <td md-cell>
                                            {{ tenancy.id }}
                                        </td>
                                        <td md-cell>
                                            {{ tenancy.name }}
                                        </td>
                                        <td md-cell>
                                            <md-menu class="pull-right" md-offset="0 {{currentOffset}}">
                                                <md-button name="tenancySetting" aria-label="Tenancy settings" class="md-icon-button" data-ng-click="initMenuRights(testRun); setOffset($event); $mdMenu.open($event);">
                                                    <md-icon class="material-icons">more_vert</md-icon>
                                                </md-button>
                                                <md-menu-content width="2" class="fixed-md-menu-content">
                                                    <md-menu-item>
                                                        <md-button name="edit" ng-click="showTenancySettingDialog($event, tenancy, $index)">
                                                            Edit
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                    <tr md-row ng-if="! tenancies.length">
                                        <td id="noData" md-cell colspan="4" class="text-center">No tenancies</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </md-table-container>
                </md-card>
            </article>
        </div>
    </div>
</div>
