<md-dialog flex="50" aria-label="Setting">
    <form class="form-validation" name="settings_form" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Name</label>
                        <input type="text" ng-model="setting.name" name="name" required/>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Value</label>
                        <input type="text" ng-model="setting.value" name="value"/>
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Integration tool</label>
                    <md-select name="tool" ng-model="setting.tool" required>
                        <md-option ng-repeat="(tool, isConnected) in $root.tools" value="{{tool}}">
                            {{tool}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <span>Encrypt</span>
                        <md-checkbox ng-model="setting.encrypted" ng-change="!setting.encrypted">
                        </md-checkbox>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button data-ng-if="setting.id" type="submit"
                       class="md-raised btn-w-md md-warn" data-ng-click="delete(setting.id)">
                Delete
            </md-button>
            <md-button data-ng-if="!setting.id" type="submit"
                       class="md-raised btn-w-md md-primary"
                       data-ng-click="create(setting)" data-ng-disabled="settings_form.$invalid">
                Create
            </md-button>
            <md-button data-ng-if="setting.id" type="submit"
                       class="md-raised btn-w-md md-primary"
                       data-ng-click="update(setting)" data-ng-disabled="settings_form.$invalid">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
