<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.application.FilterMapper">

    <insert id="createFilter" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[

			INSERT INTO FILTERS (NAME, DESCRIPTION, SUBJECT, PUBLIC_ACCESS, USER_ID)
			VALUES (
				#{name},
				#{description},
			    #{subject},
				#{publicAccess},
				#{userId}
			)
        ]]>
    </insert>

    <sql id="deleteFilter">
        <![CDATA[

			DELETE FROM FILTERS
			WHERE ID = #{id}

        ]]>
    </sql>

    <delete id="deleteFilterById">
        <include refid="deleteFilter"/>
    </delete>

    <update id="updateFilter">
        <![CDATA[

			UPDATE
			    FILTERS
			SET
                NAME = #{name},
                DESCRIPTION = #{description},
                SUBJECT = #{subject},
                PUBLIC_ACCESS = #{publicAccess}
			WHERE
			    ID = #{id}

        ]]>
    </update>


    <sql id="getFilters">
        <![CDATA[
			SELECT
				F.ID AS FILTER_ID,
				F.NAME AS FILTER_NAME,
				F.DESCRIPTION AS FILTER_DESCRIPTION,
				F.SUBJECT AS FILTER_SUBJECT,
				F.PUBLIC_ACCESS AS FILTER_PUBLIC_ACCESS,
				F.USER_ID AS FILTER_USER_ID,
				F.CREATED_AT AS FILTER_CREATED_AT,
				F.MODIFIED_AT AS _MODIFIED_AT
			FROM
				FILTERS F

        ]]>
    </sql>

    <select id="getFilterById" resultMap="FilterResultMap">
        <include refid="getFilters"/>
        <![CDATA[
			WHERE F.ID = #{id};
		]]>
    </select>

    <select id="getFilterByName" resultMap="FilterResultMap">
        <include refid="getFilters"/>
        <![CDATA[
			WHERE F.NAME = #{name};
		]]>
    </select>


    <select id="getAllFilters" resultMap="FilterResultMap">
        <include refid="getFilters"/>
    </select>

    <select id="getAllPublicFilters" resultMap="FilterResultMap">
        <include refid="getFilters"/>
        <![CDATA[
			WHERE F.USER_ID = #{userId} OR F.PUBLIC_ACCESS = TRUE;
		]]>
    </select>

    <sql id="getCount">
        <![CDATA[
			SELECT
				COUNT(*)
			FROM
				FILTERS
        ]]>
    </sql>

    <select id="getFiltersCount" resultType="java.lang.Integer">
        <include refid="getCount"/>
    </select>

    <resultMap type="com.qaprosoft.zafira.models.db.application.Filter" id="FilterResultMap" autoMapping="false">
        <id column="FILTER_ID" property="id"/>
        <result column="FILTER_NAME" property="name"/>
        <result column="FILTER_DESCRIPTION" property="description"/>
        <result column="FILTER_SUBJECT" property="subject"/>
        <result column="FILTER_PUBLIC_ACCESS" property="publicAccess"/>
        <result column="FILTER_USER_ID" property="userId"/>
        <result column="FILTER_MODIFIED_AT" property="modifiedAt"/>
        <result column="FILTER_CREATED_AT" property="createdAt"/>
    </resultMap>

</mapper>
