<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.application.IntegrationParamMapper">

    <sql id="integrationParamBody">
        <![CDATA[
            IP.ID AS INTEGRATION_PARAM_ID,
            IP.NAME AS INTEGRATION_PARAM_NAME,
            IP.METADATA AS INTEGRATION_PARAM_METADATA,
            IP.DEFAULT_VALUE AS INTEGRATION_PARAM_DEFAULT_VALUE,
            IP.MANDATORY AS INTEGRATION_PARAM_MANDATORY,
            IP.NEED_ENCRYPTION AS INTEGRATION_PARAM_NEED_ENCRYPTION,
            IP.MODIFIED_AT AS INTEGRATION_PARAM_MODIFIED_AT,
            IP.CREATED_AT AS INTEGRATION_PARAM_CREATED_AT
        ]]>
    </sql>

    <sql id="find">
        <![CDATA[
            SELECT
        ]]>
        <include refid="integrationParamBody"/>
        <![CDATA[
            FROM
                INTEGRATION_PARAMS IP
        ]]>
    </sql>

    <select id="findById" resultMap="IntegrationParamResultMap">
        <include refid="find"/>
        <![CDATA[
            WHERE
                IP.ID = #{id}
        ]]>
    </select>

    <select id="findAll" resultMap="IntegrationParamResultMap">
        <include refid="find"/>
    </select>

    <resultMap type="com.qaprosoft.zafira.models.db.integration.IntegrationParam" id="IntegrationParamResultMap" autoMapping="false">
        <id column="INTEGRATION_PARAM_ID" property="id" />
        <result column="INTEGRATION_PARAM_NAME" property="name" />
        <result column="INTEGRATION_PARAM_METADATA" property="metadata" />
        <result column="INTEGRATION_PARAM_DEFAULT_VALUE" property="defaultValue" />
        <result column="INTEGRATION_PARAM_MANDATORY" property="mandatory" />
        <result column="INTEGRATION_PARAM_NEED_ENCRYPTION" property="needEncryption" />
        <result column="INTEGRATION_GROUP_MODIFIED_AT" property="modifiedAt" />
        <result column="INTEGRATION_GROUP_CREATED_AT" property="createdAt" />
    </resultMap>

</mapper>
