<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.application.InvitationMapper">

	<insert id="createInvitation" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO INVITATIONS (EMAIL, TOKEN, EXPIRES_IN)
			VALUES (
				#{email},
				#{token},
			    #{expiresIn}
			)
		]]>
	</insert>

	<sql id="getInvitation">
		<![CDATA[
			SELECT
				I.ID AS INVITATION_ID,
				I.EMAIL AS INVITATION_EMAIL,
				I.TOKEN AS INVITATION_TOKEN,
				I.EXPIRES_IN AS INVITATION_EXPIRES_IN,
				I.MODIFIED_AT AS INVITATION_MODIFIED_AT,
				I.CREATED_AT AS INVITATION_CREATED_AT
			FROM
				INVITATIONS I
		]]>
	</sql>

	<select id="getInvitationByCode" resultMap="InvitationResultMap">
		<include refid="getInvitation" />
		<![CDATA[
			WHERE I.TOKEN = #{token};
		]]>
	</select>

	<select id="getAllInvitations" resultMap="InvitationResultMap">
		<include refid="getInvitation" />
	</select>

	<sql id="deleteInvitationSql">
		<![CDATA[
			DELETE FROM INVITATIONS
		]]>
	</sql>

	<delete id="deleteInvitation">
		<include refid="deleteInvitationSql" />
		<![CDATA[
			WHERE ID = #{id}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.zafira.models.db.Invitation" id="InvitationResultMap" autoMapping="false">
		<id column="INVITATION_ID" property="id" />
		<result column="INVITATION_EMAIL" property="email" />
		<result column="INVITATION_TOKEN" property="token" />
		<result column="INVITATION_EXPIRES_IN" property="expiresIn" />
		<result column="INVITATION_MODIFIED_AT" property="modifiedAt" />
		<result column="INVITATION_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
