<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.application.LauncherMapper">

    <insert id="createLauncher" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			INSERT INTO LAUNCHERS (
			    NAME
			    , MODEL
			    , SCM_ID
        ]]>
			    <if test="null != job">
                    <![CDATA[
			          , JOB_ID
                    ]]>
			    </if>
        <![CDATA[
            )
			VALUES (
				#{name},
				#{model},
			    #{scmAccount.id}
        ]]>
                <if test="null != job">
                    <![CDATA[
			          , #{job.id}
                    ]]>
                </if>
        <![CDATA[
			)
        ]]>
    </insert>
    
    <sql id="getLaunchers">
        <![CDATA[
			SELECT
				L.ID AS LAUNCHER_ID,
				L.NAME AS LAUNCHER_NAME,
				L.MODEL AS LAUNCHER_MODEL,

				S.ID AS SCM_ID,
				S.NAME AS SCM_NAME,
				S.ACCESS_TOKEN AS SCM_ACCESS_TOKEN,
				S.ORGANIZATION AS SCM_ORGANIOZATION,
				S.REPO AS SCM_REPO,
				S.AVATAR_URL AS SCM_AVATAR_URL,
				S.REPOSITORY_URL AS SCM_REPOSITORY_URL,
				S.USER_ID AS SCM_USER_ID,
				S.MODIFIED_AT AS SCM_MODIFIED_AT,
				S.CREATED_AT AS SCM_CREATED_AT,

				J.ID AS JOB_ID,
				J.USER_ID AS JOB_USER_ID,
				J.NAME AS JOB_NAME,
				J.JOB_URL AS JOB_JOB_URL,
				J.JENKINS_HOST AS JOB_JENKINS_HOST,
				J.MODIFIED_AT AS JOB_MODIFIED_AT,
				J.CREATED_AT AS JOB_CREATED_AT,

				L.CREATED_AT AS LAUNCHER_CREATED_AT,
				L.MODIFIED_AT AS _MODIFIED_AT
			FROM
				LAUNCHERS L
            LEFT JOIN
                SCM S
            ON
                L.SCM_ID = S.ID
            LEFT JOIN
                JOBS J
            ON
                J.ID = L.JOB_ID
        ]]>
    </sql>

    <select id="getLauncherById" resultMap="LauncherResultMap">
        <include refid="getLaunchers"/>
        <![CDATA[
			WHERE L.ID = #{id};
		]]>
    </select>

    <select id="getAllLaunchers" resultMap="LauncherResultMap">
        <include refid="getLaunchers"/>
    </select>

    <update id="updateLauncher">
        <![CDATA[
			UPDATE LAUNCHERS
        ]]>
        <set>
            <if test="null != name">
                <![CDATA[
                   NAME = #{name},
                ]]>
            </if>
            <if test="null != model">
                <![CDATA[
                   MODEL = #{model},
                ]]>
            </if>
            <if test="null != scmAccount and null != scmAccount.id">
                <![CDATA[
                   SCM_ID = #{scmAccount.id}
                ]]>
            </if>
        </set>
        <![CDATA[
			WHERE ID = #{id}
        ]]>
    </update>

    <sql id="deleteLauncher">
        <![CDATA[
			DELETE FROM LAUNCHERS
			WHERE ID = #{id}
        ]]>
    </sql>

    <delete id="deleteLauncherById">
        <include refid="deleteLauncher"/>
    </delete>

    <resultMap type="com.qaprosoft.zafira.models.db.Launcher" id="LauncherResultMap" autoMapping="false">
        <id column="LAUNCHER_ID" property="id"/>
        <result column="LAUNCHER_NAME" property="name"/>
        <result column="LAUNCHER_MODEL" property="model"/>
        <result column="LAUNCHER_MODIFIED_AT" property="modifiedAt"/>
        <result column="LAUNCHER_CREATED_AT" property="createdAt"/>
        <association property="scmAccount" javaType="com.qaprosoft.zafira.models.db.ScmAccount"
                     resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.application.ScmAccountMapper.ScmAccountResultMap"/>
        <association property="job" javaType="com.qaprosoft.zafira.models.db.Job"
                     resultMap="com.qaprosoft.zafira.dbaccess.dao.mysql.application.JobMapper.JobResultMap"/>
    </resultMap>

</mapper>
