<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.application.ScmAccountMapper">

    <insert id="createScmAccount" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO SCM (ACCESS_TOKEN, ORGANIZATION, REPO, USER_ID, NAME)
			VALUES (
				#{accessToken},
				#{organizationName},
			    #{repositoryName},
			    #{userId},
			    #{name}
			)
		]]>
	</insert>

    <sql id="getScmAccount">
		<![CDATA[
			SELECT
				S.ID AS SCM_ID,
				S.NAME AS SCM_NAME,
				S.ACCESS_TOKEN AS SCM_ACCESS_TOKEN,
				S.ORGANIZATION AS SCM_ORGANIOZATION,
				S.REPO AS SCM_REPO,
				S.USER_ID AS SCM_USER_ID,
				S.MODIFIED_AT AS SCM_MODIFIED_AT,
				S.CREATED_AT AS SCM_CREATED_AT
			FROM
				SCM S
		]]>
	</sql>

    <select id="getScmAccountById" resultMap="ScmAccountResultMap">
        <include refid="getScmAccount" />
        <![CDATA[
			WHERE S.ID = #{id};
		]]>
    </select>

    <select id="getAllScmAccounts" resultMap="ScmAccountResultMap">
        <include refid="getScmAccount" />
    </select>

    <update id="updateScmAccount">
        <![CDATA[
			UPDATE
			    SCM
		]]>
        <set>
            <if test="null != accessToken">
                <![CDATA[
                    STATUS = #{status},
		        ]]>
            </if>
            <if test="null != organizationName">
                <![CDATA[
                   ORGANIZATION = #{organizationName},
		        ]]>
            </if>
            <if test="null != repositoryName">
                <![CDATA[
                   REPO = #{repositoryName},
		        ]]>
            </if>
        </set>
        <![CDATA[
			WHERE
			    ID = #{id}
		]]>
    </update>

    <sql id="deleteScmAccountSql">
		<![CDATA[
			DELETE FROM SCM
		]]>
	</sql>

    <delete id="deleteScmAccountById">
        <include refid="deleteScmAccountSql" />
        <![CDATA[
			WHERE ID = #{id}
		]]>
    </delete>

    <resultMap type="com.qaprosoft.zafira.models.db.ScmAccount" id="ScmAccountResultMap" autoMapping="false">
        <id column="SCM_ID" property="id" />
        <result column="SCM_NAME" property="name" />
        <result column="SCM_ACCESS_TOKEN" property="accessToken" />
        <result column="SCM_ORGANIZATION" property="organizationName" />
        <result column="SCM_REPO" property="repositoryName" />
        <result column="SCM_USER_ID" property="userId" />
        <result column="SCM_MODIFIED_AT" property="modifiedAt" />
        <result column="SCM_CREATED_AT" property="createdAt" />
    </resultMap>

</mapper>
