<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qaprosoft.zafira.dbaccess.dao.mysql.application.TestArtifactMapper">

	<insert id="createTestArtifact" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO TEST_ARTIFACTS (NAME, LINK, EXPIRES_AT, TEST_ID)
			VALUES (
				#{name},
			    #{link},
				#{expiresAt},
				#{testId}
			)
		]]>
	</insert>

	<sql id="getTestArtifact">
		<![CDATA[
			SELECT
				TA.ID AS TEST_ARTIFACT_ID,
				TA.NAME AS TEST_ARTIFACT_NAME,
				TA.LINK AS TEST_ARTIFACT_LINK,
				TA.TEST_ID AS TEST_ARTIFACT_TEST_ID,
				TA.EXPIRES_AT AS TEST_ARTIFACT_EXPIRES_AT,
				TA.MODIFIED_AT AS TEST_ARTIFACT_MODIFIED_AT,
				TA.CREATED_AT AS TEST_ARTIFACT_CREATED_AT
			FROM
				TEST_ARTIFACTS TA
		]]>
	</sql>
	
	<select id="getTestArtifactById" resultMap="TestArtifactResultMap">
		<include refid="getTestArtifact" />
		<![CDATA[
			WHERE TA.ID = #{id};
		]]>
	</select>

	<select id="getTestArtifactsByTestId" resultMap="TestArtifactResultMap">
		<include refid="getTestArtifact" />
		<![CDATA[
			WHERE TA.TEST_ID = #{testId};
		]]>
	</select>

	<select id="getTestArtifactByNameAndTestId" resultMap="TestArtifactResultMap">
		<include refid="getTestArtifact" />
		<![CDATA[
			WHERE TA.NAME = #{name} AND TA.TEST_ID = #{testId};
		]]>
	</select>

	<update id="updateTestArtifact">
		<![CDATA[
			UPDATE
			    TEST_ARTIFACTS
		]]>
			<set>
				<if test="null != name">
		            <![CDATA[
		               NAME = #{name},
		            ]]>
				</if>
				<if test="null != link">
		            <![CDATA[
		               LINK = #{link},
		            ]]>
				</if>
				<if test="null != testId">
		            <![CDATA[
		               TEST_ID = #{testId},
		            ]]>
				</if>
				<if test="null != expiresAt">
		            <![CDATA[
		               EXPIRES_AT = #{expiresAt}
		            ]]>
				</if>
			</set>
		<![CDATA[
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteTestArtifact">
		<![CDATA[
			DELETE FROM TEST_ARTIFACTS
		]]>
	</sql>

	<delete id="deleteTestArtifactById">
		<include refid="deleteTestArtifact" />
		<![CDATA[
			WHERE ID = #{id}
		]]>
	</delete>
	
	<delete id="deleteTestArtifactsByTestId">
		<include refid="deleteTestArtifact" />
		<![CDATA[
			WHERE TEST_ID = #{testId}
		]]>
	</delete>

	<resultMap type="com.qaprosoft.zafira.models.db.TestArtifact" id="TestArtifactResultMap" autoMapping="false">
		<id column="TEST_ARTIFACT_ID" property="id" />
		<result column="TEST_ARTIFACT_NAME" property="name" />
		<result column="TEST_ARTIFACT_LINK" property="link" />
		<result column="TEST_ARTIFACT_TEST_ID" property="testId" />
		<result column="TEST_ARTIFACT_EXPIRES_AT" property="expiresAt" />
		<result column="TEST_ARTIFACT_MODIFIED_AT" property="modifiedAt" />
		<result column="TEST_ARTIFACT_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
