<header id="header" class="header-container bg-white">
    <div zafira-background-theme="header" class="top-header clearfix">
        <div ui-preloader></div>

        <!-- Logo -->
        <div zafira-background-theme="header" class="logo bg-white"  ng-class="{ 'teal-dark': ['11','31'].indexOf($ctrl.mainData) >= 0,
                     'bg-white': $ctrl.mainData === '21',
                     'bg-primary': ['12','22','32'].indexOf($ctrl.mainData) >= 0,
                     'bg-success': ['13','23','33'].indexOf($ctrl.mainData) >= 0,
                     'bg-info': ['14','24','34'].indexOf($ctrl.mainData) >= 0,
                     'bg-warning': ['15','25','35'].indexOf($ctrl.mainData) >= 0,
                     'bg-danger': ['16','26','36'].indexOf($ctrl.mainData) >= 0 }">
            <a href="#!/">
                <span class="logo-icon"><img src="assets/images/zafira_white_logo.svg" /></span>
            </a>
        </div>

        <div zafira-background-theme="header" class="top-nav" ng-controller="AppSidebarController">
            <ul class="nav-right pull-right list-unstyled">
                <li>
                    <div class="profile-img hide-phone" style="display: inline-block;">
                        <profile-photo id="brandPhoto" ng-model="$ctrl.companyLogo.value" size="40" src="assets/images/project_photo.svg"
                            icon-visible="$ctrl.currentUser.isAdmin"></profile-photo>
                        <div class="profile-img-content-wrapper" has-any-role="['ROLE_ADMIN']">
                            <div class="profile-img-content">
                                <span>
                                    <md-icon md-svg-src="assets/images/project_circle_add.svg" ng-click="showUploadImageDialog($event)"
                                        style="height: 36px; width: 36px;"></md-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                    <md-menu id="projects-menu" md-position-mode="left bottom">
                        <md-button id="projects" md-no-ink class="header-btn" aria-label="menu" ng-click="$mdMenu.open(event); loadProjects();">
                            <small class="hide-phone" data-ng-if="selectedProjectsPresent()">{{ joinProjectNames() }}</small>
                            <small class="hide-phone" data-ng-if="!selectedProjectsPresent()">Projects</small>
                            <i class="material-icons hide-phone">arrow_drop_down</i>
                            <div class="profile-img show-phone" style="display: inline-block;">
                                <profile-photo id="brandPhotoPhone" ng-model="companyLogo.value" size="40" src="assets/images/project_photo.svg"
                                    icon-visible="currentUser.isAdmin"></profile-photo>
                            </div>
                        </md-button>
                        <md-menu-content class="top-header-dropdown" style="z-index:99;" width="3">
                            <md-list class="md-dense">
                                <md-list-item id="clearProject" class="md-2-line" ng-click="resetProjects()">
                                    <md-icon class="material-icons highlight_red">close</md-icon>
                                    <div class="md-list-item-text">
                                        <h3 class="highlight_red">Clear</h3>
                                    </div>
                                </md-list-item>
                                <md-list-item id="createProject" class="md-2-line" ng-click="showProjectDialog()"
                                    has-any-permission="['MODIFY_PROJECTS']">
                                    <md-icon class="material-icons highlight_green">add</md-icon>
                                    <div class="md-list-item-text">
                                        <h3 class="highlight_green">New</h3>
                                    </div>
                                </md-list-item>
                                <md-list-item name="projectName" md-prevent-menu-close class="md-2-line" data-ng-repeat="project in projects | orderBy:'name'">
                                    <md-checkbox md-prevent-menu-close class="md-primary" ng-change="chooseProject($mdMenu);"
                                        ng-model="project.selected" aria-label="project {{ project.id}}"></md-checkbox>
                                    <div class="md-list-item-text">
                                        <h3>{{project.name}}</h3>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-menu-content>
                    </md-menu>
                </li>
                <li>
                    <md-menu md-position-mode="left bottom">
                        <md-button id="profileMenu" md-no-ink class="header-btn" aria-label="menu" ng-click="$mdMenu.open($event)">
                            <profile-photo ng-model="currentUser.photoURL" size="36" auto-resize="false"></profile-photo>
                            <small class="hide-phone">{{currentUser.username}}</small>
                            <i class="material-icons hide-phone">arrow_drop_down</i>
                        </md-button>
                        <md-menu-content class="top-header-dropdown" style="z-index:99;" width="3">
                            <md-menu-item>
                                <md-button aria-label="menu" ng-href="#!/users/profile">
                                    <md-icon class="material-icons">account_circle</md-icon><span data-translate="PROFILE"></span>
                                </md-button>
                            </md-menu-item>
                            <!-- md-menu-item>
                            <md-button aria-label="menu" ng-href="#!/dashboards/{{currentUser.personalDashboardId}}?userId={{currentUser.id}}">
                                <md-icon class="material-icons">equalizer</md-icon><span data-translate="PERSONAL"></span></md-button>
                        </md-menu-item -->
                            <!-- md-menu-item>
                          <md-button aria-label="menu" ng-href="#!/dashboards/{{currentUser.pefrDashboardId}}?userId={{currentUser.id}}">
                                <md-icon class="material-icons">timeline</md-icon><span data-translate="PERFORMANCE"></span></md-button>
                        </md-menu-item-->
                            <!--md-menu-item has-any-permission="['VIEW_INTEGRATIONS']">
                            <md-button aria-label="menu" ng-href="#!/integrations">
                                <md-icon class="material-icons">settings_input_component</md-icon><span data-translate="INTEGRATIONS"></span></md-button>
                        </md-menu-item-->
                            <md-menu-item>
                                <md-button aria-label="menu" ng-href="#!/logout">
                                    <md-icon class="material-icons">power_settings_new</md-icon><span data-translate="LOG_OUT"></span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </li>
            </ul>
        </div>
    </div>
</header>
