<div class="page-forgot" ng-controller="AuthController">
    <div class="wrapper">
        <div class="main-body">
            <div ng-switch on="forgotPasswordEmailWasSent" class="body-inner">
                <div ng-switch-when="false" class="card bg-white">
                    <div class="card-content">
                    <section class="logo-container">
                        <img class="logo" ng-src="{{companyLogo.value}}">
                    </section>
                    <form name="reset_form" class="md-form-login form-validation" data-ng-submit="resetPassword(credentials);">
                        <fieldset>
                            <md-input-container class="md-block">
                                <label class="placeholder-label">New password</label>
                                <input 
                                       type="password"
                                       name="password"
                                       id="password"
                                       password-eye="mousedown - mouseup"
                                       ng-model="credentials.password"
                                       ng-minlength="8" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9_@!]+$/"/>
                                <div ng-messages="reset_form.password.$error" ng-if="reset_form.password.$dirty">
                                    <div ng-repeat="validation in VALIDATIONS.password" ng-message="{{validation.name}}">
                                        <span ng-if="validation.additional">
                                            <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                            {{ validation.message }}
                                        </span>
                                        <span ng-if="! validation.additional">{{ validation.message }}</span>
                                    </div>
                                </div>
                                
                            </md-input-container>
                            <div class="comment text-center text-small">
                                Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                            </div>
                            
                        </fieldset>
                    </form>
                </div>
                <div layout="row" class="card-action no-border text-right" layout-align="end" >
                    <md-button type="submit"
                               id="forgotpwd"
                               class=" btn-w-md md-primary"
                               ng-disabled="reset_from.$invalid || confirmPwd != user.password">RESET</md-button>
                </div>
            </div>
            <div ng-switch-when="true" class="card bg-white">
                <div class="card-content">
                    <section class="logo-container">
                        <img class="logo" ng-src="{{companyLogo.value}}">
                    </section>

                    <form name="reset_form" class="md-form-login form-validation" data-ng-submit="resetPassword(credentials);">


                        <div class="message text-small">
                            The link was successfully sent to <strong>exampleadress@yahoo.com.</strong>
                            Please check the email.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div ng-include="roboFooter"></div>
</div>


