<div class="page-change" ng-controller="AuthController">
    <div class="wrapper">
        <div class="main-body">
            <div class="card bg-white">
                <div class="card-content">
                    <section class="logo-container">
                        <img class="logo" src="{{ companyLogo.value ? companyLogo.value : 'assets/images/background/company_logo_plug.svg' }}">
                    </section>

                    <form name="reset_form" class="md-form-login form-validation" data-ng-submit="resetPassword(credentials);">
                        <fieldset>
                            <md-input-container class="md-block">
                                <label class="placeholder-label">New password</label>
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    required
                                    ng-model="credentials.password"
                                    ng-minlength="8" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9_@!]+$/"/>
                                <div ng-messages="reset_form.password.$error" ng-if="reset_form.password.$dirty">
                                    <div ng-repeat="validation in VALIDATIONS.password" ng-message="{{validation.name}}">
                                        <span ng-if="validation.additional">
                                            <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                            {{ validation.message }}
                                        </span>
                                        <span ng-if="! validation.additional">{{ validation.message }}</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <div class="comment text-center text-small">
                                <!-- Text for this new password page -->
                            </div>
                        </fieldset>
                        <div class="card-action no-border text-right">
                            <md-button type="submit"
                                       id="changepwd"
                                       class="btn-w-sm md-primary"
                                       ng-disabled="reset_form.$invalid">Apply</md-button>
                        </div>
                    </form>
                    <div class="additional-info">
                        <span>© 2018 Zafira all rights reserved</span>
                        <br/>
                        <span id="versionInfo">server v.{{version.service}} | client v.{{version.client}}</span>
                    </div>
                </div>

                <div class="additional-background">
                    <div class="logo-container">
                        <div class="logo"></div>
                    </div>
                    <div class="robo-background">
                        <div class="text">
                            <div class="text__caption">Hooray! <br/> We have some new great features for you.</div>
                            <p> Now you are capable to track automation results in more profound way. Now you are capable to track automation results in more profound way. </p>
                        </div>
                        <div class="robot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


