<div class="page-change" ng-controller="AuthController">
        <div class="wrapper">
            <div class="main-body">
                    <div class="card bg-white">
                        <div class="card-content">
                            <section class="logo-container">
                                <img class="logo" ng-src="{{companyLogo.value}}">
                            </section>
    
                            <form name="reset_form" class="md-form-login form-validation" data-ng-submit="resetPassword(credentials);">
                                <fieldset>
                                    <md-input-container class="md-block">
                                        <label class="placeholder-label">New password</label>
                                        <input 
                                               type="password"
                                               name="password"
                                               id="password"
                                               password-eye="mousedown - mouseup"
                                               ng-model="credentials.password"
                                               ng-minlength="8" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9_@!]+$/"/>
                                        <div ng-messages="reset_form.password.$error" ng-if="reset_form.password.$dirty">
                                            <div ng-repeat="validation in VALIDATIONS.password" ng-message="{{validation.name}}">
                                                <span ng-if="validation.additional">
                                                    <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                                    {{ validation.message }}
                                                </span>
                                                <span ng-if="! validation.additional">{{ validation.message }}</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <div layout="row" layout-align="center">
                                        <md-button type="submit"
                                                   id="changepwd"
                                                   class=" btn-w-md md-primary"
                                                   ng-disabled="reset_from.$invalid || confirmPwd != user.password">Apply</md-button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>      
                </div> 
        </div>

    <div>
        <div class="additional-background">
                <div class="text">
                    <p>Hooray! <br/> We have some new features for you.</p>
                    <p>Now you are capable to track automation results in more profound way: real-time test streaming and video recording.</p>
                </div>
                <div class="robot"></div>
            </div>
            <div class="additional-info">
                    <small>© 2018 Zafira all rights reserved</small>
                    <br/>
                    <small id="versionInfo">server v.{{version.service}} | client v.{{version.client}}</small>
            </div>
    </div>
</div>
    
    
