<div class="page-signin">
    <div class="wrapper">
        <div class="main-body">
            <div class="card bg-white">
                <div class="card-content">
                    <section class="logo-container">
                        <img class="logo" src="{{ companyLogo.value ? companyLogo.value : 'assets/images/background/company_logo_plug.svg' }}">
                    </section>

                    <form name="signin_form" class="md-form-login form-validation" data-ng-submit="signin(credentials); UtilService.untouchForm(signin_form)">
                        <div class="callout callout-danger" ng-if="!credentials.valid">
                            <p>Invalid credentials</p>
                        </div>

                        <fieldset>
                            <md-input-container class="md-block">
                                <label class="placeholder-label">Username</label>
                                <input
                                    type="text"
                                    name="username"
                                    id="username"
                                    required
                                    ng-model="credentials.username"/>
                                <div ng-messages="signin_form.username.$error" ng-if="signin_form.username.$dirty">
                                    <div ng-message="required">
                                        <span>Username required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label class="placeholder-label">Password</label>
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    required
                                    ng-model="credentials.password"/>
                                <div ng-messages="signin_form.password.$error" ng-if="signin_form.password.$dirty">
                                    <div ng-message="required">
                                        <span>Password required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </fieldset>
                        <div layout="row" class="button-container" layout-align="space-between">
                            <span class="additional-action">Forgot your password? <a class="additional-action__link" href="#!/password/forgot">Reset</a></span>
                            <md-button type="submit"
                                       id="signin"
                                       class="btn-w-sm md-primary signin"
                                       ng-disabled="signin_form.$invalid">Sign in</md-button>
                        </div>
                    </form>
                    <copyright></copyright>
                </div>

                <div class="additional-background">
                    <div class="logo-container">
                        <div class="logo"></div>
                    </div>
                    <robo></robo>
                </div>
            </div>
        </div>
    </div>
</div>
