<div class="page page-dashboard" data-ng-controller="MonitorsController">

    <div>
        <div class="row">
            <div class="col-lg-12">
                <h2 id="pageTitle" class="section-header">Monitors
                    <small id="itemsCount" data-ng-if="sr.totalResults">({{sr.totalResults}})</small>
                    <button id="search" class="md-button md-ink-ripple pull-right" type="button" ng-click="search();">
                        <b>Search</b>
                    </button>
                    <button id="clear" class="md-button md-warn md-ink-ripple pull-right" type="button" ng-click="reset(); UtilService.untouchForm(search_form);">
                        <b>Clear</b>
                    </button>
                </h2>
            </div>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right" has-any-permission="['MODIFY_MONITORS']">
            <md-fab-trigger>
                <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button id="newMonitor" aria-label="menu" class="md-fab md-raised md-fab-sm" ng-click="openMonitorDialog($event)">
                    <md-tooltip md-direction="top">New monitor</md-tooltip>
                    <span class="fa fa-plus"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div class="row" ng-if="blockView">
            <div class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-table-container>
                            <form ng-submit="search()" name="search_form">
                            <table class="table-hover" md-table zafira-background-theme="table">
                                <thead md-head style="position: parent;">
                                <tr md-row>
                                    <th md-column class="col-md-2">
                                        <md-input-container class="searchable" flex>
                                            <input id="searchName" type="text" ng-model="sc.name" name="name" placeholder="Name"/>
                                        </md-input-container>
                                    </th>
                                    <th md-column class="col-md-2">
                                        <md-input-container class="searchable" flex>
                                            <input id="searchURL" type="text" ng-model="sc.url" name="url" placeholder="URL"/>
                                        </md-input-container>
                                        <md-input-container class="searchable" flex>
                                            <input id="searchComment" type="text" ng-model="sc.comment" name="comment" placeholder="Comment"/>
                                        </md-input-container>
                                    </th>
                                    <th md-column class="col-md-1">
                                        Type
                                    </th>
                                    <th md-column class="col-md-2">
                                        <md-input-container class="searchable" flex>
                                            <input id="searchEnv" type="text" ng-model="sc.environment" name="env" placeholder="Environment"/>
                                        </md-input-container>
                                    </th>
                                    <th md-column class="col-md-2">
                                        Crone expression
                                    </th>
                                    <th md-column class="col-md-1">
                                        Expected code
                                    </th>
                                    <th md-column class="col-md-1" has-any-permission="['MODIFY_MONITORS']">
                                        Monitor enabled
                                    </th>
                                    <th md-column class="col-md-1" has-any-permission="['MODIFY_MONITORS']"  ng-if="monitors.length != 0"></th>
                                </tr>
                                <md-button type="submit" class="hide">Search</md-button>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="monitor in monitors | orderBy:['success', 'name']">
                                    <td md-cell class="col-md-2">
                                        <i name="monitorStatus" ng-class="{'highlight_green': monitor.success, 'highlight_red': !monitor.success, 'highlight_gray': !monitor.monitorEnabled}" class="material-icons material-icon-16px">fiber_manual_record</i>
                                        <b name="monitorName">{{monitor.name}}</b>
                                    </td>
                                    <td name="monitorUrl" md-cell class="col-md-2">{{monitor.url}}</td>
                                    <td name="monitorType" md-cell class="col-md-1">{{monitor.type}}</td>
                                    <td name="monitorEnv" md-cell class="col-md-2"><span class="label label-default">{{monitor.environment}}</span></td>
                                    <td name="monitorCron" md-cell class="col-md-2">{{monitor.cronExpression}}</td>
                                    <td name="monitorCode" md-cell class="col-md-1">{{monitor.expectedCode}}</td>
                                    <td md-cell class="col-md-1" has-any-permission="['MODIFY_MONITORS']">
                                        <md-switch name="monitorEnabled" style="margin: 0; padding: 0" class="md-primary" ng-change="updateMonitor(monitor, false)" ng-model="monitor.monitorEnabled" aria-label="notif-switch"></md-switch>
                                    </td>
                                    <td md-cell class="col-md-1" has-any-permission="['MODIFY_MONITORS']" ng-if="monitors.length != 0">
                                        <div class="pull-right">
                                            <i name="editMonitor" data-ng-click="openMonitorDialog($event, monitor)" class="material-icons">edit</i>
                                        </div>
                                    </td>
                                </tr>
                                <tr md-row data-ng-if="monitors.length == 0">
                                    <td id="noData" md-cell colspan="7" class="text-center">No data</td>
                                </tr>
                                </tbody>
                            </table>
                            </form>
                        </md-table-container>
                        <md-table-pagination id="pagination" zafira-background-theme="pagination" ng-if="sr.results.length != 0" md-limit="sr.pageSize" md-limit-options=false md-page="sr.page" md-total="{{sr.totalResults}}" md-page-select=false md-boundary-links=true md-on-paginate="search"></md-table-pagination>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
