<div class="page page-dashboard" data-ng-controller="MonitorsController">

    <div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-header">Monitors
                    <small data-ng-if="monitors.length">({{monitors.length}})</small>
                    <!--<md-button data-ng-if="monitors.length" data-ng-click="switchViewType()" style="float: right" class="md-fab md-primary md-mini" aria-label="view type">
                        <i ng-class="{'fa fa-tasks': blockView, 'fa fa-th-large': !blockView}" aria-hidden="true"></i>
                    </md-button>-->
                </h2>
            </div>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right" has-any-permission="['MODIFY_MONITORS']">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm" ng-click="openMonitorDialog($event)">
                    <md-tooltip md-direction="top">New monitor</md-tooltip>
                    <span class="fa fa-plus"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div class="row" ng-if="blockView">
            <div class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-table-container>
                            <table class="table-hover" md-table zafira-background-theme="table">
                                <thead md-head style="position: parent;">
                                <tr md-row>
                                    <th md-column class="col-md-2">
                                        Monitor status
                                    </th>
                                    <th md-column class="col-md-2">
                                        Url
                                    </th>
                                    <th md-column class="col-md-2">
                                        Type
                                    </th>
                                    <th md-column class="col-md-2">
                                        Crone expression
                                    </th>
                                    <th md-column class="col-md-2">
                                        Expected code
                                    </th>
                                    <th md-column class="col-md-2" has-any-permission="['MODIFY_MONITORS']">
                                        Monitor enabled
                                    </th>
                                    <th md-column class="col-md-2" has-any-permission="['MODIFY_MONITORS']"></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="monitor in monitors | orderBy:'name'">
                                    <td md-cell class="col-md-2">
                                        <i ng-class="{'highlight_green': monitor.success, 'highlight_red': !monitor.success, 'highlight_gray': !monitor.monitorEnabled}" class="material-icons material-icon-16px">fiber_manual_record</i>
                                        <b>{{monitor.name}}</b>
                                    </td>
                                    <td md-cell class="col-md-2">{{monitor.url}}</td>
                                    <td md-cell class="col-md-2">{{monitor.type}}</td>
                                    <td md-cell class="col-md-2">{{monitor.cronExpression}}</td>
                                    <td md-cell class="col-md-2">{{monitor.expectedCode}}</td>
                                    <td md-cell class="col-md-2" has-any-permission="['MODIFY_MONITORS']">
                                        <md-switch style="margin: 0; padding: 0" class="md-primary" ng-change="updateMonitor(monitor, false)" ng-model="monitor.monitorEnabled" aria-label="notif-switch"></md-switch>
                                    </td>
                                    <td md-cell class="col-md-2" has-any-permission="['MODIFY_MONITORS']">
                                        <div class="pull-right">
                                            <i data-ng-click="openMonitorDialog($event, monitor)" class="material-icons">edit</i>
                                        </div>
                                    </td>
                                </tr>
                                <tr md-row data-ng-if="monitors.length == 0">
                                    <td md-cell colspan="7" class="text-center">No data</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card>
                </article>
            </div>
        </div>
        <!--<div class="row switch-view" ng-if="!blockView">
            <div class="col-md-12">
                <div class="col-md-4" data-ng-repeat="monitor in monitors | orderBy:'name'">
                    <div class="card bg-white">
                        <div style="min-height: 800px" class="card-content">
                            <i ng-class="{'highlight_green': monitor.success, 'highlight_red': !monitor.success, 'highlight_gray': !monitor.monitorEnabled}" class="material-icons material-icon-16px">fiber_manual_record</i>
                            <span class="card-title">
                                {{ monitor.name }}
                            </span>
                            <md-input-container style="float: right; margin: 0; padding: 0">
                                <md-switch style="margin: 0; padding: 0" class="md-primary" ng-change="updateMonitor(monitor, true)" ng-model="monitor.monitorEnabled" aria-label="notif-switch"></md-switch>
                            </md-input-container>
                            <div layout layout-sm="column" style="padding: 0">
                                <md-input-container flex>
                                    <label>Name</label>
                                    <input type="text" ng-model="monitor.name" required/>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" style="padding: 0">
                                <md-input-container flex>
                                    <label>URL</label>
                                    <input type="text" data-ng-model="monitor.url" required/>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" style="padding: 0">
                                <md-input-container flex>
                                    <md-select ng-model="monitor.type" name="type" placeholder="Type" ng-required>
                                        <md-option value="" disabled>Type</md-option>
                                        <md-option value="HTTP">HTTP</md-option>
                                        <md-option value="PING" disabled>Ping (Next feature)</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <md-radio-group id="httpMethods" ng-model="monitor.httpMethod" ng-if="isHttpBlockPresent(monitor)">
                                <md-radio-button class="checkbox-inline md-primary" value="POST">POST</md-radio-button>
                                <md-radio-button class="checkbox-inline md-primary" value="GET">GET</md-radio-button>
                                <md-radio-button class="checkbox-inline md-primary" value="PUT">PUT</md-radio-button>
                            </md-radio-group>
                            <div layout layout-sm="column" ng-if="isHttpBodyBlockPresent(monitor)" style="padding: 0">
                                <span>Body</span>
                                <md-input-container flex>
                                    <code-textarea id="requestBody" ng-model="monitor.requestBody" code-data="{{monitor.requestBody}}"></code-textarea>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" style="padding: 0">
                                <md-input-container flex>
                                    <label>Cron expression</label>
                                    <input name="value" type="text" data-ng-model="monitor.cronExpression" required/>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" style="padding: 0">
                                <md-input-container flex>
                                    <label>Expected code</label>
                                    <input name="value" type="number" data-ng-model="monitor.expectedCode" required/>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column">
                                <md-input-container style="float: right; margin-top: 0px">
                                    <md-switch style="margin-top: 0px" class="md-primary" ng-model="monitor.notificationsEnabled" aria-label="notif-switch">Enable notifications</md-switch>
                                </md-input-container>
                            </div>
                            <div layout layout-sm="column" style="padding: 0" ng-if="monitor.notificationsEnabled">
                                <md-input-container flex>
                                    <label ng-if="monitor.emailList">Recepients ({{monitor.emailList.length}})</label>
                                    <md-chips ng-model="monitor.emailList"
                                              filter-selected=true
                                              md-autocomplete-snap
                                              md-transform-chip="checkAndTransformRecipient($chip, monitor)"
                                              md-on-remove="removeRecipient($chip, monitor)"
                                              md-separator-keys="keys">
                                        <md-chip-template>
                                            {{$chip}}
                                        </md-chip-template>
                                        <md-autocomplete
                                            md-autoselect
                                            md-no-cache=true
                                            md-search-text="searchText"
                                            md-items="user in querySearch(searchText, monitor)"
                                            md-item-text="user.email"
                                            placeholder="add email">
                                            <md-item-template>
                                                <span>{{user.email}}</span>
                                            </md-item-template>
                                            <md-not-found>
                                                No users matching "{{searchText}}" were found.
                                            </md-not-found>
                                        </md-autocomplete>
                                    </md-chips>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="card-action text-right" style="border-top: none;">
                            <md-button ng-click="deleteMonitor(monitor.id)" class="md-raised btn-w-md md-warn">Delete</md-button>
                            <md-button ng-click="updateMonitor(monitor, false)" class="md-raised btn-w-md md-primary">Save</md-button><div class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
