<md-dialog flex="50" aria-label="User profile" zafira-background-theme="modal">
    <form class="form-validation" name="monitor_form" ng-submit="sendEmail(); UtilService.untouchForm(monitor_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle">Monitor</h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout layout-sm="column">
                    <md-input-container style="float: right; margin-top: 0px">
                        <md-switch style="margin: 0; padding: 0" class="md-primary" ng-model="monitor.monitorEnabled" aria-label="notif-switch">Enable monitor</md-switch>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Name</label>
                        <input md-maxlength="500" name="name" type="text" data-ng-model="monitor.name" required/>
                        <div ng-messages="monitor_form.name.$error">
                            <div ng-message="required">Name is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 500 characters long.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>URL</label>
                        <input md-maxlength="500" name="url" type="text" data-ng-model="monitor.url" required/>
                        <div ng-messages="monitor_form.url.$error">
                            <div ng-message="required">URL is required.</div>
                            <div ng-message="md-maxlength">The URL has to be less than 500 characters long.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <md-select ng-model="monitor.type" name="type" placeholder="Type" ng-required>
                            <md-option value="" disabled>Type</md-option>
                            <md-option value="HTTP">HTTP</md-option>
                            <md-option value="PING" disabled>Ping (Next feature)</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-radio-group id="httpMethods" ng-model="monitor.httpMethod" ng-if="isHttpBlockPresent(monitor)">
                    <md-radio-button id="post" class="checkbox-inline md-primary" value="POST">POST</md-radio-button>
                    <md-radio-button id="get" class="checkbox-inline md-primary" value="GET">GET</md-radio-button>
                    <md-radio-button id="put" class="checkbox-inline md-primary" value="PUT">PUT</md-radio-button>
                </md-radio-group>
                <div layout layout-sm="column" ng-if="isHttpBodyBlockPresent(monitor)">
                    <span>Body</span>
                    <md-input-container flex>
                        <code-textarea id="requestBody" ng-model="monitor.requestBody" code-data="{{monitor.requestBody}}"></code-textarea>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Environment</label>
                        <input md-maxlength="50" name="environment" type="text" data-ng-model="monitor.environment"/>
                        <div ng-messages="monitor_form.environment.$error">
                            <div ng-message="md-maxlength">The environment has to be less than 50 characters long.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Comment</label>
                        <textarea id="comment" name="comment" rows=10 class="textarea_border" data-ng-model="monitor.comment"></textarea>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Cron expression</label>
                        <input name="cron" type="text" data-ng-model="monitor.cronExpression" field-error="errorResponse" response-field="cronExpressionValid" required/>
                        <div ng-messages="monitor_form.cron.$error">
                            <div ng-message="required">Crone expression is required.</div>
                            <div ng-message="cronExpressionValid">Cron expression is invalid.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Expected code</label>
                        <input name="code" min="0" type="number" data-ng-model="monitor.expectedCode" required/>
                        <div ng-messages="monitor_form.code.$error">
                            <div ng-message="min">The code has to be greater than 0.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container style="float: right; margin-top: 0px">
                        <md-switch name="enableNotification" style="margin-top: 0px" class="md-primary" ng-model="monitor.notificationsEnabled" aria-label="notif-switch">Enable notifications</md-switch>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" ng-if="monitor.notificationsEnabled">
                    <md-input-container flex>
                        <label ng-if="monitor.emailList">Recepients ({{monitor.emailList.length}})</label>
                        <md-chips ng-model="monitor.emailList"
                                  filter-selected=true
                                  md-autocomplete-snap
                                  md-transform-chip="checkAndTransformRecipient($chip, monitor)"
                                  md-on-remove="removeRecipient($chip, monitor)"
                                  md-separator-keys="keys">
                            <md-chip-template name="chip">
                                {{$chip}}
                            </md-chip-template>
                            <md-autocomplete
                                md-autoselect
                                md-no-cache=true
                                md-search-text="searchText"
                                md-items="user in querySearch(searchText, monitor)"
                                md-item-text="user.email"
                                placeholder="add email">
                                <md-item-template name="suggestion">
                                    <span>{{user.email}}</span>
                                </md-item-template>
                                <md-not-found id="notRecipients">
                                    No users matching "{{searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </md-chips>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center" ng-if="checkSuccess != undefined" layout="row" ng-class="checkSuccess ? 'dialog-success-alert' : 'dialog-error-alert'" class="dialog-bottom-alert">
            <span layout="row" layout-align="center center" ng-if="checkSuccess">
                <span class="highlight_green">Success</span>
                <i style="margin-left: 10px" class="material-icons highlight_green">check</i>
            </span>
            <span layout="row" layout-align="center center" ng-if="!checkSuccess">
                <span class="highlight_red">Actual status: <span class="label label-default">{{ actualCode }}</span></span>
                <i style="margin-left: 20px" class="material-icons highlight_red">error_outline</i>
            </span>
        </md-dialog-actions>
        <md-dialog-actions layout="row">
            <md-button id="refresh" ng-if="monitor.id" class="btn" data-ng-click="checkMonitor(false)" data-ng-disabled="monitor_form.$invalid">
                Refresh monitor
            </md-button>
            <md-button id="test" ng-if="!monitor.id || ! monitor_form.$pristine" class="btn" data-ng-click="checkMonitor(true)" data-ng-disabled="monitor_form.$invalid">
                Test monitor
            </md-button>
            <span flex></span>
            <md-button id="create" ng-if="!monitor.id" class="btn btn-primary" data-ng-click="createMonitor()" data-ng-disabled="monitor_form.$invalid">
                Create
            </md-button>
            <md-button id="save" ng-if="monitor.id" class="md-raised btn-w-md md-primary" data-ng-click="updateMonitor(monitor, false);" data-ng-disabled="monitor_form.$invalid">
                Save
            </md-button>
            <md-button id="delete" ng-if="monitor.id" class="md-raised btn-w-md md-warn" data-ng-click="deleteMonitor(monitor.id);" data-ng-disabled="monitor_form.$invalid">
                Delete
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
