<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<profiles>
    <profile>
        <id>zafira</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <zafira.service.version>1.0</zafira.service.version>
            <zafira.client.version>1.0</zafira.client.version>

            <zafira.url>http://localhost:8888</zafira.url>
            <zafira.ws.path>/zafira-ws</zafira.ws.path>
            <zafira.web.path>/zafira</zafira.web.path>

            <zafira.admin.username/>
            <zafira.admin.password/>
            
            <zafira.elasticsearch.url></zafira.elasticsearch.url>

            <zafira.db.jdbc.driverClass>org.postgresql.Driver</zafira.db.jdbc.driverClass>
            <zafira.db.jdbc.url>jdbc:postgresql://{host}:{port}/postgres</zafira.db.jdbc.url>
            <zafira.db.jdbc.user>{user}</zafira.db.jdbc.user>
            <zafira.db.jdbc.password>{password}</zafira.db.jdbc.password>
            <zafira.db.c3p0.maxPoolSize>100</zafira.db.c3p0.maxPoolSize>

            <zafira.ldap.protocol>ldap</zafira.ldap.protocol>
            <zafira.ldap.server>localhost</zafira.ldap.server>
            <zafira.ldap.port>636</zafira.ldap.port>
            <zafira.ldap.dn/>
            <zafira.ldap.search_filter>sAMAccountName</zafira.ldap.search_filter>
            <zafira.ldap.manager.user/>
            <zafira.ldap.manager.password/>
        </properties>
    </profile>
</profiles>
</settings>
