<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<profiles>
    <profile>
        <id>zafira</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <zafira.multitenant>false</zafira.multitenant>

            <zafira.service.version>1.0</zafira.service.version>
            <zafira.client.version>1.0</zafira.client.version>

            <zafira.url>http://localhost:8888</zafira.url>
            <zafira.ws.path>/zafira-ws</zafira.ws.path>
            <zafira.web.path>/zafira</zafira.web.path>

            <zafira.admin.username/>
            <zafira.admin.password/>
            
            <zafira.management.admin.username></zafira.management.admin.username>
            <zafira.management.admin.password></zafira.management.admin.password>

            <zafira.jwt.secret>AUwMLdWFBtUHVgvjFfMmAEadXqZ6HA4dKCiCmjgCXxaZ4ZO8od</zafira.jwt.secret>
            <zafira.crypto_salt>TDkxalR4T3EySGI0T0YyMitScmkxWDlsUXlPV2R4OEZ1b2kyL1VJeFVHST0=</zafira.crypto_salt>

            <zafira.elasticsearch.url></zafira.elasticsearch.url>
            <zafira.elasticsearch.user></zafira.elasticsearch.user>
            <zafira.elasticsearch.pass></zafira.elasticsearch.pass>

            <zafira.redis.host>localhost</zafira.redis.host>
            <zafira.redis.port>6379</zafira.redis.port>

            <zafira.rabbitmq.host>localhost</zafira.rabbitmq.host>
            <zafira.rabbitmq.port>5672</zafira.rabbitmq.port>
            <zafira.rabbitmq.user>guest</zafira.rabbitmq.user>
            <zafira.rabbitmq.pass>guest</zafira.rabbitmq.pass>
            <zafira.rabbitmq.stomp.host>localhost</zafira.rabbitmq.stomp.host>
            <zafira.rabbitmq.stomp.port>61613</zafira.rabbitmq.stomp.port>

            <zafira.db.jdbc.driverClass>org.postgresql.Driver</zafira.db.jdbc.driverClass>
            <zafira.db.jdbc.url>jdbc:postgresql://{host}:{port}/postgres</zafira.db.jdbc.url>
            <zafira.db.jdbc.user>{user}</zafira.db.jdbc.user>
            <zafira.db.jdbc.password>{password}</zafira.db.jdbc.password>
            <zafira.db.c3p0.maxPoolSize>100</zafira.db.c3p0.maxPoolSize>
        </properties>
    </profile>
</profiles>
</settings>
