<div class="page page-dashboard" data-ng-controller="IntegrationsController">

    <div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-header">Integration tools
                    <small>({{settingTools.length}})</small>
                </h2>
            </div>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm"  data-ng-really-message="Do you really want to regenerate encrypt key? All values will be reencrypted!" data-ng-really-click="regenerateKey()">
                    <span class="fa fa-key"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" data-ng-repeat="tool in settingTools">
                    <div class="card bg-white">
                        <div class="card-content">
                            <i ng-class="{'highlight_red': !tool.isConnected && tool.isEnabled, 'highlight_green': tool.isConnected && tool.isEnabled, 'highlight_gray': !tool.isEnabled}" class="material-icons material-icon-16px">fiber_manual_record</i>
                            <span class="card-title">
                                {{ tool.name }}
                                <!--<i ng-class="{'jira-icon': tool.name == 'JIRA', 'slack-icon': tool.name == 'SLACK'}"></i>-->
                            </span>
                            <md-input-container style="float: right; margin-top: 0px">
                                <md-switch style="margin-top: 0px" class="md-primary" ng-model="tool.isEnabled" ng-change="switchEnabled(tool)" aria-label="integr-switch"></md-switch>
                            </md-input-container>

                            <div class="row col-lg-12" ng-repeat="setting in tool.settings">
                                <div class="col-lg-11" style="padding: 0">
                                    <md-input-container class="md-block" style="margin-bottom: 0">
                                        <label>{{ setting.name }}</label>
                                        <input type="text" ng-if="!isPasswordSetting(tool.name, setting)" ng-model="setting.value" ng-disabled="!tool.isEnabled" >
                                        <input type="password" ng-if="isPasswordSetting(tool.name, setting)" ng-model="setting.value" ng-disabled="!tool.isEnabled" >
                                    </md-input-container>
                                </div>
                                <div class="col-lg-1" style="padding: 0; margin-bottom: 0" data-ng-if="setting.name != 'SLACK_WEB_HOOK_URL'">
                                    <md-input-container class="md-block">
                                        <label></label>
                                        <md-button data-ng-if="tool.name == 'SLACK'" ng-click="deleteSetting(setting, tool)" class=" btn-w-md md-active" style="min-width: 50px">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                            </span></md-button>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row col-lg-12" data-ng-if="tool.name == 'SLACK'">
                                <div class="col-lg-6" style="padding: 0">
                                    <md-input-container class="md-block">
                                        <label>NEW {{ tool.name }} SETTING</label>
                                        <input placeholder="SLACK_NOTIF_CHANNEL" type="text" class="form-control" data-ng-model="tool.newSetting.name" ng-disabled="!tool.isEnabled">
                                    </md-input-container>
                                </div>
                                <div class="col-lg-6" style="padding: 0">
                                    <md-input-container class="md-block">
                                        <label></label>
                                        <input placeholder="Value" type="text" class="form-control" data-ng-model="tool.newSetting.value" ng-disabled="!tool.isEnabled">
                                    </md-input-container>
                                </div>
                            </div>
                       </div>
                        <div class="card-action text-right">
                            <md-button data-ng-if="tool.name == 'SLACK'" ng-click="createSetting(tool)" class="md-raised btn-w-md md-active" ng-disabled="!tool.newSetting.name && !tool.newSetting.value || !tool.isEnabled">Add +</md-button><div class="divider"></div>
                            <md-button ng-click="saveTool(tool)" class="md-raised btn-w-md md-primary" ng-disabled="!tool.isEnabled">Save</md-button><div class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
