<div ng-controller="GroupControlsController">
    <md-button id="create" ng-click="createGroup(group); switchMode(false);" class="md-button md-primary md-ink-ripple pull-right" ng-disabled="group_form.$invalid" ng-if="createGroupMode && !group.id">
        Create
    </md-button>
    <md-button id="update" class="md-button md-primary md-ink-ripple pull-right" ng-disabled="group_form.$invalid" ng-click="updateGroup(group)" ng-if="group.id">
        Update
    </md-button>
    <md-button id="createGroup" class="md-button md-primary md-ink-ripple pull-right" ng-click="switchMode(true)" ng-if="!createGroupMode">
        Create group
    </md-button>
    <md-button id="cancel" class="md-button md-warn md-ink-ripple pull-right" ng-click="switchMode(false)" ng-if="createGroupMode">
        Cancel
    </md-button>
</div>
