<md-dialog flex="80" aria-label="User profile" zafira-background-theme="modal">
    <form class="form-validation" name="group_form" ng-submit="createGroup(group); switchMode(false); UtilService.untouchForm(group_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle"><span ng-if="! group.id">New</span><span ng-if="group.id">Edit</span> group</h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Name</label>
                            <input id="groupName" type="text" name="name" data-ng-model="group.name" required/>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Role</label>
                            <md-select id="groupRole" name="role" ng-model="group.role" required>
                                <md-option ng-repeat="role in roles" value="{{role}}">
                                    {{role}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="radioButtondemoMultiColumn">
                        <div ng-repeat="(key, value) in blocks" class="row checkbox-clear-inline" style="margin: 0">
                            <div flex layout='row' layout-padding layout-align="start center" >
                                <md-checkbox name="mainBlockCheckbox" class="md-primary main-checkbox" aria-label="Select All"
                                             ng-checked="isCheckedBlock(key)"
                                             md-indeterminate="isIndeterminateBlock(key)"
                                             ng-click="toggleAllPermissions(key)">
                                </md-checkbox>
                                <div flex style="max-width:200px;" class="text-capitalize">
                                    <h5>{{ key.split('_').join(' ') }}</h5>
                                </div>
                                <div flex="20" style="margin-top: 16px;" ng-repeat="permission in value.permissions">
                                    <md-checkbox ng-true-value="true" ng-false-value="false" ng-model="permission.value" aria-label="Block" class="md-primary"></md-checkbox>
                                    <span name="permissionName" class="text-capitalize">{{ permission.name.split('_').join(' ') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button id="create" type="submit" class="md-raised btn-w-md md-primary" ng-disabled="group_form.$invalid" ng-if="! group.id">
                Create
            </md-button>
            <md-button id="update" class="md-raised btn-w-md md-primary" ng-disabled="group_form.$invalid" ng-click="updateGroup(group)" ng-if="group.id">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
