<div class="groups-tab" ng-controller="GroupListController">
    <div>
        <div flex>
            <div data-ng-if="groups.length != 0" class="md-dialog-content ng-scope">
                <div class=" groups-tab_group ng-scope" layout="column" data-ng-repeat="group in groups | orderBy:'name'">
                    <div flex name="groupRole">
                        <b name="groupName" class="ng-binding">{{group.name}}</b>
                        <span ng-if="group.users.length" name="groupSize">contains {{group.users.length}} users</span>
                        <span ng-if="! group.users.length" name="groupSize">is empty</span>
                        <md-menu class="pull-right">
                            <md-button name="userMenu" aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                <md-icon class="material-icons">more_vert</md-icon>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button name="editGroup" data-ng-click="showGroupDialog($event, group);">
                                        <md-icon class="material-icons">settings</md-icon>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button name="deleteGroup" ng-really-click="deleteGroup(group)" ng-really-message="Do you really want to delete this group?">
                                        <md-icon class="material-icons">delete</md-icon>
                                        Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div flex>
                        <md-chips ng-model="group.users"
                                  class="photo-chip"
                                  md-require-match=true
                                  filter-selected=true
                                  md-autocomplete-snap
                                  md-on-add="addUserToGroup($chip, group)"
                                  md-on-remove="deleteUserFromGroup($chip, group)">
                            <md-chip-template name="chip">
                                <profile-photo ng-model="$chip.photoURL" size="40" auto-resize="false"></profile-photo>
                                {{$chip.username}}
                            </md-chip-template>
                            <md-autocomplete
                                md-search-text="searchText"
                                md-items="user in querySearch(searchText, group)"
                                md-item-text="user.username"
                                md-selected-item="selectedUser"
                                md-autoselect
                                md-no-cache="true"
                                placeholder="add user">
                                <md-item-template style="z-index: 10000;">
                                                   <span name="suggestion">
                                                       <profile-photo ng-model="user.photoURL" size="40"></profile-photo>
                                                       {{user.username}}
                                                   </span>
                                </md-item-template>
                                <md-not-found id="notRecipients">
                                    No users matching "{{searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </md-chips>
                    </div>
                    <hr>
                </div>
            </div>
            <div data-ng-if="groups.length == 0" class="ng-hide" align="center">No groups created</div>
        </div>
    </div>
</div>
