<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zafira.dbaccess.dao.mysql.TestCaseMapper">

	<insert id="createTestCase" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO TEST_CASES (USER_ID, TEST_SUITE_ID, TEST_CLASS, TEST_METHOD, INFO)
			VALUES (
				#{user.id},
			    #{testSuiteId},
				#{testClass},
				#{testMethod},
				#{info}
			)
		]]>
	</insert>

	<sql id="getTestCase">
		<![CDATA[
			SELECT
				TC.ID AS TEST_CASE_ID,
				TC.USER_ID AS TEST_CASE_USER_ID,
				TC.TEST_SUITE_ID AS TEST_CASE_TEST_SUITE_ID,
				TC.TEST_CLASS AS TEST_CASE_TEST_CLASS,
				TC.TEST_METHOD AS TEST_CASE_TEST_METHOD,
				TC.INFO AS TEST_CASE_INFO,
				TC.MODIFIED_AT AS TEST_CASE_MODIFIED_AT,
				TC.CREATED_AT AS TEST_CASE_CREATED_AT
			FROM
				TEST_CASES TC
		]]>
	</sql>

	<select id="getTestCaseById" resultMap="TestCaseResultMap">
		<include refid="getTestCase" />
		<![CDATA[
			WHERE TC.ID = #{id};
		]]>
	</select>

	<select id="getTestCaseByClassAndMethod" resultMap="TestCaseResultMap">
		<include refid="getTestCase" />
		<![CDATA[
			WHERE TC.TEST_CLASS = #{testClass} AND TC.TEST_METHOD = #{testMethod};
		]]>
	</select>

	<update id="updateTestCase">
		<![CDATA[
			UPDATE
			    TEST_CASES
			SET
				USER_ID = #{user.id},
				TEST_SUITE_ID = #{testSuiteId},
				TEST_CLASS = #{testClass},
			    TEST_METHOD = #{testMethod},
			    INFO = #{info}
			WHERE
			    ID = #{id}
		]]>
	</update>

	<sql id="deleteTestCase">
		<![CDATA[
			DELETE FROM TEST_CASES
			WHERE ID = #{id}
		]]>
	</sql>

	<delete id="deleteTestCase">
		<include refid="deleteTestCase" />
	</delete>

	<delete id="deleteTestCaseById">
		<include refid="deleteTestCase" />
	</delete>

	<resultMap type="com.zafira.dbaccess.model.TestCase" id="TestCaseResultMap" autoMapping="false">
		<id column="TEST_CASE_ID" property="id" />
		<result column="TEST_CASE_USER_ID" property="user.id" />
		<result column="TEST_CASE_TEST_SUITE_ID" property="testSuiteId" />
		<result column="TEST_CASE_TEST_CLASS" property="testClass" />
		<result column="TEST_CASE_TEST_METHOD" property="testMethod" />
		<result column="TEST_CASE_INFO" property="info" />
		<result column="TEST_CASE_MODIFIED_AT" property="modifiedAt" />
		<result column="TEST_CASE_CREATED_AT" property="createdAt" />
	</resultMap>

</mapper>
