<div class="page page-dashboard" data-ng-controller="DashboardController">

    <div id="dashboard_content">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-header" id="pageTitle">{{dashboard.title}}</h2>
            </div>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button id="deleteDashboard" aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="deleteDashboard(dashboard)" has-any-permission="['MODIFY_DASHBOARDS']">
                    <md-tooltip md-direction="top">Delete dashboard</md-tooltip>
                    <span class="fa fa-trash"></span>
                </md-button>
                <md-button id="updateWidgets" aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="startEditWidgets()" has-any-permission="['MODIFY_WIDGETS']">
                    <md-tooltip md-direction="top">Update widgets</md-tooltip>
                    <span class="fa fa-arrows-alt"></span>
                </md-button>
                <md-button id="sendByEmail" aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="showEmailDialog($event)">
                    <md-tooltip md-direction="top">Send by email</md-tooltip>
                    <span class="fa fa-envelope-o"></span>
                </md-button>
                <md-button id="updateDashboard" aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="showDashboardDialog($event, dashboard, false)" has-any-permission="['MODIFY_DASHBOARDS']">
                    <md-tooltip md-direction="top">Update dashboard</md-tooltip>
                    <span class="fa fa-cog"></span>
                </md-button>
                <md-button id="newDashboard" aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="showDashboardDialog($event, {}, true)" has-any-permission="['MODIFY_DASHBOARDS']">
                    <md-tooltip md-direction="top">New dashboard</md-tooltip>
                    <span class="fa fa-plus"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
	    <div class="row">
	         <div class="col-lg-12">
	         	<ul class="nav nav-pills">
					<md-button data-ng-class="{'md-raised md-primary': dashboard.active == true}" data-ng-repeat="dashboard in dashboards | orderBy:'position'"
							   data-ng-click="switchDashboard(dashboard.id)">
						{{dashboard.title}}
					</md-button>
	         	</ul>
	         </div>
	    </div>
	    <br/>
		<div class="row">
			<input type="hidden" id="dashboard_title" value="{{dashboard.title}}" />
            <div gridstack class="grid-stack" options="gridstackOptions"
                 on-change="" on-drag-start="" on-drag-stop="" on-resize-start="" on-resize-stop="" style="margin-bottom: 20px">
                <div class="grid-stack-item" data-gs-min-height="2" data-gs-min-width="2" ng-attr-id="widget-{{widget.id}}" data-ng-repeat="widget in dashboard.widgets" gridstack-item gs-item-x="widget.location.x" gs-item-y="widget.location.y"
                     gs-item-width="widget.location.width" gs-item-height="widget.location.height" on-item-added="" on-item-removed="">
                    <div class="panel panel-default grid-stack-item-content" zafira-background-theme="graph">
                        <div class="panel-heading">
                            {{widget.title}}
                            <i class="material-icons pull-right" data-ng-click="deleteDashboardWidget(widget)" has-any-permission="['MODIFY_WIDGETS']">delete</i>
                            <i class="material-icons pull-right" data-ng-click="showWidgetDialog($event, widget, false, dashboard)" has-any-permission="['MODIFY_WIDGETS']">edit</i>
                        </div>
                        <div align="center" class="panel-body" data-ng-class="{'graph-box' :  (widget.type == 'linechart' || widget.type == 'piechart')}">
                            <md-progress-circular class = "progress-circular_align" md-mode="indeterminate" md-diameter="31px" ng-if="isLoading && widget.data.dataset != 0"></md-progress-circular>
                            <div align="center center" class="text-center" data-ng-if="widget.data.dataset == 0 && widget.type != 'table'">
                                <span>No data</span>
                            </div>
                            <linechart data-ng-if="widget.type == 'linechart' && widget.data.dataset != 0" data="widget.data" options="widget.model"></linechart>
                             <div data-ng-if="widget.type == 'piechart'" class="pie-chart">
                                <pie-chart data="widget.data.dataset" options="widget.model"></pie-chart>
                             </div>
                             <div data-ng-if="widget.type == 'table'" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="pointer" data-ng-repeat="column in widget.model.columns" data-ng-click="changeSorting(widget, column)">
                                                {{column}}&nbsp;<i class="fa fa-sort"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="row in widget.data.dataset | orderObjectBy:widget.sort.column:widget.sort.descending">
                                            <td data-ng-repeat="column in widget.model.columns" data-ng-bind-html="asString(row[column])"></td>
                                        </tr>
                                        <tr class="text-center" data-ng-if="widget.data.dataset == 0">
                                            <td colspan="{{widget.model.columns.length}}">No data</td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="row" has-any-permission="['MODIFY_WIDGETS']">
		<div class="col-lg-12">
			<button id="createWidget" type="button" class="btn btn-primary btn-outline btn-lg btn-block" data-ng-click="showWidgetDialog($event, {model : '{}'}, true, dashboard)">Create new widget</button>
		</div>
	</div>
	<div class="row" has-any-permission="['MODIFY_WIDGETS']">
		<div class="col-md-12">
            <article class="article">
                <md-card class="no-margin-h">
                    <md-table-container>
                        <table class="table-hover" md-table>
                            <tbody md-body>
                            <tr md-row ng-repeat="widget in dashboard.widgets | orderBy : 'title'">
                                <td md-cell>{{widget.title}}</td>
                                <td md-cell>{{widget.type}}</td>
                                <td md-cell class="text-center">
                                    <button type="button" ng-disabled="true" class="btn btn-outline btn-primary btn-xs" data-ng-click="addDashboardWidget(widget)">Add widget to dashboard</button>
                                </td>
                                <td md-cell>
                                    <md-menu class="pull-right">
                                        <md-button aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                            <md-icon class="material-icons">more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="2">
                                            <md-menu-item>
                                                <md-button data-ng-click="showWidgetDialog($event, widget, false, dashboard)">
                                                    <md-icon class="material-icons">settings</md-icon>
                                                    Edit widget
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button data-ng-click="showWidgetDialog($event, widget, true, dashboard, currentUserId)">
                                                    <md-icon class="material-icons">content_copy</md-icon>
                                                    Copy widget
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button data-ng-click="deleteWidget($event, widget)">
                                                    <md-icon class="material-icons">delete</md-icon>
                                                    Delete widget
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </td>
                            </tr>

                            <tr md-row ng-repeat="widget in unexistWidgets | orderBy : 'title'">
                                    <td md-cell>{{widget.title}}</td>
                                    <td md-cell>{{widget.type}}</td>
                                    <td md-cell class="text-center">
                                    	<button type="button" class="btn btn-outline btn-primary btn-xs" data-ng-click="addDashboardWidget(widget)">Add widget to dashboard</button>
                                    </td>
                                   	<td md-cell>
                                        <md-menu class="pull-right">
                                            <md-button aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                <md-icon class="material-icons">more_vert</md-icon>
                                            </md-button>
                                            <md-menu-content width="2">
                                                <md-menu-item>
                                                    <md-button data-ng-click="showWidgetDialog($event, widget, false, dashboard)">
                                                        <md-icon class="material-icons">settings</md-icon>
                                                        Edit widget
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="showWidgetDialog($event, widget, true, dashboard, currentUserId)">
                                                        <md-icon class="material-icons">content_copy</md-icon>
                                                        Copy widget
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="deleteWidget($event, widget)">
                                                        <md-icon class="material-icons">delete</md-icon>
                                                        Delete widget
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
            </article>
        </div>
	</div>
</div>
