<div data-ng-controller="DashboardController">
    <div class="fixed-page-header">
        <div class="fixed-page-header-container">
            <div class="fixed-page-header-container_title" id="pageTitle">
                {{dashboard.title}}
            </div>
            <div class="fixed-page-header-container_options">
                <div>
                    <i class="material-icons" data-ng-if="tools['EMAIL']" ng-click="showEmailDialog($event);">
                        send
                        <md-tooltip md-direction="bottom">Send by email</md-tooltip>
                    </i>
                    <i class="material-icons hide-phone" has-any-permission="['MODIFY_WIDGETS']" ng-click="startEditWidgets();">
                        dashboard
                        <md-tooltip md-direction="bottom">Widget placement</md-tooltip>
                    </i>
                    <i class="material-icons hide-phone" has-any-permission="['MODIFY_DASHBOARDS']" ng-click="showDashboardDialog($event, dashboard, false);">
                        settings
                        <md-tooltip md-direction="bottom">Edit dashboard</md-tooltip>
                    </i>
                    <md-menu class="show-phone">
                        <i  data-ng-click="$mdMenu.open($event);" class="material-icons">more_vert</i>
                        <md-menu-content width="2">
                            <md-menu-item has-any-permission="['MODIFY_WIDGETS']">
                                <md-button data-ng-click="startEditWidgets();">
                                    <md-icon class="material-icons">dashboard</md-icon>
                                    Widget placement
                                </md-button>
                            </md-menu-item>
                            <md-menu-item has-any-permission="['MODIFY_DASHBOARDS']">
                                <md-button data-ng-click="showDashboardDialog($event, dashboard, false);">
                                    <md-icon class="material-icons">settings</md-icon>
                                    Edit dashboard
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
            <div class="fixed-page-header-container_button hide-phone">
                <button has-any-permission="['MODIFY_DASHBOARDS']" ng-click="showDashboardDialog($event, {}, true);">
                    <md-icon class="material-icons">add</md-icon>
                    <span>Add dashboard</span>
                </button>
            </div>
        </div>
    </div>
    <div id="dashboard_content" class="page page-dashboard">
        <md-fab-trigger id="main-fab" has-any-permission="['MODIFY_WIDGETS']">
            <md-button id="createWidget" aria-label="menu" class="md-fab md-primary" data-ng-click="showWidgetDialog($event, {model : '{}'}, true, dashboard);">
                <md-tooltip md-direction="top">New widget</md-tooltip>
                <md-icon>add</md-icon>
            </md-button>
        </md-fab-trigger>
	    <div class="row">
	         <div class="col-lg-12">
	         	<ul class="nav nav-pills">
					<md-button data-ng-class="{'md-raised md-primary': dashboard.active == true}" data-ng-repeat="dashboard in dashboards | orderBy:'position' track by dashboard.id"
							   data-ng-click="switchDashboard(dashboard.id)">
						{{dashboard.title}}
					</md-button>
	         	</ul>
	         </div>
	    </div>
	    <br/>
		<div class="row">
			<input type="hidden" id="dashboard_title" value="{{dashboard.title}}" />
            <div gridstack class="grid-stack" options="gridstackOptions"
                 on-change="" on-drag-start="" on-drag-stop="" on-resize-start="" on-resize-stop="" style="margin-bottom: 20px">
                <div class="grid-stack-item show-on-hover" data-gs-min-height="2" data-gs-min-width="2" ng-attr-id="widget-{{widget.id}}" data-ng-repeat="widget in dashboard.widgets track by widget.id" gridstack-item gs-item-x="widget.location.x" gs-item-y="widget.location.y"
                     gs-item-width="widget.location.width" gs-item-height="widget.location.height" on-item-added="" on-item-removed="">
                    <input type="hidden" ng-attr-id="widget-title-{{ widget.id }}" value="{{widget.title}}" />
                    <div ng-attr-id="widget-container-{{ widget.id }}" class="panel panel-default grid-stack-item-content" zafira-background-theme="graph">
                        <div class="panel-heading">
                            {{widget.title}}
                            <span class="show-icon-on-hover pull-right">
                                <i class="material-icons widget-icon hide-phone" data-ng-if="tools['EMAIL']" data-ng-click="showEmailDialog($event, widget.id)">
                                    send
                                    <md-tooltip md-direction="top">Send by email</md-tooltip>
                                </i>
                                <i class="material-icons widget-icon hide-phone" data-ng-click="showWidgetDialog($event, widget, false, dashboard)" has-any-permission="['MODIFY_WIDGETS']">
                                    edit
                                    <md-tooltip md-direction="top">Edit widget</md-tooltip>
                                </i>
                                <i class="material-icons widget-icon hide-phone" data-ng-click="deleteDashboardWidget(widget)" has-any-permission="['MODIFY_WIDGETS']">
                                    delete
                                    <md-tooltip md-direction="top">Delete from dashboard</md-tooltip>
                                </i>
                                <md-menu class="show-phone">
                                    <i  data-ng-click="$mdMenu.open($event);" class="material-icons widget-icon">more_vert</i>
                                    <md-menu-content width="2">
                                        <md-menu-item data-ng-if="tools['EMAIL']">
                                            <md-button data-ng-click="showEmailDialog($event, widget.id);">
                                                <md-icon class="material-icons">send</md-icon>
                                                Send by email
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item has-any-permission="['MODIFY_WIDGETS']">
                                            <md-button data-ng-click="showWidgetDialog($event, widget, false, dashboard);">
                                                <md-icon class="material-icons">edit</md-icon>
                                                Edit widget
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item has-any-permission="['MODIFY_WIDGETS']">
                                            <md-button data-ng-click="deleteDashboardWidget(widget);">
                                                <md-icon class="material-icons">delete</md-icon>
                                                Delete from dashboard
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                            </md-menu>
                            </span>
                        </div>
                        <div data-ng-attr-id="{{ widget.id }}" align="center" class="panel-body" data-ng-class="{'graph-box' :  (widget.type == 'linechart' || widget.type == 'piechart')}">
                            <md-progress-circular class = "progress-circular_align" md-mode="indeterminate" md-diameter="31px" ng-if="isLoading && widget.data.dataset != 0"></md-progress-circular>
                            <div align="center center" class="text-center" data-ng-if="widget.data.dataset == 0 && widget.type != 'table'">
                                <span>No data</span>
                            </div>
                            <linechart data-ng-if="widget.type == 'linechart' && widget.data.dataset != 0" data="widget.data" options="widget.model"></linechart>
                             <div data-ng-if="widget.type == 'piechart'" class="pie-chart">
                                <pie-chart data="widget.data.dataset" options="widget.model"></pie-chart>
                             </div>
                             <div data-ng-if="widget.type == 'table'" class="table-responsive">
                                <table  data-ng-attr-id="table-{{ widget.id }}" class="table table-striped table-bordered table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="pointer" data-ng-repeat="column in widget.model.columns track by $index" data-ng-click="changeSorting(widget, column)">
                                                {{column}}&nbsp;<i class="fa fa-sort"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-init="optimizeWidget(widget, rowIndex)" data-ng-repeat="(rowIndex, row) in widget.data.dataset | orderObjectBy:widget.sort.column:widget.sort.descending track by $index">
                                            <td ng-switch="isFormatted(row[column]);" data-ng-repeat="column in widget.model.columns track by $index">
                                                <span ng-switch-when="true" data-ng-bind-html="asString(row[column])"></span>
                                                <span ng-switch-default>{{row[column]}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-init="optimizeWidget(widget)" class="text-center" data-ng-if="widget.data.dataset == 0">
                                            <td colspan="{{widget.model.columns.length}}">No data</td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="page page-dashboard widget-block">
        <div class="row" has-any-permission="['MODIFY_WIDGETS']">
            <div class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-table-container>
                            <table class="table-hover" md-table>
                                <tbody md-body>
                                <tr md-row ng-repeat="widget in dashboard.widgets | orderBy : 'title' track by widget.id">
                                    <td md-cell>{{widget.title}}</td>
                                    <td md-cell>{{widget.type}}</td>
                                    <td md-cell class="text-center">
                                        <button type="button" ng-disabled="true" class="btn btn-outline btn-primary btn-xs" data-ng-click="addDashboardWidget(widget)">Add widget to dashboard</button>
                                    </td>
                                    <td md-cell>
                                        <md-menu class="pull-right">
                                            <md-button aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                <md-icon class="material-icons">more_vert</md-icon>
                                            </md-button>
                                            <md-menu-content width="2">
                                                <md-menu-item>
                                                    <md-button data-ng-click="showWidgetDialog($event, widget, false, dashboard)">
                                                        <md-icon class="material-icons">settings</md-icon>
                                                        Edit widget
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="showWidgetDialog($event, widget, true, dashboard)">
                                                        <md-icon class="material-icons">content_copy</md-icon>
                                                        Copy widget
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="deleteWidget($event, widget)">
                                                        <md-icon class="material-icons">delete</md-icon>
                                                        Delete widget
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                                </tr>

                                <tr md-row ng-repeat="widget in unexistWidgets | orderBy : 'title' track by $index">
                                        <td md-cell>{{widget.title}}</td>
                                        <td md-cell>{{widget.type}}</td>
                                        <td md-cell class="text-center">
                                            <button type="button" class="btn btn-outline btn-primary btn-xs" data-ng-click="addDashboardWidget(widget)">Add widget to dashboard</button>
                                        </td>
                                        <td md-cell>
                                            <md-menu class="pull-right">
                                                <md-button aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                    <md-icon class="material-icons">more_vert</md-icon>
                                                </md-button>
                                                <md-menu-content width="2">
                                                    <md-menu-item>
                                                        <md-button data-ng-click="showWidgetDialog($event, widget, false, dashboard)">
                                                            <md-icon class="material-icons">settings</md-icon>
                                                            Edit widget
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button data-ng-click="showWidgetDialog($event, widget, true, dashboard)">
                                                            <md-icon class="material-icons">content_copy</md-icon>
                                                            Copy widget
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button data-ng-click="deleteWidget($event, widget)">
                                                            <md-icon class="material-icons">delete</md-icon>
                                                            Delete widget
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
