<md-dialog flex="50" aria-label="Widget modal" style="max-width:fit-content; min-width: 950px">
    <form class="form-validation" name="widget_form" ng-submit="UtilService.untouchForm(widget_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Widget settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Title</label>
                        <input type="text" ng-model="widget.title" name="title" required/>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <md-select ng-model="widget.type" name="type" placeholder="Type" ng-required>
                            <md-option value="" disabled>Type</md-option>
                            <md-option value="linechart">Line chart</md-option>
                            <md-option value="piechart">Pie chart</md-option>
                            <md-option value="table">Table</md-option>
                            <md-option value="sql">SQL</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-progress-circular md-mode="indeterminate" md-diameter="31px" ng-if="isLoading" style="left:50%"></md-progress-circular>
                <div data-ng-if="widget.data" align="center" class="panel-body" data-ng-class="{'graph-box' :  (widget.type == 'linechart' || widget.type == 'piechart')}">
                    <div layout layout-sm="column" class="pull-right">
                        <i data-ng-click="closeWidget(widget)" data-ng-if="showWidget" class="fa fa-window-close"></i>
                    </div>
                    <linechart data-ng-if="widget.type == 'linechart'" data="widget.data" options="widget.model"></linechart>
                    <div data-ng-if="widget.type == 'piechart'" class="pie-chart">
                        <pie-chart data="widget.data.dataset" options="widget.model"></pie-chart>
                    </div>
                    <div data-ng-if="widget.type == 'table'" class="table-responsive" style="max-height: 350px; max-width: 1300px">
                        <table class="table table-striped table-bordered table-hover" style="width: 100%;">
                            <thead>
                            <tr>
                                <th class="pointer" data-ng-repeat="column in widget.model.columns" data-ng-click="changeSorting(column)">
                                    {{column}}&nbsp;<i class="fa fa-sort"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="row in widget.data.dataset | orderBy:sort.column:sort.descending">
                                <td data-ng-repeat="column in widget.model.columns" data-ng-bind-html="asString(row[column])" data-ng-style="widget.model.columns.length > 1 && {'max-width': '500px'}"></td>
                            </tr>
                            <tr class="text-center" data-ng-if="widget.data.dataset == 0">
                                <td colspan="{{widget.model.columns.length}}">No data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div layout layout-sm="column">
                    <label>SQL</label>
                    <md-input-container flex>
                        <code-textarea id="sql" ng-model="widget.sql" code-data="{{widget.sql}}" code-class="sql"></code-textarea>
                        <!--<textarea class="code" data-ng-model="widget.sql" rows="15" required></textarea>-->
                    </md-input-container>
                </div>
                <div layout layout-sm="column" data-ng-if="'sql' != widget.type">
                    <label>Model</label>
                    <md-input-container flex>
                        <code-textarea id="model" ng-model="widget.model" code-data="{{widget.model}}"></code-textarea>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button data-ng-if="widget.id" type="submit"
                       class="md-raised btn-w-md md-warn" data-ng-click="deleteWidget(widget)">
                Delete
            </md-button>
            <md-button data-ng-if="isNew" type="submit"
                       class="md-raised btn-w-md md-primary"
                       ng-disabled="widget_form.$invalid" data-ng-click="createWidget(widget)">
                Create
            </md-button>
            <md-button data-ng-if="!isNew" type="submit"
                       class="md-raised btn-w-md md-primary"
                       ng-disabled="widget_form.$invalid" data-ng-click="updateWidget(widget)">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
