$modal-grey: #dfe3e5;
$modal-white: #ffffff;

.zf-modal-container {
    height: 680px !important;//69%;
    width: 880px !important;//61%;
    font-size: 0 !important;

    &_helper, &_content {
        display: inline-block;
        height: 100%;
        font-size: 12px;
        padding: 24px;
        float: left;
        @media (max-width: $screen-sm) {
            width: 100% !important;
            display: block;
        }
    }
    &_helper {
        width: 34%;
        background-color: $modal-white;
    }
    &_content {
        width: 66%;
        background-color: $modal-grey;
        padding-top: 30px;
    }

    .md-dialog-content {
        padding: 0;
        height: 100%;
        > * {
            height: 100%;
        }
    }
}


// Inputs
.zf-input-container {
    > input, > select, md-select {
        width: 272px;
        height: 34px;
        border-radius: 4px;
        background-color: $modal-white;
        border: 1px solid $modal-white;
        font-size: 14px;
        padding: 11px;

        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
            opacity: 0.5;
            font-weight: 500;
        }
    }
    md-select {
        padding: 0;
        md-select-value {
            border: none !important;
        }
    }
    md-input-container {
        margin: 0;
        padding: 0;
        &.md-input-has-value {
            label {
                display: none;
            }
        }
        md-select-value {
            > span {
                padding: 10px;
            }
        }
        &:not(.md-input-has-value) {
            md-select-value {
                > span {
                    color: #bfbfbf;
                }
            }
        }
    }
    md-checkbox {
        margin: 0;
        &.md-checked .md-icon {
            background-color: black;
        }
    }

    md-chips-wrap {
        box-shadow: none !important;
        padding: 0;
        padding-bottom: 8px;
        background-color: $modal-white;

        > md-chip {
            height: 24px;
            border-radius: 12px;
            margin-left: 8px;
            margin-right: 0;

            > .md-chip-content {
                line-height: 24px;
            }
            > .md-chip-remove-container {
                height: 24px;
                button {
                    height: 24px;
                    width: 24px;
                    md-icon {
                        min-width: 16px;
                        min-height: 16px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        > .md-chip-input-container {
            margin: 4px 0 0 8px !important;
            height: 24px;
        }
    }
}


.zf-button {
    display: inline-block;
    width: 140px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    letter-spacing: 0.1px;
    color: black;

    &:active {
        border: none;
    }
}

// Controls
.zf-button.zf-chip-button {
    width: 100% !important;
    min-width: 138px !important;
    height: 32px;
    border-radius: 16px;
    letter-spacing: 0.7px !important;
    color: $modal-white;
    background-color: $brand-light;

    i.material-icons {
        vertical-align: middle;
        font-size: 16px;
        padding: 0 5px;
    }
}

.zf-radio-button {
    position: relative;
    display: inline-block;
    width: 168px;
    height: 54px;
    margin-right: 8px;
    input[type = 'radio'] {
        display: none;
    }
    label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        > div {
            position: absolute;
            line-height: 43px;
            font-weight: normal;
            letter-spacing: normal;
            font-size: 13px;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
        }
        img {
            max-width: 30px;
            max-height: 30px;
            margin-right: 4px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $modal-grey;
            border: 1px solid #b9bec1;
            border-radius: 4px;
        }
    }
}

.zf-radio-button.zf-checked {
    label {
        &:before {
            background-color: #b9bec1;
        }
    }
}
