<md-dialog flex="50" aria-label="User profile">
    <form class="form-validation" name="build_now_form" ng-submit="buildNow(); UtilService.untouchForm(build_now_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Build now</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout layout-sm="column" data-ng-hide="isJobParametersLoaded" layout-align="space-around">
                    <md-input-container flex>
                        <div data-ng-hide="isJobParametersLoaded" layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </md-input-container>
                </div>
                <div data-ng-if="noValidJob" layout="row" layout-align="center center">
                    <small>Empty</small>
                </div>
                <div layout layout-sm="column" ng-repeat="jobParameter in jobParameters" data-ng-if="jobParameter.parameterClass != 'HIDDEN'">
                    <div data-ng-if="jobParameter.parameterClass == 'STRING'" class="raw">
                        <md-input-container flex >
                            <label>{{jobParameter.name}}<span data-ng-if="'ci_run_id' == jobParameter.name"> (new)</span></label>
                            <input ng-model="jobParameter.value" type="text" />
                        </md-input-container>
                    </div>
                    <div data-ng-if="jobParameter.parameterClass == 'BOOLEAN'" class="raw">
                        <label>{{jobParameter.name}}<span data-ng-if="'ci_run_id' == jobParameter.name"> (new)</span></label>
                        <md-input-container style="float: right; margin-top: 0" flex>
                            <md-switch style="margin-top: 0" class="md-primary" ng-model="jobParameter.value" ng-required aria-label="integr-switch"></md-switch>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit" data-ng-if="! noValidJob" class="btn btn-success" data-ng-disabled="build_now_form.$invalid">
                Build
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
