<zf-modal class="ci-runner-container">
    <zf-modal-helper-container class="ci-runner-container_helper">
        <div class="ci-runner-container_helper_title">Launcher</div>
        <div class="ci-runner-container_helper_choose">
            <button ng-click="addTemplate();" class="zf-button zf-chip-button">
                Add template
                <i class="material-icons">add_circle</i>
            </button>
            <div ng-if="launchers.length" class="ci-runner-container_helper_choose_or">or</div>
            <div ng-if="launchers.length" class="ci-runner-container_helper_choose_else">Choose Test Suite</div>
        </div>
        <div ng-if="launchers.length" class="ci-runner-container_helper_section">
            <div ng-repeat="l in launchers track by l.id" class="ci-runner-container_helper_section_item">
                <div class="ci-runner-container_helper_section_item_container">
                    {{l.name}}
                    <i ng-click="" class="material-icons">edit</i>
                </div>
            </div>
        </div>
    </zf-modal-helper-container>
    <zf-modal-content-container class="ci-runner-container_content" ng-if="cardNumber === 1">
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div>
            <zf-input-container>
                <input ng-model="launcher.name" placeholder="Title" autofocus ng-required/>
            </zf-input-container>
        </div>
        <div class="ci-runner-container_content_scm-connector">
            <div class="ci-runner-container_content_scm-connector_title">Select a Github repository</div>
            <div class="ci-runner-container_content_scm-connector_items">
                <zf-input-container>
                    <zf-radio-button ng-repeat="scm in scmAccounts track by $index" ng-model="launcher.scmAccount.name" value="scm.name">
                        <img ng-src="{{scm.avatarURL}}"/>
                        {{scm.name}}
                    </zf-radio-button>
                </zf-input-container>
            </div>
        </div>
        <div class="ci-runner-container_content_code" ng-cloak>
            <div id="aceEditor" class="ci-runner-container_content_code_editor" ui-ace="{{aceOptions}}" ng-model="launcher.model"></div>
        </div>
        <div class="ci-runner-container_content_actions">
            <md-button class="md-raised btn-w-md md-primary" ng-click="applyBuilder(launcher);"
                       ng-disabled="! launcher.model || ! launcher.model.isJsonValid(true) || ! launcher.name || ! launcher.scmAccount.name">
                Save
            </md-button>
        </div>
    </zf-modal-content-container>
    <zf-modal-content-container class="ci-runner-container_content" ng-if="cardNumber === 2">
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div class="ci-runner-container_content_title">
            {{launcher.name}}
        </div>
        <div class="ci-runner-container_content_builder" ng-repeat="item in jsonModel track by $index">
            <div class="ci-runner-container_content_builder_item" ng-if="item.type === 'text'">
                <zf-input-container>
                    <input ng-model="item.value" placeholder="{{item.name}}"/>
                </zf-input-container>
            </div>
            <div class="ci-runner-container_content_builder_item" ng-if="item.type === 'select'">
                <zf-input-container>
                    <md-input-container>
                        <label>{{item.name}}</label>
                        <md-select ng-model="item.default">
                            <md-option ng-repeat="val in item.value" ng-value="val">
                                {{val}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </zf-input-container>
            </div>
            <div class="ci-runner-container_content_builder_item" ng-if="item.type === 'checkbox'">
                <zf-input-container>
                    <md-checkbox ng-model="item.value" aria-label="checkbox">
                        {{item.name}}
                    </md-checkbox>
                </zf-input-container>
            </div>
            <div class="ci-runner-container_content_builder_item item-array" ng-if="item.type === 'array'">
                <zf-input-container>
                    <md-chips ng-model="item.value"
                              md-removable="true" placeholder="{{item.name}}">
                        <md-chip-template>
                            <strong>{{$chip}}</strong>
                        </md-chip-template>
                    </md-chips>
                </zf-input-container>
            </div>
            <div class="ci-runner-container_content_builder_description zf-{{item.type}}">
                {{item.description}}
            </div>
        </div>
        <div class="ci-runner-container_content_actions">
            <md-button class="md-raised btn-w-md md-primary" ng-click="applyBuilder();" ng-if="cardNumber === 1">
                Save
            </md-button>
            <md-button class="md-raised btn-w-md md-primary" ng-click="build();" ng-if="cardNumber === 2">
                Build
            </md-button>
        </div>
    </zf-modal-content-container>
    <zf-modal-content-container class="ci-runner-container_content" ng-if="cardNumber === 0">
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div class="ci-runner-container_content_title no-data">
            <span ng-if="launchers.length">Choose</span><span ng-if="! launchers.length">Add</span> template
        </div>
    </zf-modal-content-container>
    <!--<div class="row">
        <div class="col-lg-12">
            <div layout="column" ng-cloak class="md-inline-form">
                <div layout-padding>
                    <form class="form-validation" name="scm_form" ng-cloak>
                        <input type="button" ng-click="connectToGitHub();" value="Connect to GitHub"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div layout="column" ng-cloak class="md-inline-form ci-helper-container_select">
                <div layout-padding>
                    <form class="form-validation" name="scm_form" ng-cloak>
                        <md-input-container ng-if="organizations.length">
                            <md-select ng-change="getRepositories();" ng-model="scmAccount.organizationName">
                                <md-option value=""><em>Yourself</em></md-option>
                                <md-option ng-repeat="organization in organizations" ng-value="organization.name" class="ci-helper-container_select_option">
                                    <img ng-src="{{organization.avatarURL}}"/>
                                    {{organization.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="repositories.length">
                            <md-select ng-model="scmAccount.repositoryName">
                                <md-option ng-repeat="repository in repositories" ng-value="repository.name" class="ci-helper-container_select_option">
                                    <i ng-if="repository.private" class="material-icons">lock</i>
                                    <i ng-if="! repository.private" class="material-icons">lock_open</i>
                                    {{repository.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div layout="column" ng-cloak class="md-inline-form comment-modal-textarea-padding">
                <div layout-padding>
                    <form class="form-validation" name="editor_form" ng-cloak>
                        <div ui-ace="{{aceOptions}}" ng-model="text"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row ci-helper-container_builder">
        <div class="col-lg-12">
            <div layout="column" ng-cloak class="md-inline-form comment-modal-textarea-padding">
                <div layout-padding>
                    <form class="form-validation" name="builder_form" ng-cloak>
                        <div ng-repeat="(key, value) in jsonModel track by $index">
                            <div ng-if="getElement(value) === 'select';">
                                <label>{{key}}</label>
                                <select ng-model="ciOptions[key]">
                                    <option ng-repeat="val in value track by $index" value="{{val}}">{{val}}</option>
                                </select>
                            </div>
                            <div ng-if="getElement(value) === 'checkbox';">
                                <label>{{key}}</label>
                                <input type="checkbox" name="checkbox" ng-model="ciOptions[key]"/>
                            </div>
                            <div ng-if="getElement(value) === 'input';">
                                <label>{{key}}</label>
                                <input type="text" name="input" ng-model="ciOptions[key]">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>-->
</zf-modal>
