<zf-modal class="ci-runner-container">
    <zf-modal-helper-container class="ci-runner-container_helper" ng-if="cardNumber !== 3">
        <div class="ci-runner-container_helper_title hide-phone">Launcher</div>
        <div class="ci-runner-container_helper_title show-phone">Choose template</div>
        <div has-any-permission="['MODIFY_LAUNCHERS']" class="ci-runner-container_helper_choose hide-phone">
            <button ng-click="addTemplate();" class="zf-button zf-chip-button">
                <i class="material-icons">add_circle</i>
                Add template
            </button>
            <div ng-if="launchers.length" class="ci-runner-container_helper_choose_or">or choose from the list:</div>
        </div>
        <div ng-if="launchers.length" class="ci-runner-container_helper_section">
            <div ng-repeat="l in launchers | orderBy:'name' track by l.id" class="ci-runner-container_helper_section_item" ng-class="{'ci-runner-container_helper_section_item_selected': launcher.id === l.id}">
                <div ng-click="chooseLauncher(l);" class="ci-runner-container_helper_section_item_container hide-phone">
                    {{l.name}}
                </div>
                <div ng-click="chooseLauncherPhone(l);" class="ci-runner-container_helper_section_item_container show-phone">
                    {{l.name}}
                </div>
                <i ng-click="editLauncher(l);" has-any-permission="['MODIFY_LAUNCHERS']" class="material-icons hide-phone">edit</i>
            </div>
        </div>
        <div class="ci-runner-container_content_actions">
            <md-button class="md-raised btn-w-md md-primary" ng-click="applyBuilder(launcher, true);"
                       ng-disabled="! launcher.id">
                Next
            </md-button>
        </div>
    </zf-modal-helper-container>
    <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="cardNumber === 1">
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div>
            <zf-input-container>
                <label>Set name for template</label>
                <input ng-model="launcher.name" placeholder="Set name" autofocus ng-required/>
            </zf-input-container>
        </div>
        <div class="ci-runner-container_content_scm-connector">
            <div class="ci-runner-container_content_scm-connector_items">
                <zf-input-container class="clearfix">
                    <label>Add or select a Github repository</label>
                    <div class="ci-runner-container_content_scm-connector_items_add" ng-style="{'padding-right': states.addGitRepo ? '8px' : '0'}">
                        <button ng-click="addNewGithubRepo($event.target);" class="zf-button zf-square">
                            <i class="material-icons">add</i>
                        </button>
                        <span ng-if="states.addGitRepo">
                            <zf-input-container>
                                <md-input-container>
                                    <label>Organization</label>
                                    <md-select ng-model="scmAccount.organization" ng-change="getRepositories();" ng-disabled="! organizations.length">
                                        <md-option ng-repeat="organization in organizations track by $index" ng-value="organization">
                                            {{organization.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </zf-input-container>
                            <zf-input-container>
                                <md-input-container>
                                    <label>Repository</label>
                                    <md-select ng-model="scmAccount.repository" ng-disabled="! repositories.length">
                                        <md-option ng-repeat="repository in repositories track by $index" ng-value="repository">
                                            {{repository.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </zf-input-container>
                            <button class="md-add" md-no-ink ng-click="addScmAccount(scmAccount);" ng-disabled="">
                                Add
                            </button>
                        </span>
                    </div>
                    <div class="ci-runner-container_content_scm-connector_items_content">
                        <zf-radio-button ng-repeat="scm in scmAccounts track by $index" ng-model="launcher.scmAccountType" value="scm">
                            <img ng-src="{{scm.avatarURL}}"/>
                            <show-part text="scm.repositoryName" limit="12"></show-part>
                        </zf-radio-button>
                    </div>
                </zf-input-container>
            </div>
        </div>
        <div class="ci-runner-container_content_code" ng-cloak>
            <zf-input-container>
                <label>Paste code or choose a predefined one</label>
                <div id="aceEditor" class="ci-runner-container_content_code_editor" ui-ace="{{aceOptions}}" ng-model="launcher.model"></div>
                <md-input-container>
                    <label>Platform</label>
                    <md-select ng-change="mergeTemplate(DEFAULT_TEMPLATES.model.json);" ng-model="DEFAULT_TEMPLATES.model">
                        <md-option value=""></md-option>
                        <md-option ng-repeat="dt in DEFAULT_TEMPLATES.variants track by $index" ng-value="dt">{{dt.name}}</md-option>
                    </md-select>
                </md-input-container>
            </zf-input-container>
        </div>
        <div class="ci-runner-container_content_actions">
            <button ng-really-click="deleteLauncher(launcher.id);" ng-really-message="Do you really want to delete the launcher?" class="zf-button zf-warn zf-info" ng-if="launcher && launcher.id">
                Delete template
            </button>
            <md-button class="md-raised btn-w-md md-primary" ng-click="saveLauncher(launcher); applyBuilder(launcher);"
                       ng-disabled="! launcher.model || ! launcher.model.isJsonValid(true) || ! launcher.name || ! launcher.scmAccountType.id">
                Save
            </md-button>
        </div>
    </zf-modal-content-container>
    <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
    <zf-modal-content-container class="ci-runner-container_content" ng-if="cardNumber === 2 || cardNumber === 3">
        <div class="ci-runner-container_content_title">
            <show-part class="hide-phone" text="launcher.name" limit="40"></show-part>
            <show-part class="show-phone" text="launcher.name" limit="20"></show-part>
        </div>
        <div class="ci-runner-container_content_builder zf-display-table">
            <div class="ci-runner-container_content_builder_container builder-{{getType(item)}}" ng-repeat="(key, item) in jsonModel track by $index">
                <div class="zf-label">{{key}}</div>
                <div class="ci-runner-container_content_builder_container_item" ng-if="['string', 'int'].indexOf(getType(item)) !== -1">
                    <zf-input-container>
                        <input ng-attr-type="{{getType(item) === 'int' ? 'number' : 'text'}}" ng-model="builtLauncher[key]" placeholder="{{key}}"/>
                    </zf-input-container>
                </div>
                <div class="ci-runner-container_content_builder_container_item" ng-if="getType(item) === 'array'">
                    <zf-input-container>
                        <md-input-container>
                            <label>{{key}}</label>
                            <md-select ng-model="builtLauncher[key]">
                                <md-option ng-repeat="val in item" ng-value="val">
                                    {{val}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </zf-input-container>
                </div>
                <div class="ci-runner-container_content_builder_container_item" ng-if="getType(item) === 'boolean'">
                    <zf-input-container>
                        <md-checkbox ng-model="builtLauncher[key]" aria-label="checkbox"></md-checkbox>
                    </zf-input-container>
                </div>
            </div>
        </div>
        <div class="ci-runner-container_content_actions">
            <md-button class="zf-button zf-info" ng-click="navigateBack();" ng-if="cardNumber === 3">
                Back
            </md-button>
            <md-button class="md-raised btn-w-md md-primary" ng-click="build(launcher);" ng-disabled="! launcher.jobURL" ng-if="cardNumber === 2 || cardNumber === 3">
                Build
            </md-button>
            <div ng-if="! launcher.jobURL" class="ci-runner-container_content_actions_error">Launcher job is not configured, contact admin.</div>
        </div>
    </zf-modal-content-container>
    <zf-modal-content-container class="ci-runner-container_content hide-phone" ng-if="cardNumber === 0">
        <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
        <div class="ci-runner-container_content_title no-data">
            <span ng-if="launchers.length">Choose</span><span ng-if="! launchers.length">Add</span> template
        </div>
    </zf-modal-content-container>
</zf-modal>
