<md-dialog flex="50" aria-label="User profile" zafira-background-theme="modal">
    <form class="form-validation" name="email_form" ng-submit="sendEmail(); UtilService.untouchForm(email_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle">Email</h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" data-ng-if="textRequired">
                <div layout layout-sm="column">
                    <div class="form-group">
                        <md-input-container flex>
                            <label>Text</label>
                            <text-angular id="text" data-ng-model="email.text" options=""></text-angular>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="md-dialog-content">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Recepients ({{email.recipients.length}})</label>
                        <md-content class="md-padding autocomplete" layout="column" style="background-color: transparent">
                            <md-chips ng-model="users"
                                      class="photo-chip"
                                      filter-selected=true
                                      md-autocomplete-snap
                                      md-transform-chip="checkAndTransformRecipient($chip)"
                                      md-on-remove="removeRecipient($chip)"
                                      md-separator-keys="keys">
                                <md-chip-template name="chip">
                                    <profile-photo ng-model="$chip.photoURL" size="40" auto-resize="false"></profile-photo>
                                    {{$chip.email}}
                                </md-chip-template>
                                <md-autocomplete
                                        md-search-text="searchText"
                                        md-items="user in querySearch(searchText, users)"
                                        md-item-text="user.email"
                                        md-selected-item="currentUser"
                                        md-autoselect
                                        md-no-cache="true"
                                        placeholder="add email">
                                <md-item-template>
                                    <span name="suggestion">
                                        <profile-photo ng-model="user.photoURL" size="40"></profile-photo>
                                        {{user.email}}
                                    </span>
                                </md-item-template>
                                <md-not-found id="notRecipients">
                                    No users matching "{{searchText}}" were found.
                                </md-not-found>
                                </md-autocomplete>
                            </md-chips>
                        </md-content>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button id="send" class="btn btn-success" data-ng-click="sendEmail()" data-ng-disabled="email_form.$invalid">
                Send
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
