<div class="page page-profile" ng-controller="TestRunListController">
    <div class="row ui-section">
        <div class="col-lg-12 fixed-search-column">
            <h2 class="section-header">Test runs
                <small data-ng-if="sr">({{sr.totalResults}})</small>
                <button class="md-button md-ink-ripple pull-right" type="button"ng-click="search();">
                    <b>Search</b>
                </button>
                <button class="md-button md-warn md-ink-ripple pull-right" type="button" ng-click="reset(); UtilService.untouchForm(search_form);">
                    <b>Clear</b>
                </button>
            </h2>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right" has-any-permission="['MODIFY_TEST_RUNS', 'TEST_RUNS_CI']">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button data-ng-if="jenkinsEnabled" aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-really-message="Do you really want to rerun multiple test runs?" data-ng-really-click="batchRerun()" has-any-permission="['TEST_RUNS_CI']">
                    <md-tooltip md-direction="top">Rerun</md-tooltip>
                    <span class="fa fa-undo" aria-hidden="true"></span>
                </md-button>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm"  data-ng-really-message="Do you really want to delete multiple test runs?" data-ng-really-click="batchDelete()" has-any-permission="['MODIFY_TEST_RUNS']">
                    <md-tooltip md-direction="top">Delete</md-tooltip>
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </md-button>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm" ng-if="getLengthOfSelectedTestRuns() > 0" data-ng-really-message="Do you really want to abort multiple test runs?" data-ng-really-click="abortSelectedTestRuns()" has-any-permission="['TEST_RUNS_CI']">
                    <md-tooltip md-direction="top">Abort selected test runs</md-tooltip>
                    <span class="fa fa-ban" aria-hidden="true"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div class="col-md-12">
            <article class="article">
                <md-card class="no-margin-h">
                    <md-table-container>
                        <form ng-submit="search()" name="search_form">
                            <table md-table zafira-background-theme="table">
                                <thead md-head>
                                    <tr md-row>
                                          <th md-column>
                                    	   	   <md-input-container>
	                                        <md-checkbox class="md-secondary"
		                                   			aria-label="Select"
		                                   			data-ng-model="selectAll"
		                                   			data-ng-true-value="true"
		                                   			data-ng-false-value="false" ng-click="addToSelectedTestRunsAll()">
		                                   		</md-checkbox>
                                            </md-input-container>
                                    	   </th>
                                        <th md-column class="fixed-testrun-name-header">
                                            <md-input-container class="searchable select">
                                                <md-select ng-change="onChangeCriteria()" ng-model="sc.status" name="status" placeholder="Status">
                                                    <md-option value="" disabled>Status</md-option>
                                                    <md-option value="PASSED">PASSED</md-option>
                                                    <md-option value="FAILED">FAILED</md-option>
                                                    <md-option value="SKIPPED">SKIPPED</md-option>
                                                    <md-option value="ABORTED">ABORTED</md-option>
                                                    <md-option value="IN_PROGRESS">IN_PROGRESS</md-option>
                                                    <md-option value="UNKNOWN">UNKNOWN</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container class="searchable">
                                                <input ng-change="onChangeCriteria()" type="text" ng-model="sc.testSuite" name="testSuite" placeholder="Test suite"/>
                                            </md-input-container>
                                            <md-input-container class="searchable">
                                                <input ng-change="onChangeCriteria()" type="text" ng-model="sc.executionURL" name="jobURL" placeholder="Job URL"/>
                                            </md-input-container>
                                        </th>
                                        <th md-column>
                                            <md-input-container class="searchable select">
                                                <md-select ng-change="onChangeCriteria()" ng-model="sc.environment" name="environment" placeholder="Environment">
                                                    <md-option value="" disabled>Environment</md-option>
                                                    <md-option ng-repeat="env in environments" ng-value="env">{{env}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <span class="label" data-ng-class="{'label-blank': sc.reviewed == null, 'label-success': sc.reviewed == true, 'label-default': sc.reviewed == false}" data-ng-click="sc.reviewed = !sc.reviewed">R</span>
                                        </th>
                                        <th md-column>
                                            <md-input-container class="searchable select">
                                                <md-select ng-change="onChangeCriteria()" ng-model="sc.platform" name="platform" placeholder="Platform">
                                                    <md-option value="" disabled>Platform</md-option>
                                                    <md-option ng-repeat="platform in platforms" ng-value="platform">{{platform}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </th>
                                        <th md-column>
                                        	 <md-input-container class="searchable">
                                                <input ng-change="onChangeCriteria()" type="text" ng-model="sc.appVersion" name="appVersion" placeholder="App version"/>
                                          </md-input-container>
                                        </th>
                                        <th md-column>
                                            <span data-ng-if="selectedRange.dateStart == null && selectedRange.dateEnd == null">Date</span>
                                            <span data-ng-if="selectedRange.dateStart && selectedRange.dateEnd && !isEqualDate()">{{selectedRange.dateStart | date : 'dd MMM'}} - </span><span>{{selectedRange.dateEnd | date : 'dd MMM yyyy'}}</span>
                                            <md-button ng-click="pick($event, true)"><i class="material-icons md-18">today</i></md-button>
                                        </th>
                                    </tr>
                                    <md-button type="submit" class="hide">Search</md-button>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat-start="testRun in testRuns | orderObjectBy:'startedAt':true track by $index" ng-class="{'background-gray': testRun.selected}" class="result {{testRun.status}}">
                                        <td md-cell>
                                            <span ng-click="addToSelectedTestRuns(testRun)">
                                        		<md-checkbox class="md-secondary"
                                                    aria-label="Select"
                                                    data-ng-model="testRun.selected"
                                                    data-ng-if="testRun.selected || testRun.status != 'IN_PROGRESS'"
                                                    data-ng-true-value="true"
                                                    data-ng-false-value="false">
                                                </md-checkbox>
                                                <div ng-if="!testRun.selected && testRun.status == 'IN_PROGRESS'" data-ng-click="testRun.selected = true">
                                                    <md-progress-circular md-diameter="20px"></md-progress-circular>
                                                     <timer countdown="testRun.countdown" eta="testRun.eta" interval="1000" data-ng-if="testRun.countdown">
                                                         <small>{{progressBar}}%</small>
                                                     </timer>
                                                 </div>
                                            </span>
                                        </td>
                                        <td md-cell>
	                                         <b>
                                                  {{testRun.testSuite.name}}
                                                  <md-icon data-ng-if="testRun.comments" data-ng-click="showCommentsDialog(testRun, $event)" aria-label="Comments" aria-hidden="true" class="comments-area">comments</md-icon>
                                                  <span data-ng-if="testRun.reviewed" class="label label-success">R</span>
                                                  <md-tooltip md-direction="right">{{testRun.testSuite.fileName}}</md-tooltip>
                                             </b>
                                             <span data-ng-if="testRun.blocker" class="badge ng-binding bug-label-bg" alt="BLOCKERS">BLOCKERS</span>
                                           	<br/>
                                           	<a href="{{testRun.jenkinsURL}}" target="_blank">{{testRun.job.name}}</a>
                                           	<small><md-icon class="material-icons testrun-appversion-icon" data-ng-if="testRun.appVersion">insert_drive_file</md-icon>{{testRun.appVersion}}</small>
                                        </td>
                                        <td md-cell class="no-padding">
                                        	     <span class="label label-default">{{testRun.env}}</span>
	                                          <md-button aria-label="Show or hide tests" ng-click="switchTestRunExpand(testRun)" md-ink-ripple="false" class="md-icon-button no-padding expand-button">
	                                              <i data-ng-if="!testRun.expand" class="fa fa-angle-double-down expand-icon" aria-hidden="true"></i>
	                                              <i data-ng-if="testRun.expand" class="fa fa-angle-double-up expand-icon" aria-hidden="true"></i>
	                                          </md-button>
                                        </td>
                                        <td md-cell class="no-padding browser-version_column">
                                        	 <span data-ng-if="testRun.platform != ''" class="platform-icon {{testRun.platform}}"/>
                                             <span data-ng-if="testRun.platform == ''" class="platform-icon unknown"></span>
                                             <span data-ng-if="testRun.browserVersion">{{testRun.browserVersion}}</span>
                                        </td>
                                        <td md-cell class="fixed-testcount-column">
                                        	   <span title="Passed" class="label arrowed arrowed-in-right label-success-border" data-ng-class="testRun.passed ? 'label-success' : 'label-success-empty'">{{testRun.passed}}</span>
                                            <span title="Failed | Known issues | Blockers" class="label arrowed arrowed-in-right label-danger-border" data-ng-class="testRun.failed ? 'label-danger' : 'label-danger-empty'">{{testRun.failed}}<span> | {{testRun.failedAsKnown}}</span><span> | {{testRun.failedAsBlocker}}</span></span>
                                            <span title="Skipped" class="label arrowed arrowed-in-right label-warning-border" data-ng-class="testRun.skipped ? 'label-warning' : 'label-warning-empty'">{{testRun.skipped}}</span>
                                            <span title="In Progress" class="label arrowed arrowed-in-right label-info-border" data-ng-class="testRun.inProgress ? 'label-info' : 'label-info-empty'">{{testRun.inProgress}}</span>
                                        </td>
                                        <td md-cell class="startedat-column">
                                            <div class="time">
                                                Started
                                                <time am-time-ago="testRun.startedAt" title="{{ main.time | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
                                            </div>
                                            <div data-ng-if="testRun.elapsed && testRun.elapsed > 0" class="light_text">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i> <timer max-time-unit="'minute'" autostart="false" countdown="testRun.elapsed"><span ng-show="minutes">{{minutes}} minute{{minutesS}}</span> <span ng-show="!minutes">{{seconds}} second{{secondsS}}</span></timer>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <md-menu class="pull-right" md-offset="0 {{currentOffset}}">
                                                <md-button aria-label="User settings" class="md-icon-button" data-ng-click="initMenuRights(testRun); setOffset($event); $mdMenu.open($event);">
                                                    <md-icon class="material-icons">more_vert</md-icon>
                                                </md-button>
                                                <md-menu-content width="2" class="fixed-md-menu-content">
                                                    <md-menu-item>
                                                        <md-button data-ng-click="openTestRun(testRun)">
                                                            Open
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button data-ng-click="copyLink(testRun)">
                                                            Copy link
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item has-any-permission="['MODIFY_TEST_RUNS']">
                                                        <md-button data-ng-click="markAsReviewed(testRun)">
                                                            Mark as reviewed
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button data-ng-click="sendAsEmail(testRun, $event)">
                                                            Send as email
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button data-ng-click="export(testRun)">
                                                            Export
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-if="showNotifyInSlackOption" has-any-permission="['MODIFY_TEST_RUNS']">
                                                        <md-button data-ng-click="notifyInSlack(testRun)">
                                                            Notify in Slack
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-divider></md-divider>
                                                    <md-menu-item ng-if="showBuildNowOption" has-any-permission="['TEST_RUNS_CI']">
                                                        <md-button data-ng-click="buildNow(testRun, $event)">
                                                            Build now
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-if="testRun.status=='IN_PROGRESS'" has-any-permission="['TEST_RUNS_CI']">
                                                        <md-button data-ng-click="abort(testRun, $event)">
                                                            Abort
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item has-any-permission="['TEST_RUNS_CI']">
                                                        <md-button data-ng-click="rerun(testRun, $event)">
                                                            Rebuild
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item data-ng-hide="!rabbitmq.enabled || testRun.status != 'IN_PROGRESS'">
                                                        <md-button data-ng-click="showLogsDialog(testRun, null, $event)">
                                                            Live logs
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-divider has-any-permission="['MODIFY_TEST_RUNS']"></md-divider>
                                                    <md-menu-item ng-if="showDeleteTestRunOption" has-any-permission="['MODIFY_TEST_RUNS']">
                                                        <md-button data-ng-click="deleteTestRunAction(testRun)">
                                                            Delete
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </td>
                                    </tr>
                                    <tr ng-if="testRun.expand" ng-repeat-end="">
                                        <td md-cell colspan="7">
                                            <table md-table class="table">
                                                <thead md-head data-ng-hide="testRun.tests == null">
                                                    <tr md-row>
                                                        <th md-column class="row sort-new" colspan="4">
                                                             <div sort-item="{{reverse}}" class="pointer col-sm-2" data-ng-click="predicate = 'status'; reverse=!reverse">Status&nbsp;</div >
                                                        	    <div sort-item="{{reverse}}" class="pointer col-sm-2" data-ng-click="predicate = 'name'; reverse=!reverse">Title&nbsp;</div >
                                                       		<div sort-item="{{reverse}}" class="pointer col-sm-2" data-ng-click="predicate = 'owner'; reverse=!reverse">Owner&nbsp;</div >
                                                       		<div sort-item="{{reverse}}" class="pointer col-sm-2" data-ng-click="predicate = 'testConfig.device'; reverse=!reverse">Device&nbsp;</div >
                                                       		<div sort-item="{{reverse}}" class="pointer col-sm-2" data-ng-click="predicate = 'elapsed'; reverse=!reverse">Elapsed&nbsp;</div >
                                                       		<div sort-item="{{reverse}}" class="pointer col-sm-2" data-ng-click="predicate = 'startTime'; reverse=!reverse">Started&nbsp;</div >
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                		<tr data-ng-repeat="(id, test) in testRun.tests | orderObjectBy:predicate:reverse track by $index" ng-class="{'info {{::main.theme}}' : test.status == 'IN_PROGRESS', 'success {{::main.theme}}' : test.status == 'PASSED', 'danger {{::main.theme}}' : test.status == 'FAILED', 'warning {{::main.theme}}' : test.status == 'SKIPPED'}">
                                                        <td>
                                                        	<b>{{test.name}} <span data-ng-if="test.blocker" class="badge ng-binding bug-label-bg">BLOCKER</span></b>
                                                        	<div>
                                                                <span data-ng-if="test.finishTime && (test.finishTime - test.startTime)/1000 > 0" class="light_text"><i class="fa fa-clock-o" aria-hidden="true"></i> <timer autostart="false" countdown="(test.finishTime - test.startTime)/1000">{{minutes}} minute{{minutesS}} {{seconds}} second{{secondsS}}</timer></span>
                                                                <span data-ng-if="test.owner" class="light_text"></i> <i class="fa fa-user" aria-hidden="true"></i> {{test.owner}}</span>
                                                                <span data-ng-if="test.secondaryOwner" class="light_text"></i> <i class="fa fa-user" aria-hidden="true"></i> {{test.secondaryOwner}}</span>
                                                                <span data-ng-if="test.testConfig.device" class="light_text"></i> <i class="fa fa-mobile" aria-hidden="true"></i> {{test.testConfig.device}}</span>
                                                            </div>
                                                        	<div class="result_error {{test.status}} {{main.theme}}" data-ng-if="test.message && (test.status == 'FAILED' || test.status == 'SKIPPED')">
                                                                <div class="white-space-pre-line"><show-more element-id="test.id" text="test.message" limit="100" ></show-more></div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                        	<a href="" class="float_right label-success-empty clearfix" data-ng-if="test.status == 'FAILED' || test.status == 'SKIPPED'" data-ng-really-message="Do you really want to mark test run as passed?" data-ng-really-click="markTestAsPassed(test.id)" has-any-permission="['MODIFY_TESTS']">Mark as passed</a>
                                                            <a href="" class="float_right label-warning-empty clearfix" data-ng-if="test.status == 'FAILED' && test.knownIssue == false" data-ng-click="showKnownIssueDialog(test, true, $event)">Mark as known issue</a>
                                                            <a href="" class="float_right label-warning-empty clearfix" data-ng-if="test.status == 'FAILED' && test.knownIssue != false" data-ng-click="showKnownIssueDialog(test, false, $event)">Edit known issue</a>
                                                            <a href="" class="float_right label-primary-empty clearfix" data-ng-if="test.workItems.length==0 || (test.workItems.length==1 && test.workItems[0].type=='BUG')" data-ng-click="showAssignJiraTaskDialog(test, true, $event)">Assign task</a>
                                                            <a href="" class="float_right label-info-empty clearfix" data-ng-if="(test.workItems.length==1 && test.workItems[0].type=='TASK') || test.workItems.length==2" data-ng-click="showAssignJiraTaskDialog(test, false, $event)">Edit task</a>
                                                        </td>
                                                        <td class="text-center">
                                                            <span data-ng-repeat="issue in test.workItems">
                                                                <a href="{{jira.url + '/browse/' + issue.jiraId}}" target="_blank" data-ng-if="issue.type == 'TASK'" class="badge ng-binding clearfix task-label-bg">{{issue.jiraId}}</a>
                                                                <a href="{{jira.url + '/browse/' + issue.jiraId}}" target="_blank" data-ng-if="issue.type == 'BUG' && test.status == 'FAILED'" class="badge ng-binding clearfix bug-label-bg" alt="{{issue.description}}" title="{{issue.description}}">{{issue.jiraId}}</a>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <div data-ng-if="test.artifacts.length || (rabbitmq.enabled && testRun.status == 'IN_PROGRESS')" class="pull-right">
                                                            <md-menu>
                                                                <md-button aria-label="Test artifacts" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                                    <md-icon class="material-icons">attachment</md-icon>
                                                                </md-button>
                                                                <md-menu-content>
                                                                    <md-menu-item data-ng-repeat="artifact in test.artifacts">
                                                                        <md-button href="{{artifact.link}}" class="artifact-button" target="blank">{{artifact.name}}</md-button>
                                                                   </md-menu-item>
                                                                    <md-menu-item data-ng-if="rabbitmq.enabled && testRun.status == 'IN_PROGRESS'">
				                                                        <md-button data-ng-click="showLogsDialog(testRun, test, $event)">Live logs</md-button>
				                                                    </md-menu-item>
                                                                </md-menu-content>
                                                            </md-menu>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr md-row >
	                                                    <td md-cell colspan="4" class="text-center" data-ng-show="!testRun.tests" >
	                                                        <span>
	                                                            <md-progress-circular md-mode="indeterminate" md-diameter="20px" class="tests-loading-spinner"></md-progress-circular>
	                                                            Tests are loading...
	                                                        </span>
	                                                    </td>
	                                                </tr>
                                                    <tr data-ng-hide="!testRun.tests">
                                                        <td md-cell colspan="4" class="text-center">
                                                            <md-button aria-label="Hide tests" ng-click="switchTestRunExpand(testRun)" md-ink-ripple="false" class="md-icon-button no-padding expand-button close-expand-icon">
                                                                <i class="fa fa-angle-double-up expand-icon" aria-hidden="true"></i>
                                                            </md-button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr md-row data-ng-if="(testRuns | isEmpty)">
                                        <td md-cell colspan="7" class="text-center">No test runs</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </md-table-container>
                    <md-table-pagination zafira-background-theme="pagination" ng-if="sr.results.length" md-limit="sr.pageSize" md-limit-options=false md-page="sr.page" md-total="{{sr.totalResults}}" md-page-select=false md-boundary-links=true md-on-paginate="search"></md-table-pagination>
                </md-card>
            </article>
        </div>
    </div>
</div>
