<md-dialog flex="100" style="height: 100%;" aria-label="Code" zafira-background-theme="modal">
    <form class="form-validation" name="code_form" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 id="modalTitle">Live log</h2>
                <span flex></span>
                <md-button id="close" class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content id="logs_scroll">
            <div class="md-dialog-content">
                <md-input-container flex>
                		<div ng-repeat="log in logs track by $index"><small data-ng-class="{'text-warning': 'WARN' == log.level, 'text-danger': 'ERROR' == log.level}"><b>{{log.timestamp | date : 'hh:mm:ss'}}</b> [{{log.level}}] {{log.message}}</small></div>
                </md-input-container>
                <div ng-if="loading" style="display: flex; align-items: center;" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
