<md-dialog flex="50" aria-label="User profile" zafira-background-theme="modal">
    <form class="form-validation" name="task_form" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Assign Task</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Jira ID</label>
                            <input type="text" ng-pattern="/^[A-z]+-[0-9]+$/" class="form-control validation"
                                   data-ng-model="newTaskIssue.jiraId" data-ng-disabled="isFieldsDisabled"
                                   data-ng-change="onTaskChangeAction()" required
                                   placeholder="{{isConnectedToJira ? 'Connected' : 'Not connected'}} to JIRA"/>
                        </md-input-container>
                    </div>
                    <span class="danger" data-ng-show="! isJiraIdExists">'{{newTaskIssue.jiraId}}' not found</span>
                    <span class="danger" data-ng-show="isJiraIdClosed">'{{newTaskIssue.jiraId}}' closed</span>
                    <span data-ng-show="(!isDataLoaded || !isIssueFound) && isConnectedToJira"><md-progress-circular
                        md-mode="indeterminate" md-diameter="20"
                        style="position: absolute; right: 22px; top: 32px;"></md-progress-circular></span>
                </div>
                <div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Description</label>
                            <textarea class="form-control validation" rows="8" data-ng-model="newTaskIssue.description"
                                      data-ng-disabled="isFieldsDisabled" required></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button data-ng-if="isNewTask" class="btn btn-success" data-ng-click="assignWorkItem()"
                       data-ng-disabled="task_form.$invalid">
                Assign
            </md-button>
            <md-button data-ng-if="!isNewTask" class="btn btn-success" data-ng-click="assignWorkItem()"
                       data-ng-disabled="task_form.$invalid">
                Update
            </md-button>
            <md-button data-ng-if="!isNewTask" class="btn btn-warning" data-ng-click="deleteWorkItem()"
                       data-ng-disabled="task_form.$invalid">
                Delete
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
