<md-dialog flex="50" aria-label="User profile" zafira-background-theme="modal" class="modal-min-width">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 id="modalTitle">Test details</h2>
            <span flex></span>
            <md-button id="close" class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="query" ng-show="(!isIssueFound || !isTaskFound) && isConnectedToJira || issueTabDisabled || taskTabDisabled"></md-progress-linear>
    <md-dialog-content>
        <md-tabs md-border-bottom md-selected="selectedTabIndex" md-swipe-content class="test-details-dialog">
            <md-tab label="Status">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-lg-12">
                                <div class="col-lg-12 align-middle">
                                    <div class="col-lg-12 clearfix"> <h2 class="section-header">Test info</h2> </div>
                                </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body" zafira-background-theme="modal">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form">
                                                        <div layout-padding>
                                                            <form name="testForm">
                                                                <div layout layout-sm="column" class="upper-tab-row">
                                                                    <div class="col-lg-6">
                                                                        <span class="elment-with-label input-like-label">Test name</span>
                                                                        <span class="elment-with-label test-name">{{test.name}}</span>
                                                                        <span class="badge ng-binding bug-label-bg" data-ng-if="test.blocker">BLOCKER</span>
                                                                    </div>
                                                                    <div class="col-lg-3 align-middle" >
                                                                        <md-select ng-model="test.status" class="no-margin issue-element-container" placeholder="Status" ng-if="changeStatusIsVisible">
                                                                            <md-option ng-repeat="status in testStatuses" ng-value="status">
                                                                                {{status}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </div>
                                                                    <div class="col-lg-3 align-middle align-right">
                                                                        <div class="edit-label align-middle">Change status</div>
                                                                        <div>
                                                                            <md-button id="change" class="md-icon-button" ng-click="changeStatusIsVisible = !changeStatusIsVisible" has-any-permission="['MODIFY_TESTS']">
                                                                                <md-icon aria-label="Change status">edit</md-icon>
                                                                            </md-button>
                                                                        </div>
                                                                        <div>
                                                                            <a ng-class="{
                                                                            'label label-info label-font-size' : test.status == 'IN_PROGRESS',
                                                                            'label label-success label-font-size' : test.status == 'PASSED',
                                                                            'label label-danger label-font-size' : test.status == 'FAILED',
                                                                            'label label-warning label-font-size' : test.status == 'SKIPPED',
                                                                            'label label-default label-font-size' : test.status == 'UNKNOWN' || test.status == 'ABORTED'}">
                                                                                {{test.status}}
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div layout layout-sm="column" class="tab-row">
                                                                    <div class="col-lg-3">
                                                                        <span class="elment-with-label input-like-label" data-ng-if="test.finishTime && (test.finishTime - test.startTime)/1000 > 0">Elapsed time</span>
                                                                        <span class="elment-with-label light_text" data-ng-if="test.finishTime && (test.finishTime - test.startTime)/1000 > 0"><i class="fa fa-clock-o" aria-hidden="true"></i> <timer name="testFinishTime" autostart="false" countdown="(test.finishTime - test.startTime)/1000">{{minutes}} minute{{minutesS}} {{seconds}} second{{secondsS}}</timer></span>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <span class="elment-with-label input-like-label" data-ng-if="test.owner">Primary owner</span>
                                                                        <span class="elment-with-label light_text" id="testOwner" data-ng-if="test.owner"><i class="fa fa-user" aria-hidden="true"></i> {{test.owner}}</span>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <span class="elment-with-label input-like-label" data-ng-if="test.secondaryOwner">Secondary owner</span>
                                                                        <span class="elment-with-label light_text" id="secondaryOwner" data-ng-if="test.secondaryOwner"><i class="fa fa-user" aria-hidden="true"></i> {{test.secondaryOwner}}</span>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <span class="elment-with-label input-like-label" data-ng-if="test.testConfig.device">Device name</span>
                                                                        <span class="elment-with-label light_text" id="device" data-ng-if="test.testConfig.device"><i class="fa fa-mobile" aria-hidden="true"></i> {{test.testConfig.device}}</span>
                                                                    </div>
                                                                </div>
                                                                <div layout layout-sm="column" class="no-border issue-trace-label tab-row" data-ng-if="test.message" >
                                                                    <div class="input-like-label">Stacktrace</div>
                                                                </div>
                                                                <div layout layout-sm="column" class="no-border scrollable-tab" data-ng-if="test.message" >
                                                                    <div class="col-lg-12 issue-trace-area">
                                                                            <div class="white-space-pre-line">
                                                                                <show-more name="errorMsg" element-id="test.id" text="test.message" limit="100" ></show-more>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                                <md-dialog-actions layout="row">
                                                                    <md-input-container class="md-block">
                                                                        <md-button id="commens" class="md-icon-button comments-button"  ng-click="moveToTab(3)">
                                                                            <a class="comments-font-size" md-no-ink>Comments ({{testComments.length}})</a>
                                                                        </md-button>
                                                                        <md-button id="saveTest" class="md-raised btn-w-md md-primary" ng-disabled="currentStatus === test.status" ng-click="updateTest(test); currentStatus = test.status">
                                                                            Save
                                                                        </md-button>
                                                                    </md-input-container>
                                                                </md-dialog-actions>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Issues" ng-disabled="issueTabDisabled">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div layout layout-sm="row">
                                    <div class="col-lg-10 clearfix">
                                        <h2 class="section-header">Assign known issue</h2>
                                    </div>
                                    <div class="col-lg-2 clearfix align-middle align-right">
                                        <md-button id="refresh_issue" class="md-icon-button" ng-click="searchScopeIssue(newIssue)" ng-disabled="!isIssueFound">
                                            <md-icon aria-label="Add comment" class="md-18">cached</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body" zafira-background-theme="modal">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form scrollable-ticket-tab">
                                                        <div layout-padding>
                                                            <form class="form-validation" name="known_issue_form" ng-cloak>
                                                                <md-dialog-content>
                                                                    <div layout layout-sm="column" class="tab-row">
                                                                        <div class="col-lg-3">
                                                                            <span class="elment-with-label input-like-label">Status</span>
                                                                            <span ng-class="{
                                                                            'label label-danger' : newIssue.status == 'TO DO' || newIssue.status == 'OPEN' || newIssue.status == 'NOT ASSIGNED',
                                                                            'label label-info' : newIssue.status == 'IN PROGRESS',
                                                                            'label label-success' : newIssue.status == closedStatusName || newIssue.status == 'FIXED',
                                                                            'label label-warning' : newIssue.status == 'REOPENED',
                                                                            'label label-default' : issueStatusIsNotRecognized}"
                                                                               class="jira-status elment-with-label">
                                                                                <span>{{newIssue.status}}</span>
                                                                                <span class="label label-default jira-status elment-with-label" data-ng-hide="newIssue.status">N/A</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <span class="elment-with-label input-like-label">Assignee</span>
                                                                            <span class="elment-with-label">{{newIssue.assignee}}</span>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <span class="elment-with-label input-like-label">Reporter</span>
                                                                            <span class="elment-with-label">{{newIssue.reporter}}</span>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <span class="elment-with-label input-like-label">Blocker</span>
                                                                            <span class="elment-with-label">
                                                                            <md-checkbox id="blocker" aria-label="Blocker checkbox" ng-model="newIssue.blocker" class="no-margin no-padding no-border"></md-checkbox>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="tab-row">
                                                                        <div class="col-lg-3">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Jira ID</label>
                                                                                <input id="issueJiraId"
                                                                                       type="text"
                                                                                       ng-pattern="/^([A-z]+-[0-9]+|\d+)$/"
                                                                                       class="form-control validation"
                                                                                       data-ng-model="newIssue.jiraId"
                                                                                       data-ng-change="initIssueSearch()" required placeholder="{{ isConnectedToJira ? 'Connected' : 'Not connected'}} to JIRA"/>
                                                                            </md-input-container>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Summary</label>
                                                                                <textarea id="issueDescription" class="form-control validation" rows="1" data-ng-model="newIssue.description" required></textarea>
                                                                            </md-input-container>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="tab-row no-margin">
                                                                        <div class="callout callout-info no-margin issue-element-container" data-ng-show="!issueJiraIdExists && newIssue.jiraId">
                                                                            Issue {{newIssue.jiraId}} doesn't exist in
                                                                            Jira.
                                                                        </div>
                                                                        <div class="callout callout-danger no-margin issue-element-container" data-ng-show="isIssueClosed">
                                                                            Unable to assign closed issue.
                                                                        </div>
                                                                    </div>
                                                                </md-dialog-content>
                                                                <md-dialog-actions layout="row">
                                                                    <md-button id="unassignIssue" ng-if="!isNewIssue" class="md-raised btn-w-md md-warn" ng-really-message="Do you really want to delete known issue from current test run?" ng-really-click="unassignIssue(newIssue)"
                                                                               ng-disabled="known_issue_form.$invalid">
                                                                        Unassign
                                                                    </md-button>
                                                                    <md-button id="assignIssue" ng-if="isNewIssue" class="md-raised btn-w-md md-primary" ng-click="assignIssue(newIssue, isNewIssue)"
                                                                               ng-disabled="known_issue_form.$invalid || (!isIssueFound || isIssueClosed) && isConnectedToJira">
                                                                        Assign
                                                                    </md-button>
                                                                    <md-button id="updateIssue" ng-if="!isNewIssue" class="md-raised btn-w-md md-primary" ng-click="assignIssue(newIssue, isNewIssue)"
                                                                               ng-disabled="known_issue_form.$invalid || (!isIssueFound || isIssueClosed) && isConnectedToJira">
                                                                        Update
                                                                    </md-button>
                                                                </md-dialog-actions>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-12 issues-select-padding" >
                                    <md-sidemenu locked="true" >
                                        <md-sidemenu-group>
                                            <md-sidemenu-content md-heading="ATTACHED ISSUES ({{issues.length}})" md-arrow="true" data-ng-hide="issues.length == 0" ng-click="issueListIsVisible = !issueListIsVisible">
                                                <md-button class="md-sidemenu-button tickets-font" ng-if="issueListIsVisible" ng-repeat="issue in issues"
                                                           ng-click="searchScopeIssue(issue);$event.stopPropagation();">
                                                    <span id="knownIssue" >
                                                        <b class="settings-line">{{issue.jiraId}}</b> {{issue.description}}
                                                    </span>
                                                </md-button>
                                            </md-sidemenu-content>
                                        </md-sidemenu-group>
                                    </md-sidemenu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Tasks" ng-disabled="taskTabDisabled">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div layout layout-sm="row">
                                    <div class="col-lg-10 clearfix">
                                        <h2 class="section-header">Assign task</h2>
                                    </div>
                                    <div class="col-lg-2 clearfix align-middle align-right">
                                        <md-button id="refresh_task" class="md-icon-button" ng-click="initTaskSearch()" ng-disabled="!isTaskFound">
                                            <md-icon aria-label="Add comment" class="md-18">cached</md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body" zafira-background-theme="modal">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form scrollable-ticket-tab">
                                                        <div layout-padding>
                                                            <form class="form-validation" name="task_form" ng-cloak>
                                                                <md-dialog-content>
                                                                    <div layout layout-sm="column" class="tab-row">
                                                                        <div class="col-lg-3">
                                                                            <span class="elment-with-label input-like-label">Status</span>
                                                                            <span ng-class="{
                                                                            'label label-danger' : newTask.status == 'TO DO' || newTask.status == 'OPEN' || newTask.status == 'NOT ASSIGNED',
                                                                            'label label-info' : newTask.status == 'IN PROGRESS',
                                                                            'label label-success' : newTask.status == closedStatusName || newTask.status == 'FIXED',
                                                                            'label label-warning' : newTask.status == 'REOPENED',
                                                                            'label label-default' : issueStatusIsNotRecognized}"
                                                                                  class="jira-status elment-with-label">
                                                                                <span>{{newTask.status}}</span>
                                                                                <span class="label label-default jira-status elment-with-label" data-ng-hide="newTask.status">N/A</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <span class="elment-with-label input-like-label">Assignee</span>
                                                                            <span class="elment-with-label">{{newTask.assignee}}</span>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <span class="elment-with-label input-like-label">Reporter</span>
                                                                            <span class="elment-with-label">{{newTask.reporter}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="tab-row">
                                                                        <div class="col-lg-3">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Jira ID</label>
                                                                                <input id="taskJiraId"
                                                                                       type="text"
                                                                                       ng-pattern="/^([A-z]+-[0-9]+|\d+)$/"
                                                                                       class="form-control validation"
                                                                                       data-ng-model="newTask.jiraId"
                                                                                       data-ng-change="initTaskSearch()" required
                                                                                       placeholder="{{isConnectedToJira ? 'Connected' : 'Not connected'}} to JIRA"/>
                                                                            </md-input-container>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Summary</label>
                                                                                <textarea id="taskDescription" class="form-control validation" rows="1" data-ng-model="newTask.description" required></textarea>
                                                                            </md-input-container>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="tab-row no-margin">
                                                                        <div class="callout callout-info no-margin issue-element-container" data-ng-show="!taskJiraIdExists && newTask.jiraId">
                                                                            Issue {{newTask.jiraId}} doesn't exist in Jira.
                                                                        </div>
                                                                    </div>
                                                                </md-dialog-content>
                                                                <md-dialog-actions layout="row" align="end">
                                                                    <md-button id="unassignTask" ng-if="!isNewTask" class="md-raised btn-w-md md-warn" ng-really-message="Do you really want to delete this task current test run?" ng-really-click="unassignTask(newTask)"
                                                                               ng-disabled="task_form.$invalid">
                                                                        Unassign
                                                                    </md-button>
                                                                    <md-button id="assignTask" ng-if="isNewTask" class="md-raised btn-w-md md-primary" ng-click="assignTask(newTask, isNewTask)"
                                                                               ng-disabled="task_form.$invalid || (!isTaskFound) && isConnectedToJira">
                                                                        Assign
                                                                    </md-button>
                                                                    <md-button id="updateTask" ng-if="!isNewTask" class="md-raised btn-w-md md-primary" ng-click="assignTask(newTask, isNewTask)"
                                                                               ng-disabled="task_form.$invalid || (!isTaskFound) && isConnectedToJira">
                                                                        Update
                                                                    </md-button>
                                                                </md-dialog-actions>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-12 issues-select-padding">
                                    <md-sidemenu locked="true">
                                        <md-sidemenu-group>
                                            <md-sidemenu-content md-heading="ATTACHED TASKS ({{tasks.length}})" md-arrow="true" data-ng-hide="tasks.length == 0" ng-click="taskListIsVisible = !taskListIsVisible">
                                                <md-button class="md-sidemenu-button tickets-font" ng-if="taskListIsVisible" ng-repeat="task in tasks"
                                                           ng-click="searchScopeTask(task); $event.stopPropagation();">
                                                    <span name="knownIssue" >
                                                        <b class="settings-line">{{task.jiraId}}</b> {{task.description}}
                                                    </span>
                                                </md-button>
                                            </md-sidemenu-content>
                                        </md-sidemenu-group>
                                    </md-sidemenu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Comments" ng-disabled="testComments.length == 0">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div layout layout-sm="row">
                                    <div class="col-lg-12 clearfix">
                                        <h2 class="section-header">Comments ({{testComments.length}})</h2>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body" zafira-background-theme="modal">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form">
                                                        <div layout-padding class="scrollable-tab">
                                                            <table md-table zafira-background-theme="table">
                                                                <thead md-head>
                                                                <tr md-row>
                                                                    <th md-column>
                                                                        <md-input-container class="searchable comments-table-header">
                                                                            Text
                                                                        </md-input-container>
                                                                    </th>
                                                                    <th md-column>
                                                                        <md-input-container class="searchable comments-table-header">
                                                                            User
                                                                        </md-input-container>
                                                                    </th>
                                                                    <th md-column>
                                                                        <md-input-container class="searchable comments-table-header">
                                                                            Date
                                                                        </md-input-container>
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody md-body >
                                                                <tr md-row ng-repeat="testComment in testComments | orderBy: 'createdAt':true">
                                                                    <td id="testCommentText" md-cell class="comments-table-body"><b>{{testComment.description}}</b></td>
                                                                    <td id="testCommentAuthor" md-cell class="comments-table-body">{{testComment.user.username}}</td>
                                                                    <td id="testCommentDate" md-cell class="comments-table-body">{{testComment.createdAt | date : "medium"}}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div layout-padding>
                                                            <table md-table zafira-background-theme="table">
                                                                <tbody md-body >
                                                                <tr md-row>
                                                                    <td id="commentForm" md-cell class="comments-table-body">
                                                                        <form class="form-validation" name="comments_form" ng-submit="UtilService.untouchForm(comments_form)" ng-cloak>
                                                                            <md-dialog-content>
                                                                                <div layout layout-sm="column">
                                                                                    <md-input-container flex >
                                                                                        <label>Your comment</label>
                                                                                        <textarea required id="comment" name="comment" rows=8 class="textarea_border" data-ng-model="testComment.description"></textarea>
                                                                                    </md-input-container>
                                                                                </div>
                                                                            </md-dialog-content>
                                                                            <md-dialog-actions layout="row">
                                                                                <md-button id="markAsReviewed" class="md-raised btn-w-md md-primary" ng-click="addTestComment(testComment)" ng-disabled="comments_form.$invalid">
                                                                                    Add comment
                                                                                </md-button>
                                                                            </md-dialog-actions>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <!--<md-tab label="TestRail">-->
            <!--<div class="tab">-->
            <!--<div class="md-dialog-content">-->
            <!--<div class="row ui-section">-->
            <!--<div class="col-md-12">-->
            <!--<div class="col-lg-8 clearfix"> <h2 class="section-header">TestRail</h2> </div>-->
            <!--<div class="col-md-12">-->
            <!--<section class="panel panel-default">-->
            <!--<div class="panel-body">-->
            <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
            <!--<div layout="column" ng-cloak class="md-inline-form">-->
            <!--<div layout-padding>-->
            <!--<div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</md-tab>-->
        </md-tabs>
    </md-dialog-content>
</md-dialog>
