<md-dialog flex="50" aria-label="User profile" zafira-background-theme="modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 id="modalTitle">Test Details</h2>
            <span flex></span>
            <md-button id="close" class="md-icon-button" data-ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="query" data-ng-show="(!isIssueFound || !isTaskFound) && isConnectedToJira || issueTabDisabled || taskTabDisabled"></md-progress-linear>
    <md-dialog-content>
        <md-tabs md-border-bottom md-selected="selectedTabIndex" md-swipe-content class="test-details-dialog">
            <md-tab label="Status">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div class="col-lg-8 clearfix"> <h2 class="section-header">Test Info</h2> </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form">
                                                        <div layout-padding>
                                                            <form name="testForm">
                                                                <div layout layout-sm="column">
                                                                    <div class="col-lg-7 align-test-name">
                                                                        <div>
                                                                            <b name="testName">{{test.name}} <span data-ng-if="test.blocker" class="badge ng-binding bug-label-bg">BLOCKER</span></b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 align-test-name" >
                                                                        <md-select ng-model="test.status" class="no-margin issue-element-container" placeholder="Status" data-ng-if="changeStatusDropdownIsVisible">
                                                                            <md-option ng-repeat="status in testStatuses" ng-value="status">
                                                                                {{status}}
                                                                            </md-option>
                                                                        </md-select>
                                                                    </div>
                                                                    <div class="col-lg-2 align-test-name test-status-label">
                                                                        <div>
                                                                            <md-button id="change" class="md-icon-button" data-ng-click="changeStatusDropdownIsVisible =!changeStatusDropdownIsVisible" has-any-permission="['MODIFY_TESTS']">
                                                                                <md-tooltip md-direction="top">Change test status</md-tooltip>
                                                                                <md-icon aria-label="Change status" class="md-18">edit</md-icon>
                                                                            </md-button>
                                                                        </div>
                                                                        <div>
                                                                            <a ng-class="{'label label-info label-font-size' : test.status == 'IN_PROGRESS', 'label label-success label-font-size' : test.status == 'PASSED', 'label label-danger label-font-size' : test.status == 'FAILED', 'label label-warning label-font-size' : test.status == 'SKIPPED', 'label label-default label-font-size' : test.status == 'UNKNOWN' || test.status == 'ABORTED'}">{{test.status}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div layout layout-sm="column" class="status-row">
                                                                    <div class="col-lg-3">
                                                                        <span data-ng-if="test.finishTime && (test.finishTime - test.startTime)/1000 > 0" class="light_text"><i class="fa fa-clock-o" aria-hidden="true"></i> <timer name="testFinishTime" autostart="false" countdown="(test.finishTime - test.startTime)/1000">{{minutes}} minute{{minutesS}} {{seconds}} second{{secondsS}}</timer></span>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <span name="testOwner" data-ng-if="test.owner" class="light_text"></i> <i class="fa fa-user" aria-hidden="true"></i> {{test.owner}}</span>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <span name="secondaryOwner" data-ng-if="test.secondaryOwner" class="light_text"></i> <i class="fa fa-user" aria-hidden="true"></i> {{test.secondaryOwner}}</span>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <span name="device" data-ng-if="test.testConfig.device" class="light_text"></i> <i class="fa fa-mobile" aria-hidden="true"></i> {{test.testConfig.device}}</span>
                                                                    </div>
                                                                </div>
                                                                <div layout layout-sm="column"  class="no-border" data-ng-if="test.message" >
                                                                    <div class="col-lg-12 issue-trace-area">
                                                                        <div class="white-space-pre-line">
                                                                            <show-more name="errorMsg" element-id="test.id" text="test.message" limit="100" ></show-more>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <md-dialog-actions layout="row">
                                                                    <md-input-container class="md-block">
                                                                        <md-button id="showcomment" class="md-icon-button" data-ng-click="addCommentTextfieldIsVisible = !addCommentTextfieldIsVisible">
                                                                            <md-tooltip md-direction="top">Add comment</md-tooltip>
                                                                            <md-icon aria-label="Add comment" class="md-18">comment</md-icon>
                                                                        </md-button>
                                                                        <md-button id="commens" class="md-icon-button comments-button"  data-ng-click="moveToTab(3)">
                                                                            <a class="comments-font-size" md-no-ink>Comments ({{testComments.length}})</a>
                                                                        </md-button>
                                                                        <md-button id="saveTest" class="md-raised btn-w-md md-primary" data-ng-click="updateTest(test);changeStatusDropdownIsVisible = !changeStatusDropdownIsVisible" data-ng-disabled="">
                                                                            Save
                                                                        </md-button>
                                                                    </md-input-container>
                                                                </md-dialog-actions>
                                                            </form>
                                                            <form class="form-validation" name="comments_form" ng-submit="UtilService.untouchForm(comments_form)" ng-cloak data-ng-if="addCommentTextfieldIsVisible">
                                                                <md-dialog-content>
                                                                    <div layout layout-sm="column">
                                                                        <md-input-container flex >
                                                                            <label>Your comment</label>
                                                                            <textarea required id="comment" name="comment" rows=10 class="textarea_border" data-ng-model="testComment.description"></textarea>
                                                                        </md-input-container>
                                                                    </div>
                                                                </md-dialog-content>
                                                                <md-dialog-actions layout="row">
                                                                    <md-button id="markAsReviewed" class="md-raised btn-w-md md-primary" data-ng-click="addTestComment(testComment)" data-ng-disabled="comments_form.$invalid">
                                                                        Add comment
                                                                    </md-button>
                                                                </md-dialog-actions>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Issues" ng-disabled="issueTabDisabled"   >
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div class="col-lg-8 clearfix"> <h2 class="section-header">Assign Known Issue</h2> </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form">
                                                        <div layout-padding>
                                                            <form class="form-validation" name="known_issue_form" ng-cloak>
                                                                <md-dialog-content>
                                                                    <div layout layout-sm="column" class="align-test-name test-status-label">
                                                                        <md-button id="refresh_issue" class="md-icon-button" data-ng-click="onIssueSearchFieldChangeAction()">
                                                                            <md-icon aria-label="Add comment" class="md-18">cached</md-icon>
                                                                        </md-button>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="issue-row">
                                                                        <div class="col-lg-3">
                                                                            <span class="status-span issue-element-label">Status</span>
                                                                            <span ng-class="(newKnownIssue.status == 'Done' || !newKnownIssue.status)? 'label label-default' : 'label label-danger'" class="jira-status status-span">
                                                                                    <span>{{newKnownIssue.status}}</span>
                                                                                    <span data-ng-hide="newKnownIssue.status">N/A</span>
                                                                                </span>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <span class="status-span issue-element-label">Assignee</span>
                                                                            <span class="status-span">{{newKnownIssue.assignee}}</span>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <span class="status-span issue-element-label">Reporter</span>
                                                                            <span class="status-span">{{newKnownIssue.reporter}}</span>
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            <span class="status-span issue-element-label">Blocker</span>
                                                                            <span class="status-span">
                                                                            <md-checkbox id="blocker" aria-label="Blocker checkbox" data-ng-model="newKnownIssue.blocker" class="no-margin no-padding no-border"></md-checkbox>                                                                         </span>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="issue-row">
                                                                        <div class="col-lg-3">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Jira ID</label>
                                                                                <input id="issueJiraId"
                                                                                       type="text"
                                                                                       ng-pattern="/^([A-z]+-[0-9]+|\d+)$/"
                                                                                       class="form-control validation"
                                                                                       data-ng-model="newKnownIssue.jiraId"
                                                                                       data-ng-change="onIssueSearchFieldChangeAction()" required placeholder="{{isConnectedToJira ? 'Connected' : 'Not connected'}} to JIRA"/>
                                                                            </md-input-container>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Summary</label>
                                                                                <textarea id="issueDescription" class="form-control validation" rows="1" data-ng-model="newKnownIssue.description" required></textarea>
                                                                            </md-input-container>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="issue-row no-margin">
                                                                        <div class="callout callout-info no-margin issue-element-container" data-ng-show="!issueJiraIdExists && newKnownIssue.jiraId">
                                                                            Issue {{newKnownIssue.jiraId}} doesn't exist in Jira.
                                                                        </div>
                                                                        <div class="callout callout-danger no-margin issue-element-container" data-ng-show="isIssueClosed">
                                                                            Unable to assign closed issue.
                                                                        </div>
                                                                    </div>
                                                                </md-dialog-content>
                                                                <md-dialog-actions layout="row">
                                                                    <md-button id="clear" data-ng-if="!isNewIssue" class="md-raised btn-w-md md-warn" data-ng-really-message="Do you really want to delete known issue from current test run?" data-ng-really-click="deleteIssue(newKnownIssue)"
                                                                               data-ng-disabled="known_issue_form.$invalid || !isIssueFound">
                                                                        Delete
                                                                    </md-button>
                                                                    <md-button id="create" data-ng-if="isNewIssue" class="md-raised btn-w-md md-primary" data-ng-click="assignIssue(newKnownIssue, isNewIssue)"
                                                                               data-ng-disabled="known_issue_form.$invalid || (!isIssueFound || isIssueClosed) && isConnectedToJira">
                                                                        Assign
                                                                    </md-button>
                                                                    <md-button id="updateIssue" data-ng-if="!isNewIssue" class="md-raised btn-w-md md-primary" data-ng-click="assignIssue(newKnownIssue, isNewIssue)"
                                                                               data-ng-disabled="known_issue_form.$invalid || (!isIssueFound || isIssueClosed) && isConnectedToJira">
                                                                        Update
                                                                    </md-button>
                                                                </md-dialog-actions>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-12 issues-select-padding">
                                    <md-sidemenu locked="true">
                                        <md-sidemenu-group>
                                            <md-sidemenu-content md-heading="ATTACHED ISSUES" md-arrow="true" data-ng-hide="knownIssues.length == 0" ng-click="issueListIsVisible = !issueListIsVisible">
                                                <md-button class="md-sidemenu-button tickets-font" data-ng-if="issueListIsVisible" data-ng-repeat="issue in knownIssues"
                                                           ng-click="selectExistingIssue(issue);$event.stopPropagation();">
                                                    <span name="knownIssue" >
                                                        <b class="settings-line">{{issue.jiraId}}</b> {{issue.description}}
                                                    </span>
                                                </md-button>
                                            </md-sidemenu-content>
                                        </md-sidemenu-group>
                                    </md-sidemenu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Tasks" ng-disabled="taskTabDisabled">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div class="col-lg-8 clearfix"> <h2 class="section-header">Assign Task</h2> </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout="column" ng-cloak class="md-inline-form">
                                                        <div layout-padding>
                                                            <form class="form-validation" name="task_form" ng-cloak>
                                                                <md-dialog-content>
                                                                    <div layout layout-sm="column" class="align-test-name test-status-label">
                                                                        <md-button id="refresh_task" class="md-icon-button" data-ng-click="onTaskSearchFieldChangeAction()">
                                                                            <md-icon aria-label="Add comment" class="md-18">cached</md-icon>
                                                                        </md-button>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="issue-row">
                                                                        <div class="col-lg-3">
                                                                            <span class="status-span issue-element-label">Status</span>
                                                                            <span ng-class="(newTask.status == 'Done' || !newTask.status)? 'label label-default' : 'label label-danger'" class="jira-status status-span">
                                                                                    <span>{{newTask.status}}</span>
                                                                                    <span data-ng-hide="newTask.status">N/A</span>
                                                                                </span>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <span class="status-span issue-element-label">Assignee</span>
                                                                            <span class="status-span">{{newTask.assignee}}</span>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <span class="status-span issue-element-label">Reporter</span>
                                                                            <span class="status-span">{{newTask.reporter}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="issue-row">
                                                                        <div class="col-lg-3">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Jira ID</label>
                                                                                <input id="taskJiraId"
                                                                                       type="text"
                                                                                       ng-pattern="/^([A-z]+-[0-9]+|\d+)$/"
                                                                                       class="form-control validation"
                                                                                       data-ng-model="newTask.jiraId"
                                                                                       data-ng-change="onTaskSearchFieldChangeAction()" required
                                                                                       placeholder="{{isConnectedToJira ? 'Connected' : 'Not connected'}} to JIRA"/>
                                                                            </md-input-container>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <md-input-container flex class="issue-element-container">
                                                                                <label>Summary</label>
                                                                                <textarea id="taskDescription" class="form-control validation" rows="1" data-ng-model="newTask.description" required></textarea>
                                                                            </md-input-container>
                                                                        </div>
                                                                    </div>
                                                                    <div layout layout-sm="column" class="issue-row no-margin">
                                                                        <div class="callout callout-info no-margin issue-element-container" data-ng-show="!taskJiraIdExists && newTask.jiraId">
                                                                            Issue {{newTask.jiraId}} doesn't exist in Jira.
                                                                        </div>
                                                                    </div>
                                                                </md-dialog-content>
                                                                <md-dialog-actions layout="row" align="end">
                                                                    <md-button id="delete" data-ng-if="!isNewTask" class="md-raised btn-w-md md-warn" data-ng-click="deleteTask(newTask)"
                                                                               data-ng-disabled="task_form.$invalid || !isTaskFound">
                                                                        Delete
                                                                    </md-button>
                                                                    <md-button id="assign" data-ng-if="isNewTask" class="md-raised btn-w-md md-primary" data-ng-click="assignTask(newTask, isNewTask)"
                                                                               data-ng-disabled="task_form.$invalid || (!isTaskFound) && isConnectedToJira">
                                                                        Assign
                                                                    </md-button>
                                                                    <md-button id="updateTask" data-ng-if="!isNewTask" class="md-raised btn-w-md md-primary" data-ng-click="assignTask(newTask, isNewTask)"
                                                                               data-ng-disabled="task_form.$invalid || (!isTaskFound) && isConnectedToJira">
                                                                        Update
                                                                    </md-button>
                                                                </md-dialog-actions>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-12 issues-select-padding">
                                    <md-sidemenu locked="true">
                                        <md-sidemenu-group>
                                            <md-sidemenu-content md-heading="ATTACHED TASKS" md-arrow="true" data-ng-hide="tasks.length == 0"ng-click="taskListIsVisible = !taskListIsVisible">
                                                <md-button class="md-sidemenu-button tickets-font" data-ng-if="taskListIsVisible" data-ng-repeat="task in tasks"
                                                           ng-click="selectExistingTask(task); $event.stopPropagation();">
                                                    <span name="knownIssue" >
                                                        <b class="settings-line">{{task.jiraId}}</b> {{task.description}}
                                                    </span>
                                                </md-button>
                                            </md-sidemenu-content>
                                        </md-sidemenu-group>
                                    </md-sidemenu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="History" ng-disabled="testComments.length == 0">
                <div class="tab">
                    <div class="md-dialog-content">
                        <div class="row ui-section">
                            <div class="col-md-12">
                                <div class="col-lg-8 clearfix"> <h2 class="section-header">Comments History</h2> </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div layout layout-sm="column" class="align-test-name test-status-label">
                                                        <md-button id="move_to_tab" class="md-icon-button" data-ng-click="moveToTab(0)">
                                                            <md-icon class="md-18">keyboard_backspace</md-icon>
                                                        </md-button>
                                                    </div>
                                                    <div layout="column" ng-cloak class="md-inline-form">
                                                        <div layout-padding>
                                                            <table md-table zafira-background-theme="table">
                                                                <thead md-head>
                                                                <tr md-row>
                                                                    <th md-column>
                                                                        <md-input-container class="searchable comments-table-header">
                                                                            Text
                                                                        </md-input-container>
                                                                    </th>
                                                                    <th md-column>
                                                                        <md-input-container class="searchable comments-table-header">
                                                                            User
                                                                        </md-input-container>
                                                                    </th>
                                                                    <th md-column>
                                                                        <md-input-container class="searchable comments-table-header">
                                                                            Date
                                                                        </md-input-container>
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody md-body >
                                                                <tr md-row ng-repeat="testComment in testComments | orderBy: 'createdAt':true">
                                                                    <td name="testCommentText" md-cell class="comments-table-body"><b>{{testComment.description}}</b></td>
                                                                    <td name="testCommentAuthor" md-cell class="comments-table-body">{{testComment.user.username}}</td>
                                                                    <td name="testCommentDate" md-cell class="comments-table-body">{{testComment.createdAt | date : "medium"}}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <!--<md-tab label="Artifacts">-->
            <!--<div class="tab">-->
            <!--<div class="md-dialog-content">-->
            <!--<div class="row ui-section" >-->
            <!--<div class="col-md-12">-->
            <!--<div class="col-lg-8 clearfix"> <h2 class="section-header">Artifacts</h2> </div>-->
            <!--<div class="col-md-12">-->
            <!--<section class="panel panel-default">-->
            <!--<div class="panel-body">-->
            <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
            <!--<div layout="column" ng-cloak class="md-inline-form">-->
            <!--<div layout-padding>-->
            <!--<div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</md-tab>-->
            <!--<md-tab label="TestRail">-->
            <!--<div class="tab">-->
            <!--<div class="md-dialog-content">-->
            <!--<div class="row ui-section">-->
            <!--<div class="col-md-12">-->
            <!--<div class="col-lg-8 clearfix"> <h2 class="section-header">TestRail</h2> </div>-->
            <!--<div class="col-md-12">-->
            <!--<section class="panel panel-default">-->
            <!--<div class="panel-body">-->
            <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
            <!--<div layout="column" ng-cloak class="md-inline-form">-->
            <!--<div layout-padding>-->
            <!--<div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</md-tab>-->
        </md-tabs>
    </md-dialog-content>
</md-dialog>
