
<md-dialog flex="50" aria-label="User profile" style="max-width: 550px;" zafira-background-theme="modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 id="modalTitle">Rebuild testrun</h2>
            <span flex></span>
            <md-button id="close" class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div class="md-dialog-content no-top-padding">
        <div class="row ui-section no-margin-bottom">
            <div class="col-lg-12">
                <div class="clearfix">
                    <h2 class="section-header modal-header-font"></h2>
                </div>
                <section class="panel panel-default">
                    <div zafira-background-theme="modal">
                        <div class="row">
                            <div class="col-lg-12">
                                <div layout="column" ng-cloak class="md-inline-form">
                                    <div layout-padding>
                                        <form class="form-validation" name="build_now_form" ng-submit="buildNow(); UtilService.untouchForm(build_now_form)" ng-cloak>
                                            <md-dialog-content>
                                                <div class="md-dialog-content no-horiz-padding">
                                                    <div layout layout-sm="row">
                                                        <md-input-container flex>
                                                            <md-radio-group ng-model="rerunFailures">
                                                                <div class="rebuild-modal-row"><md-radio-button id="onlyFailures" ng-value="true">Only failures</md-radio-button></div>
                                                                <div class="rebuild-modal-row"><md-radio-button id="allTests" ng-value="false">All tests</md-radio-button></div>
                                                            </md-radio-group>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </md-dialog-content>
                                            <md-dialog-actions layout="row" >
                                                <md-button id="cancel" type="submit"  class="md-raised btn-w-md md-warn" data-ng-click="cancel()">
                                                    Cancel
                                                </md-button>
                                                <md-button id="rerun" type="submit" class="md-raised btn-w-md md-primary" data-ng-click="rebuild(testRun, rerunFailures)" md-selected="true">
                                                    Rerun
                                                </md-button>
                                            </md-dialog-actions>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</md-dialog>
