body.signin {
	background: url(../img/signin_bg.jpg) no-repeat center center fixed; 
	background-size: cover;
	min-width: 240px;
	padding: 200px 0 0 0;
	margin: 0;
}

#signin-form {
	width: 232px;
	font-size: 10pt;
	color: white;
	float: none;
	margin: 0 auto;
}

#signin-form input 
{
	color: black;
}

#signin-form .title {
	font-size: 18pt;
	margin-bottom: 8px;
}

#signin-form span.username {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 10px;
	background-image: url(../img/person.png);
}

#signin-form span.password {
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	padding-left: 30px;
	margin-bottom: 10px;
	background-image: url(../img/key.png);
}


#signin-form button {
	border: none;
	background: none;
	width: 232px;
	height: 32px;
}

#signin-form input {
	border: none;
	background-color: #F8F8F8;
	height: 30px;
	width: 200px;
}

#signin-form .errors {
	background: #FFE6E6;
	padding: 10px;
	border-top: 1px solid;
	margin-bottom: 5px;
	color: red;
}

#signin-form a.button {
	display: block;
	background: #337ab7;
	color: white;
	width: 232px;
	height: 32px;
	border-top: solid 1px;
}

#signin-form a:hover {
	background: #4da6ff;
}