div.search {
	margin: 0 0 20px 0;
}

img.pending {
	height: 20px; 
	width: 20px;
}

.results_header {
	padding: 10px 4px;
	margin: 5px 0;
	background: #fafafa;
}

.run_result {
	border: 1px solid #e6e6e6;
	padding: 8px 4px;
	margin: 5px 0;
	min-height: 40px;
}

.result_UNKNOWN {
	border-left: solid 8px #ccccb3;
}

.result_PASSED {
	border-left: solid 8px #5cb85c;
}

.result_FAILED {
	border-left: solid 8px #d9534f;
}

.result_IN_PROGRESS {
	border-left: solid 8px #3a87ad;
}

.result_ABORTED {
	border-left: solid 8px #f0ad4e;
}

.result_SKIPPED {
	border-left: solid 8px #f0ad4e;
}

.test_result {
	border-top: solid #e6e6e6 1px;
	border-bottom: solid #e6e6e6 1px; 
	border-right: solid #e6e6e6 1px;
	margin: 5px 0;
	padding: 8px 4px;
}

.test_result.PASSED {
	border-left: solid 5px #5cb85c;
}

.test_result.FAILED {
	border-left: solid 5px #d9534f;
}

.test_result.IN_PROGRESS {
	border-left: solid 5px #3a87ad;
}

.test_result.SKIPPED {
	border-left: solid 5px #f0ad4e;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.result_error {
	background: #ffb3b3; 
	padding: 8px; 
	margin: 5px 0;
}

.w50 {
	width: 50px;
}

.w65 {
	width: 65px;
}

.w70 {
	width: 70px;
}

.w80 {
	width: 80px;
}

.w140 {
	width: 140px;
}

.w250 {
	width: 250px;
}

.mw300 {
	min-width:  300px;
}

.time {
	color: grey;
}

.PASSED {
	background: #e6ffe6;
}

.FAILED {
	background: #ffe6e6;
}

.SKIPPED {
	background: #ffffcc;
}

.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.label-success-border {
	border: 1px solid #5cb85c;
}

.label-success-empty {
	color: #5cb85c;
}

.label-danger-border {
	border: 1px solid #d9534f;
}

.label-danger-empty {
	color: #d9534f;
}

.label-warning-border {
	border: 1px solid #f0ad4e;
}

.label-warning-empty {
	color: #f0ad4e;
}

.danger {
	color: red;
}

.platform-icon {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../img/platforms.png) no-repeat;
	background-position: 150px 0;
}

.platform-icon.safari {
	background-position: -3px -25px;
}

.platform-icon.chrome {
	background-position: -3px -115px;
}

.platform-icon.firefox {
	background-position: -3px -70px;
}

.platform-icon.iexplore, .platform-icon.ie, .platform-icon.edge {
	background-position: -3px -3px;
}

.platform-icon.android, .platform-icon.Android, .platform-icon.ANDROID {
	background-position: -3px -206px;
}

.platform-icon.ios, .platform-icon.IOS, .platform-icon.iOS {
	background-position: -3px -252px;
}

select.icon-menu option {
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-left:30px;
}

select option[value="Android"] {
background-image:url(../img/key.png);
}

li.pointer, i.pointer, th.pointer {
	cursor: pointer;
}

.graph-box {
	height: 350px; 
	padding-bottom: 35px;
}

.pie-chart {
	height: 320px; 
	width: 320px;
}

td.no-results {
	text-align: center;
}

.center {
	text-align: center;
}

.settings-line {
	line-height: 25px;
}


.zoom_img img:hover{
	-moz-transform:scale(2); 
	-webkit-transform:scale(2);
	-o-transform:scale(2);
}