div.search {
	margin: 0 0 20px 0;
}

img.pending {
	height: 20px; 
	width: 20px;
}

.run_result {
	border: 1px solid #e6e6e6;
	padding: 15px 5px;
	margin: 5px 0;
}

.result_PASSED {
	border-left: solid 8px #5cb85c;
}

.result_FAILED {
	border-left: solid 8px #d9534f;
}

.result_IN_PROGRESS {
	border-left: solid 8px #3a87ad;
}

.result_ABORTED {
	border-left: solid 8px #f0ad4e;
}

.test_result {
	border-top: solid #e6e6e6 1px;
	border-bottom: solid #e6e6e6 1px; 
	border-right: solid #e6e6e6 1px;
	margin: 5px 0;
	padding: 15px 5px;
}

.test_result.PASSED {
	border-left: solid 5px #5cb85c;
}

.test_result.FAILED {
	border-left: solid 5px #d9534f;
}

.test_result.IN_PROGRESS {
	border-left: solid 5px #3a87ad;
}

.test_result.SKIPPED {
	border-left: solid 5px #f0ad4e;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.result_error {
	background: #ffb3b3; 
	padding: 8px; 
	margin: 5px 0;
}

.w50 {
	width: 50px;
}

.w65 {
	width: 65px;
}

.w70 {
	width: 70px;
}

.w250 {
	width: 250px;
}

.mw300 {
	min-width:  300px;
}

.time {
	color: grey;
}

.PASSED {
	background: #e6ffe6;
}

.FAILED {
	background: #ffe6e6;
}

.SKIPPED {
	background: #ffffcc;
}

.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.label-success-border {
	border: 1px solid #5cb85c;
}

.label-success-empty {
	color: #5cb85c;
}

.label-danger-border {
	border: 1px solid #d9534f;
}

.label-danger-empty {
	color: #d9534f;
}

.label-warning-border {
	border: 1px solid #f0ad4e;
}

.label-warning-empty {
	color: #f0ad4e;
}

