<div class="page page-profile" ng-controller="UserListController">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
        	<h2 class="section-header">Users</h2>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="openGroupDetailsModal()">
                    <span class="fa fa-users"></span>
                </md-button>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="openUserDetailsModal()">
                    <span class="fa fa-plus"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div class="col-md-12">
            <article class="article">
                <md-card class="no-margin-h">
                    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                        <div class="md-toolbar-tools">
                            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                        </div>
                    </md-toolbar>
                    <md-table-container>
                        <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise">
                            <thead md-head md-order="order">
                                <tr md-row>
                                    <th md-column md-order-by="id"><span>ID</span></th>
                                    <th md-column md-order-by="username"><span>Username</span></th>
                                    <th md-column md-order-by="email"><span>Email</span></th>
                                    <th md-column md-order-by="firstName"><span>First/Last name</span></th>
                                    <th md-column md-order-by="createdAt"><span>Registered</span></th>
                                    <th md-column><span>Status</span></th>
                                    <th md-column><span>Actions</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="user in sr.results | orderBy: order">
                                    <td md-cell>{{user.id}}</td>
                                    <td md-cell>{{user.username}}</td>
                                    <td md-cell>{{user.email}}</td>
                                    <td md-cell>{{user.firstName}} {{user.lastName}}</td>
                                    <td md-cell>{{user.createdAt | date:'MM/dd/yyyy'}}</td>
                                    <td md-cell>
                                    	<span ng-switch on="user.password != null && user.password != ''">
                                    		<span class="label label-success" ng-switch-when="true">Active</span>
                                    		<span class="label label-danger" ng-switch-when="false">Inactive</span>
                                    	</span>
                                    </td>
                                    <td md-cell>
                                        <md-menu>
                                            <md-button aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                <md-icon class="material-icons">settings</md-icon>
                                            </md-button>
                                            <md-menu-content width="2">
                                                <md-menu-item>
                                                    <md-button data-ng-click="showEditProfileDialog($event, user)">
                                                        <md-icon class="material-icons">build</md-icon>
                                                        Edit profile
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="showChangePasswordDialog($event, user)">
                                                        <md-icon class="material-icons">lock_outline</md-icon>
                                                        Change password
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="">
                                                        <md-icon class="material-icons">timeline</md-icon>
                                                        Performance
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit="sr.pageSize" md-limit-options=false md-page="sr.page" md-total="{{sr.totalResults}}" md-page-select=false md-boundary-links=true md-on-paginate="openPage"></md-table-pagination>
                </md-card>
            </article>
        </div>
    </div>
</div>
