<div class="page-signin" ng-controller="AuthController">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1>ZAFIRA</h1>
                        </section>

                        <form name="reset_form" data-ng-submit="resetPassword(credentials);">
                            <fieldset>
                                <md-input-container class="md-block">
                                    <label>New password</label>
                                    <input required
                                           autocomplete="new-password"
                                           type="password"
                                           password-eye="mousedown - mouseup"
                                           name="password"
                                           id="password"
                                           ng-model="credentials.password"
                                           ng-minlength="8" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9_@!]+$/"/>
                                    <div ng-messages="reset_form.password.$error" ng-if="reset_form.password.$dirty">
                                        <div ng-repeat="validation in VALIDATIONS.password" ng-message="{{validation.name}}">
                                        <span ng-if="validation.additional">
                                            <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                            {{ validation.message }}
                                        </span>
                                            <span ng-if="! validation.additional">{{ validation.message }}</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="center">
                                    <md-button type="submit"
                                               id="passwordReset"
                                               class="md-raised btn-w-md md-primary"
                                               ng-disabled="reset_form.$invalid">Reset</md-button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div ng-include="footerSlice.copyright.url"></div>

            </div>
        </div>

    </div>

</div>
