<div class="page-signin" ng-controller="AuthController">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1>ZAFIRA</h1>
                        </section>

                        <form name="signin_form" class="md-form-login form-validation" data-ng-submit="signin(credentials); UtilService.untouchForm(signin_form)">
                            <div class="callout callout-danger" ng-if="!credentials.valid">
                                <p>Invalid credentials</p>
                            </div>
                            <fieldset>
                                <md-input-container class="md-block">
                                    <label>Username</label>
                                    <md-icon class="material-icons">account_circle</md-icon>
                                    <input required type="text" name="username" id="username" ng-model="credentials.username"
                                           ng-minlength="3" ng-maxlength="50" ng-pattern="/^[A-Za-z_-]+$/"/>
                                    <div ng-messages="signin_form.username.$error" ng-if="signin_form.username.$dirty">
                                        <div ng-repeat="validation in VALIDATIONS.username" ng-message="{{validation.name}}">
                                            <span ng-if="validation.additional">
                                                <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                                {{ validation.message }}
                                            </span>
                                            <span ng-if="! validation.additional">{{ validation.message }}</span>
                                        </div>
                                   </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Password</label>
                                    <md-icon class="material-icons">lock_outline</md-icon>
                                    <input password-eye="mousedown - mouseup" required type="password" name="password" id="pussword" ng-model="credentials.password"
                                        ng-minlength="8" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9_@!]+$/"/>
                                   <div ng-messages="signin_form.password.$error" ng-if="signin_form.password.$dirty">
                                        <div ng-repeat="validation in VALIDATIONS.password" ng-message="{{validation.name}}">
                                            <span ng-if="validation.additional">
                                                <md-tooltip md-direction="top">{{ validation.additional }}</md-tooltip>
                                                {{ validation.message }}
                                            </span>
                                            <span ng-if="! validation.additional">{{ validation.message }}</span>
                                        </div>
                                   </div>
                                </md-input-container>
                                <div layout="row" layout-align="center">
                                    <md-button type="submit"
                                               id="signin"
                                               class="md-raised btn-w-md md-primary"
                                               ng-disabled="signin_form.$invalid">Signin</md-button>
                                    <div id="forgot-password">
                                        <a href="#!/password/forgot">Forgot your password?</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="additional-info">
                    <span>© 2018 Zafira all rights reserved</span>
                    <br/>
                    <small id="versionInfo">server v.{{version.service}} | client v.{{version.client}}</small>
                </div>

                <div ng-if="companyLogo.value" id="loader-container-image" class="login-page-logo">
                    <img class="img-circle" ng-src="{{ companyLogo.value }}">
                </div>
            </div>
        </div>

    </div>

</div>
