<div class="page-change" ng-controller="AuthController">
        <div class="wrapper">
            <div class="main-body">
                    <div class="card bg-white">
                        <div class="card-content">
                            <section class="logo-container">
                                <div class="logo"></div>
                            </section>
    
                            <form name="signin_form" class="md-form-login form-validation" data-ng-submit="signin(credentials); UtilService.untouchForm(signin_form)">
                                <div class="callout callout-danger" ng-if="!credentials.valid">
                                    <p>Invalid credentials</p>
                                </div>
                                <fieldset>
                                    <md-input-container class="md-block">
                                        <label class="placeholder-label">New password</label>
                                        <input 
                                               type="password"
                                               name="password"
                                               id="password"
                                               ng-model="user.password"/>
                                        <div ng-messages="register_form.password.$error" ng-if="register_form.password.$dirty">
                                            <div ng-message="required" data-translate="VLD_REQUIRED"></div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label class="placeholder-label">Confirm password</label>
                                        <input 
                                               type="password"
                                               name="confirmPwd"
                                               id="confirmPassword"
                                               ng-model="confirmPwd"/>
                                        <div ng-messages="register_form.confirmPwd.$error" ng-if="register_form.confirmPwd.$dirty">
                                            <div ng-message="required" data-translate="VLD_REQUIRED"></div>
                                        </div>
                                        <div ng-messages="register_form.confirmPwd.$error" ng-if="register_form.confirmPwd.$dirty && register_form.password.$dirty && confirmPwd != user.password && confirmPwd">
                                            <div>Passwords should be match</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="row" layout-align="center">
                                        <md-button type="submit"
                                                   id="changepwd"
                                                   class=" btn-w-md md-primary"
                                                   ng-disabled="register_form.$invalid || confirmPwd != user.password">Apply</md-button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>      
                </div> 
        </div>
        
        <div class="additional-background">
                <div class="text">
                    <p>Hooray! <br/> We have some new features for you.</p>
                    <p>Now you are capable to track automation results in more profound way: real-time test streaming and video recording.</p>
                </div>
                <div class="robot"></div>
            </div>
            <div class="additional-info">
                    <small>© 2018 Zafira all rights reserved</small>
                    <br/>
                    <small id="versionInfo">server v.{{version.service}} | client v.{{version.client}}</small>
            </div>
    </div> 
    
    
    