<div class="page page-profile" ng-controller="UserListController">

    <div class="row ui-section">
        <div class="col-lg-12">
        	<h2 class="section-header">Users
        		<small data-ng-if="sr">({{sr.totalResults}})</small>
        		<button class="md-button md-ink-ripple pull-right" type="button" ng-click="search();">
	                   <b>Search</b>
	            </button>
        		<button class="md-button md-warn md-ink-ripple pull-right" type="button" ng-click="reset(); UtilService.untouchForm(search_form);">
	                   <b>Clear</b>
	            </button>
        	</h2>
        </div>
        <md-fab-speed-dial id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                    <span class="fa fa-bars"></span>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="showGroupDialog()">
                    <md-tooltip md-direction="top">New user</md-tooltip>
                    <span class="fa fa-users"></span>
                </md-button>
                <md-button aria-label="menu" class="md-fab md-raised md-fab-sm" data-ng-click="showCreateUserDialog()">
                    <md-tooltip md-direction="top">Groups</md-tooltip>
                    <span class="fa fa-plus"></span>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
        <div class="col-md-12">
            <article class="article">
                <md-card class="no-margin-h">
                    <md-table-container>
                    	<form ng-submit="search()" name="search_form">
                        <table class="table-hover" md-table>
                            <thead md-head style="position: parent;">
                                <tr md-row>
                                    <th md-column>
                                    	<md-input-container class="searchable">
                                            <input type="number" ng-model="sc.id" name="id" placeholder="ID"/>
                                        </md-input-container>
									</th>
                                    <th md-column>
                                    	<md-input-container class="searchable">
                                            <input type="text" ng-model="sc.username" name="username" placeholder="Username"/>
                                        </md-input-container>
                                    </th>
                                    <th md-column>
                                    	<md-input-container class="searchable">
                                            <input type="text" ng-model="sc.email" name="email" placeholder="Email"/>
                                        </md-input-container>
                                    </th>
                                    <th md-column>
										<md-input-container class="searchable">
                                            <input type="text" ng-model="sc.firstLastName" name="firstLastName" placeholder="First/Last name"/>
                                        </md-input-container>
									</th>
                                    <th md-column class="no-padding">
                                             <md-input-container class="searchable select">
                                                <md-select ng-model="sc.period" name="period" placeholder="Period" ng-change="changePeriod()" >
                                                    <md-option value="" ng-selected="true"></md-option>
                                                    <md-option value="before">Before</md-option>
                                                    <md-option value="after">After</md-option>
                                                    <md-option value="between">Between</md-option>
                                                    <md-option value="today">Today</md-option>
                                                    <md-option value="yesterday">Yesterday</md-option>
                                                    <md-option value="this_week">This Week</md-option>
                                                    <md-option value="last_week">Last Week</md-option>
                                                    <md-option value="this_month">This Month</md-option>
                                                    <md-option value="last_month">Last Month</md-option>
                                                    <md-option value="this_qtr">This Quarter</md-option>
                                                    <md-option value="last_qtr">Last Quarter</md-option>
                                                    <md-option value="this_year">This Year</md-option>
                                                    <md-option value="last_year">Last Year</md-option>
                                                </md-select>
                                            </md-input-container>
                                        <md-datepicker data-ng-if="isDateChosen == true" ng-model="sc.chosenDate" md-placeholder="Registered" ></md-datepicker>
                                        <md-datepicker data-ng-if="isDateBetween == true" ng-model="sc.endDate" md-placeholder="Registered"></md-datepicker>
                                    </th>
                                    <th md-column>Status</th>
                                    <th md-column></th>
                                </tr>
                               	<md-button type="submit" class="hide">Search</md-button>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="user in sr.results">
                                    <td md-cell>#{{user.id}}</td>
                                    <td md-cell><b>{{user.username}}</b></td>
                                    <td md-cell>{{user.email}}</td>
                                    <td md-cell>{{user.firstName}} {{user.lastName}}</td>
                                    <td md-cell class="text-center">{{user.createdAt | date}}</td>
                                    <td md-cell>
                                    	<span ng-switch on="user.password != null && user.password != ''">
                                    		<span class="label label-success" ng-switch-when="true">Active</span>
                                    		<span class="label label-danger" ng-switch-when="false">Inactive</span>
                                    	</span>
                                    </td>
                                    <td md-cell class="no-padding">
                                        <md-menu>
                                            <md-button aria-label="User settings" class="md-icon-button" data-ng-click="$mdMenu.open($event);">
                                                <md-icon class="material-icons">more_vert</md-icon>
                                            </md-button>
                                            <md-menu-content width="2">
                                                <md-menu-item>
                                                    <md-button data-ng-click="showEditProfileDialog($event, user, false)">
                                                        <md-icon class="material-icons">build</md-icon>
                                                        Edit profile
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button data-ng-click="showChangePasswordDialog($event, user, false)">
                                                        <md-icon class="material-icons">lock_outline</md-icon>
                                                        Change password
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-href="#!/dashboards/{{pefrDashboardId}}?userId={{user.id}}" style="padding-top: 12px">
                                                        <md-icon class="material-icons">timeline</md-icon>
                                                        Performance
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
									</td>
                                </tr>
                                <tr md-row data-ng-if="sr.results.length == 0">
                                    <td md-cell colspan="8" class="text-center">No data</td>
                                </tr>
                            </tbody>
                        </table>
                         </form>
                    </md-table-container>

                    <md-table-pagination ng-if="sr.results.length != 0" md-limit="sr.pageSize" md-limit-options=false md-page="sr.page" md-total="{{sr.totalResults}}" md-page-select=false md-boundary-links=true md-on-paginate="search"></md-table-pagination>
                </md-card>
            </article>
        </div>
    </div>
</div>
