<div ng-controller="UserViewController">
    <zf-sub-header>
        <zf-sub-header-title>
            {{ activeTab.name }}
            <small id="itemsCount" data-ng-if="activeTab.countFunc">({{ activeTab.countFunc.call() }})</small>
        </zf-sub-header-title>
    </zf-sub-header>
    <div class="page user-view-page">
        <div class="row ui-section">
            <div layout="row" layout-xs="column" class="col-lg-12 p-users__header-actions">
                <div class="control-buttons" ng-include="activeTab.controls"></div>
            </div>
            <md-fab-speed-dial ng-if="activeTab.fabControlsCount > 1" id="main-fab" md-direction="up" class="md-scale md-fab-bottom-right" has-any-permission="['MODIFY_USERS', 'MODIFY_USER_GROUPS']">
                <md-fab-trigger>
                    <md-button id="mainFab" aria-label="menu" class="md-fab md-primary" md-visible="tooltipVisible">
                        <span class="fa fa-bars"></span>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <div ng-include="activeTab.fabControls"></div>
                </md-fab-actions>
            </md-fab-speed-dial>
            <div class="lonely-fab" ng-include="activeTab.fabControls" ng-if="activeTab.fabControlsCount == 1"></div>
            <div ng-cloak class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-tabs md-no-ink md-stretch-tabs="never" md-dynamic-height md-border-bottom md-selected="selectedTabIndex">
                            <md-tab ng-if="tab.show();" ng-repeat="tab in tabs" label="{{ tab.name }}" md-on-select="switchTab(tab, $index);"><div ng-include="tab.template"></div></md-tab>
                        </md-tabs>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>

