<div class="page page-profile" ng-controller="UserProfileController">

    <div class="row">
        <div class="col-lg-8 clearfix">
        	<h2 class="section-header">User profile</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="md-inline-form">
                                <div layout-padding>
                                    <form name="profile_form" ng-submit="updateUserProfile(user)">
                                    	<div layout layout-sm="column">
                                    		<md-input-container flex>
                                    			<div class="label label-default" data-ng-repeat="role in user.roles" style="margin-right: 5px;">{{role}}</div>
                                        	</md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Username</label>
                                                <input type="text" ng-model="user.username" name="username" disabled/>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>First Name</label>
                                                <input type="text" ng-model="user.firstName" name="firstName"/>
                                            </md-input-container>
                                            <md-input-container flex>
                                                <label>Last Name</label>
                                                <input type="text" ng-model="user.lastName" name="lastName"/>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label>Email</label>
                                                <input type="email" ng-model="user.email" name="email" required ng-pattern="/^.+@.+\..+$/">
                                                <div ng-messages="profile_form.email.$error" ng-if="profile_form.email.$dirty">
		                                            <div ng-message="required" data-translate="VLD_REQUIRED"></div>
		                                            <div ng-message="pattern" data-translate="VLD_PATTERN"></div>
		                                        </div>
                                            </md-input-container>
                                        </div>
                                        <div layout="row">
		                                    <md-button type="submit"
		                                               class="md-raised btn-w-md md-primary"
		                                               ng-disabled="profile_form.$invalid">Save</md-button>
	                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Preferences</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="md-inline-form">
                                <div layout-padding >
                                    <form name="preference_form" ng-submit="updateUserProfile(user);" >
                                        <div layout layout-sm="column">
                                            <md-input-container class="md-block" style="min-width: 450px;">
                                                <label>Default Dashboard</label>
                                                <md-select  ng-model="user.preferences.defaultDashboard" name="defaultDashboard" placeholder="Default Dashboard">
                                                    <md-option ng-repeat="dashboard in dashboards" ng-value="dashboard.title" ng-selected="selectDashboard(dashboard)">{{dashboard.title}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div layout layout-sm="column">
                                            <md-input-container class="md-block"  style="min-width: 450px;">
                                                <label>Widget Refresh Interval</label>
                                                <md-select ng-model="user.preferences.refreshInterval" name="refreshInterval" id="refreshInterval" ng-selected="selectInterval()" type="number" placeholder="Widget Refresh Interval">
                                                    <md-option ng-repeat="interval in widgetRefreshIntervals" ng-value="interval" ng-selected="selectInterval(interval)">{{convertMillis(interval)}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div layout="row">
                                            <md-button type="submit" class="md-raised btn-w-md md-primary">Set</md-button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Change password</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="md-inline-form">
                                <div layout-padding>
                                    <form class="form-validation" name="password_form" ng-submit="updateUserPassword(changePassword); UtilService.untouchForm(password_form);">
                                        <md-input-container  class="md-block">
                                            <label>Password</label>
                                            <input type="password" ng-model="changePassword.password" name="password" required/>
                                            <div ng-messages="password_form.password.$error" ng-if="password_form.password.$dirty">
	                                            <div ng-message="required" data-translate="VLD_REQUIRED"></div>
	                                        </div>
                                        </md-input-container>
                                        <md-input-container  class="md-block">
                                            <label>Repeat</label>
                                            <input type="password" ng-model="changePassword.confirmPassword" name="confirmPassword" required/>
                                            <div ng-messages="password_form.confirmPassword.$error" ng-if="password_form.confirmPassword.$dirty">
	                                            <div ng-message="required" data-translate="VLD_REQUIRED"></div>
	                                        </div>
                                        </md-input-container>
                                        <div layout="row">
		                                    <md-button type="submit"
		                                               class="md-raised btn-w-md md-primary"
		                                               ng-disabled="password_form.$invalid">Change</md-button>
	                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">Access token</h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="md-inline-form">
                                <div layout-padding>
                                    <form class="form-validation" name="access_token_form" ng-submit="generateAccessToken()">
                                        <md-input-container  class="md-block">
                                            <label>Token</label>
                                            <input type="text" ng-model="accessToken" name="accessToken"/>
                                        </md-input-container>
                                        <div layout="row">
		                                    <md-button type="submit" class="md-raised btn-w-md md-primary" style="margin-right: 10px;">Generate</md-button>
		                                    <md-button data-ng-if="accessToken" data-ng-click="copyAccessToken(accessToken)" class="md-raised btn-w-md md-info">Copy</md-button>
	                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</div>
