<zf-modal class="widget-wizard">
    <zf-modal-content-container class="widget-wizard_container">
        <div class="widget-wizard_container_title">
            <div class="widget-wizard_container_title_sub">Step 1</div>
            <div class="widget-wizard_container_title_common">Choose template</div>
        </div>
        <div class="widget-wizard_container_elements">
            <zf-radio-button class="widget-wizard_container_elements_item" ng-repeat="template in templates track by $index" on-change="onChange();" ng-model="widget.template" value="template">
                <div class="widget-wizard_container_elements_item_title"><show-part text="template.name" limit="50"></show-part></div>
                <div class="widget-wizard_container_elements_item_description"><show-part text="template.description" limit="150"></show-part></div>
                <div class="widget-wizard_container_elements_item_icon">
                    <md-icon md-svg-src="{{CHART_ICONS[template.type]}}"></md-icon>
                </div>
            </zf-radio-button>
        </div>
    </zf-modal-content-container>
    <zf-modal-helper-container class="widget-wizard_container-helper">
        <div class="widget-wizard_container-helper_picture">
            <div class="widget-wizard_container-helper_picture_item">
                <div id="chart" data-echarts dataset="widget.template.data.dataset" with-legend="widget.template.useLegend" data-options="widget.template.testModel" style="height: 149px;"></div>
            </div>
            <div class="widget-wizard_container-helper_picture_caption">
                {{widget.template.name}}
            </div>
        </div>
        <div class="widget-wizard_container-helper_actions">
            <md-button class="md-raised btn-w-md md-primary" ng-click="" ng-disabled="">
                Next
            </md-button>
        </div>
    </zf-modal-helper-container>
    <md-icon class="close-button" ng-click="cancel()" aria-label="Close dialog">close</md-icon>
</zf-modal>
