<md-dialog flex="50" aria-label="Project">
    <form class="form-validation" name="project_form" ng-submit="createProject(project); UtilService.untouchForm(project_form)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Project settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout layout-sm="column" layout-align="space-around">
                    <md-input-container flex>
                        <label>Name</label>
                        <input type="text" data-ng-model="project.name" required/>
                    </md-input-container>
                </div>
                <div layout layout-sm="column" layout-align="space-around">
                    <md-input-container flex>
                        <label>Description</label>
                        <input type="text" data-ng-model="project.description" required/>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button data-ng-if="project.id" class="btn btn-danger" data-ng-click="deleteProject(project)">
                Delete
            </md-button>
            <md-button class="btn btn-success" data-ng-disabled="project_form.$invalid">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
